@import "../../../../scss/vars";

.useful_tips{
    margin-bottom: 76px;
    &__title{
        margin-bottom: 21px;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
    }
    &__item{
        margin-left: 20px;
        margin-bottom: 50px;
        width: 375px;
    }
    &__image{
        width: inherit;
        height: 375px;
        position: relative;
        img{
            border: 1px solid transparent;
            width: inherit;
            height: inherit;
            @include bgi;
        }
    }
    &__category{
        position: absolute;
        left: 16px;
        bottom: 14px;
        color: $orange;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        max-width: 350px;
        z-index: 3;
    }
    &__text{
        font-size: 20px;
        @include medium;
        padding: 20px 16px 18px;
    }
    &__rate{
        display: flex;
        padding: 0 16px;
    }
    &__star,
    &__view,
    &__comment{
        margin-right: 30px;
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $order;
        img{
            margin-right: 14px;
        }
    }
}
.useful_tips__item:hover,
.useful_tips__item:active{
    .useful_tips__image img{
        border-color: $orange;
    }
    .useful_tips__text{
        color: $orange;
    }
}
.home__title{
    font-size: 28px;
    @include medium;
}
.story-item__gradient{
    display: none;
}

@media (max-width: 1366px){
    .useful_tips{
        margin-bottom: 50px;
    }
    .useful_tips__item{
        width: 276px;
    }
    .useful_tips__image{
        height: 276px;
    }
    .useful_tips__text{
        font-size: 16px;
        line-height: 21px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .home__title{
        font-size: 24px;
    }
}
@media (max-width: 1024px){
    .useful_tips{
        margin-bottom: 40px;
    }
    .useful_tips__item{
        width: 211px;
        margin-bottom: 30px;
    }
    .useful_tips__image{
        height: 211px;
    }
    .useful_tips__text{
        font-size: 14px;
        line-height: 18px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .useful_tips__rate{
        padding: 0 7px;
    }
}
@media (max-width: 800px){
    .useful_tips__title{
        font-size: 20px;
    }
}
@media (max-width: 440px){
    .useful_tips{
        position: relative;
        margin-bottom: 0;
        &::before{
            position: absolute;
            content: '';
            height: 5px;
            width: 120%;
            top: -9px;
            left: -15px;
            background-color: var(--header);
            z-index: 5;
        }
    }
    .useful_tips__title{
        font-size: 13px;
        margin-bottom: 11px;
    }
    .useful_tips__item:hover,
    .useful_tips__item:active{
        .useful_tips__image img{
            border-color: transparent;
        }
        .useful_tips__text{
            color: var(--label);
        }
    }
    .useful_tips__itemswrapper{
        position: relative;
        width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar { width: 0; }
    }
    .useful_tips__items{
        position: relative;
        flex-wrap: nowrap;
        width: max-content;
        min-width: max-content;
    }
    .useful_tips__item{
        width: 88px;
        height: 119px;
        margin-left: 18px;
        margin-bottom: 22px;
    }
    .useful_tips__image{
        height: 87px;
    }
    .useful_tips__text,
    .useful_tips__category{
        font-size: 7px;
        line-height: 130%;
    }
    .useful_tips__text{
        padding: 5px 5px 0;
        height: 32px;
        overflow-y: hidden;
    }
    .useful_tips__category{
        left: 6px;
        bottom: 6px;
        max-width: 76px;
    }
    .useful_tips__rate{
        display: none;
    }
    .story-item__gradient{
        display: block;
        top: 0;
        height: 155px;
        position: absolute;
        right: -3px;
        z-index: 5;
        width: 70px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
}












.shine_effect {
    background-color: var(--loading-p) !important;
}

/* Shine */
.shine_effect:after {
	content:'';
  	top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine 2s infinite;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
}

/* animation */

@keyframes shine {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}