<div class="useful_tips">
    <div class="story-item__gradient"></div>
    <div class="useful_tips__title home__title">
        Useful tips
    </div>
    <div class="useful_tips__itemswrapper">
        <div class="useful_tips__items">
            <a class="useful_tips__item" href="#" *ngFor="let blog of allBlogs">
                <div class="useful_tips__image">
                    <img src="/assets/articles/{{blog.image.name}}" alt="">
                    <div class="useful_tips__category">
                        {{blog.article_type ? blog.article_type : blog.country}}
                    </div>
                </div>
                <div class="useful_tips__text">
                    {{blog.name}}
                </div>
                <div class="useful_tips__rate">
                    <div class="useful_tips__star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>{{blog.score}}</span>
                    </div>
                    <div class="useful_tips__view">
                        <img src="/assets/icons/view.svg" alt="">
                        <span>{{blog.view}}</span>
                    </div>
                </div>
            </a>
            <div class="useful_tips__item" style="overflow: hidden;" *ngFor="let i of loadingArray">
                <div class="useful_tips__image shine_effect" style="border: none;position: relative;">&nbsp;</div>
                <div class="useful_tips__text shine_effect" style="border: none; position: relative;padding: 0;margin: 15px 0;">&nbsp;</div>
                <div class="useful_tips__rate shine_effect" style="border: none; position: relative;padding: 0;margin: 15px 0;width:50%;">&nbsp;</div>
            </div>       
        </div>
    </div>
</div>
