@import "../../../scss/vars";

.product__item{
    display: flex;
    margin-bottom: 134px;
    align-items: center;
}
.product__slider{
    width: 179px;
    display: flex;
    flex-direction: column;
    margin-right: 53px;
    &-arrow{
        width: 29px;
        height: 16px;
        margin: 0 auto;
        cursor: pointer;
        img{
            width: inherit;
        }
    }
    &-images{
        display: flex;
        flex-direction: column;
    }
    &-image{
        width: 179px;
        height: 179px;
        border: 1px solid $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            padding: 16px;
            height: inherit;
        }
        & + &{
            margin-top: 20px;
        }
    }
}
.slider-arrow_up{
    margin-bottom: 20px;
}
.slider-arrow_down{
    margin-top: 20px;
}
.product__image{
    width: 639px;
    height: 639px;
    border: 1px solid $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 66px;
    img{
        padding: 58px;
        height: inherit;
    }
}
.product__info{
    padding: 40px 0;
    max-width: 420px;
    width: 100%;
    &-code{
        color: $order;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 8px;
        span{
            color: var(--label);
            margin-left: 15px;
        }
    }
    &-box{
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    &-name{
        font-size: 28px;
        margin-right: 29px;
    }
    .favourites__content-like{
        align-self: flex-end;
    }
    .useful_tips__rate{
        margin-bottom: 30px;
    }
    &-price{
        font-size: 40px;
        line-height: 48px;
        @include medium;
        margin-bottom: 12px;
        span{
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
    }
    &-links{
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-bottom: 38px;
    }
    &-add{
        color: #fff;
        background-color: $orange;
        padding: 9px 29px 14px;
        margin-right: 30px;
        &:hover{
            background-color: #FB8644;
        }
        &:active{
            background-color: #C34F0D;
        }
        span{
            display: none;
        }
    }
    &-buy{
        color: $orange;
    }
}
.product__type{
    display: flex;
    margin-bottom: 11px;
    &-delivery{
        margin: 39px 0;
    }
    &-name{
        width: 40%;
        color: $order;
    }
    &-info{
        width: 60%;
        margin-left: 10px;
    }
}
.useful_tips{
    &__rate{
        display: flex;
        padding: 0 16px;
    }
    &__star,
    &__view,
    &__comment{
        margin-right: 30px;
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $order;
        img{
            margin-right: 14px;
        }
    }
}

.product__tabs{
    max-width: 1034px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    &-top{
        display: flex;
    }
}
.tabs-top__item{
    display: inline;
    font-size: 28px;
    color: $order;
    @include medium;
    position: relative;
    cursor: pointer;
    margin-bottom: 26px;
    span{
        vertical-align: super;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    & + &{
        margin-left: 75px;
    }
}
.tabs-top__item.tabs-top__item--active{
    color: var(--label);
}
.tabs-bottom__comments{
    padding-bottom: 60px;
}
.tabs-bottom__item.tabs-bottom__item--active{
    display: block;
}
.info-main__title,
.story-item__gradient{
    display: none;
}

@media (max-width: 1770px){
    .product__image{
        width: 474px;
        height: 474px;
        margin-right: 47px;
        img{
            padding: 43px;
        }
    }
    .product__slider-image{
        width: 131px;
        height: 131px;
        img{
            padding: 12px;
        }
    }
    .product__slider{
        margin-right: 43px;
        width: 131px;
        height: 100%;
    }
    .product__slider-image+.product__slider-image {
        margin-top: 15px;
    }
    .product__info{
        padding: 8px 0 0;
    }
    .product__info-main{
        font-size: 16px;
        line-height: 19px;
    }
}
@media (max-width: 1266px){
    .product .container{
        padding: 0 60px;
    }
    .product__image{
        width: 441px;
        height: 441px;
        img{
            padding: 39px;
        }
    }
    .product__item{
        flex-wrap: wrap;
        margin-bottom: 56px;
        align-items: flex-start;
    }
    .product__slider{
        width: 100%;
        flex-direction: row;
        order: 3;
        margin-top: -46px;
    }
    .product__slider-images{
        flex-direction: row;
    }
    .product__slider-image{
        width: 101px;
        height: 101px;
        img{
            padding: 9px;
        }
    }
    .product__slider-image+.product__slider-image {
        margin-top: 0;
        margin-left: 18px;
    }
    .product__info{
        padding-top: 0;
    }
    .product__tabs{
        max-width: 904px;
    }
}
@media (max-width: 1120px){
    .product__info{
        max-width: 400px;
    }
}
@media (max-width: 1024px){
    .useful_tips__rate{
        padding: 0 7px;
    }
}
@media (max-width: 960px){
    .product__item{
        overflow-x: hidden;
        position: relative;
    }
    .product__image{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .product__slider{
        justify-content: center;
        order: 2;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .product__info{
        order: 3;
        .useful_tips__rate{
            margin-bottom: 0;
        }
    }
    .product__info-main{
        max-width: 100%;
        z-index: 4;
    }
    .favourites__content-like{
        position: absolute;
        top: 0;
        right: 20px;
    }
    .useful_tips__rate{
        display: block;
        padding: 0;
        position: absolute;
        top: 0;
        left: 20px;
    }
    .useful_tips__star,
    .useful_tips__view{
        margin-bottom: 6px;
    }
    .tabs-top__item{
        font-size: 24px;
        & + &{
            margin-left: 25px;
        }
    }
}
@media (max-width: 800px){
    .product .container{
        padding: 0 20px;
    }
}
@media (max-width: 680px){
    .product__item{
        margin-bottom: 0;
    }
    .product__image{
        width: 55%;
        height: 300px;
    }
    .product__slider-image{
        width: 66px;
        height: 66px;
    }
    .product__info-name{
        font-size: 20px;
    }
    .product__info-price{
        font-size: 32px;
    }
    .product__info-add,
    .product__info-buy{
        font-size: 16px;
        padding: 5px 18px 8px;
    }
    .tabs-top__item{
        font-size: 20px;
        margin-bottom: 10px;
        span{
            font-size: 16px;
        }
    }
    .product__type-delivery {
        margin: 25px 0 35px;
    }
    .useful_tips__rate{
        & > div{
            font-size: 16px;
        }
    }
}
@media (max-width: 560px){
    .tabs-top__item{
        font-size: 16px;
        span{
            font-size: 14px;
        }
        & + &{
            margin-left: 16px;
        }
    }
}
@media (max-width: 440px){
    .product__inner{
        overflow-x: hidden;
    }
    .product .container{
        padding: 0;
    }
    .product__item{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .product__image{
        border: none;
        height: 141px;
        margin-top: 18px;
        img{
            padding: 0;
        }
    }
    .favourites__content-like{
        width: 15px;
        img{
            width: inherit;
        }
    }
    .useful_tips__rate{
        & > div{
            font-size: 11px;
            margin-right: 0;
            margin-bottom: 5px;
        }
        img{
            margin-right: 5px;
        }
    }
    .useful_tips__star img{
        width: 13px;
    }
    .useful_tips__view img{
        width: 16px;
    }
    .useful_tips__comment img{
        width: 14px;
    }
    .product__info-code{
        display: none;
    }
    .product__info-links{
        position: fixed;
        width: 100%;
        height: 47px;
        bottom: 0;
        margin-left: -20px;
        margin-bottom: 0;
        background-color: var(--bg);
        z-index: 9;
        padding: 9px 0;
        justify-content: center;
        align-items: center;
    }
    .product__info-buy{
        order: 1;
        margin-right: 18px;
        padding: 0;
        font-size: 11px;
    }
    .product__info-add{
        order: 2;
        margin-right: 0;
        padding: 8px 17px 9px;
        font-size: 11px;
        span{
            display: inline-block;
            margin-left: 7px;
        }
    }
    .product__info-price{
        position: absolute;
        right: 20px;
        bottom: 155px;
        font-size: 18px;
        span{
            display: none;
        }
    }
    .product__slider-image{
        width: 6px;
        height: 6px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        border: none;
        &::before{
            position: absolute;
            content: '';
            background-color: var(--link);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
        & + &{
            margin-left: 5px;
        }
    }
    .product__slider-image.active{
        &::before{
            background-color: $orange;
        }
    }
    .product__info-main{
        max-width: 115%;
        padding: 14px 20px 24px;
        font-size: 11px;
        line-height: 15px;
        background-color: var(--header);
        margin-left: -20px;
        margin-right: -25px;
    }
    .info-main__title{
        display: block;
        font-size: 13px;
        @include medium;
        margin-bottom: 12px;
    }
    .product__info-name{
        font-size: 11px;
    }
    .product__type{
        margin-bottom: 5px;
    }
    .product__type-delivery{
        margin-top: 13px;
        margin-bottom: 0;
    }
    .product__tabs{
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    .product__tabs-topwrapper{
        width: 115%;
        overflow-x: auto;
        margin-bottom: 8px;
        margin-left: -20px;
        margin-right: -25px;
        padding-left: 20px;
        &::-webkit-scrollbar { height: 0; }
    }
    .product__tabs-top{
        margin-top: 12px;
        width: 110%;
    }
    .tabs-top__item{
        font-size: 13px;
        margin-bottom: 0;
        span{
            vertical-align: middle;
            font-size: 13px;
            margin-left: 3px;
            font-weight: 500;
            color: var(--link);
        }
        & + &{
            margin-left: 13px;
        }
        &.tabs-top__item--active{
            span{
                color: $order;
            }
        }
    }
    .story-item__gradient{
        display: block;
        top: 0;
        height: 35px;
        position: absolute;
        right: 0;
        z-index: 3;
        width: 30px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .story-item__gradient--left{
        left: 0;
        right: auto;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .product__recommend-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
}