<bread-crumbs></bread-crumbs>
<section class="product">
    
    <div class="container">
        <div class="product__inner">
            <div class="product__item">
                <div class="product__slider">
                    <div class="product__slider-images">
                        <ng-container *ngFor="let img of images; let i=index">
                            <a class="product__slider-image" [ngClass]="{'active' : i === imageCounter}" (click)="imageCounter=i">
                                <img src="{{img}}" alt="">
                            </a>
                        </ng-container>
                    </div>
                </div>
                <a class="product__image" (touchend)="changeImage($event)" [@animateImageSlider]="imageCounter">                   
                    <ng-container *ngFor="let img of images; let i=index">
                        <img src="{{img}}" alt="" *ngIf="i === imageCounter">
                    </ng-container>
                </a>
                <div class="product__info">
                    <div class="product__info-code">
                        Product code
                        <span>13671381</span>
                    </div>
                    <div class="product__info-box">
                        <div class="product__info-name">
                            Marlboro - Red
                        </div>
                        <div class="favourites__content-like icon-heart">
                            <img src="/assets/icons/like.svg" alt="">
                        </div>
                    </div>
                    <div class="useful_tips__rate">
                        <div class="useful_tips__star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="useful_tips__view">
                            <img src="/assets/icons/view.svg" alt="">
                            <span>482</span>
                        </div>
                        <div class="useful_tips__comment">
                            <img src="/assets/icons/comment.svg" alt="">
                            <span>21</span>
                        </div>
                    </div>
                    <div class="product__info-price">
                        $ 10.55
                        <span>per pack</span>
                    </div>
                    <div class="product__info-links">
                        <a class="product__info-add" href="#">
                            Add to cart
                            <span>$ 10.55</span>
                        </a>
                        <a class="product__info-buy" href="#">
                            Buy now
                        </a>
                    </div>
                    <div class="product__info-main">
                        <div class="info-main__title">
                            Specifications
                        </div>
                        <div class="product__type">
                            <div class="product__type-name">
                                Type
                            </div>
                            <div class="product__type-info">
                                Cigarettes
                            </div>
                        </div>
                        <div class="product__type">
                            <div class="product__type-name">
                                Brand
                            </div>
                            <div class="product__type-info">
                                Marlboro
                            </div>
                        </div>
                        <div class="product__type">
                            <div class="product__type-name">
                                Tough
                            </div>
                            <div class="product__type-info">
                                Easy
                            </div>
                        </div>
                        <div class="product__type">
                            <div class="product__type-name">
                                Color
                            </div>
                            <div class="product__type-info">
                                Red
                            </div>
                        </div>
                        <div class="product__type product__type-delivery">
                            <div class="product__type-name">
                                Delivery
                            </div>
                            <div class="product__type-info">
                                Approximately January 9
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START TABS -->

            <div class="product__tabs">
                <div class="product__tabs-topwrapper">
                    <div class="story-item__gradient story-item__gradient--left"></div>
                    <div class="story-item__gradient"></div>
                    <div class="product__tabs-top">
                        <div class="tabs-top__item" [ngClass]="{'tabs-top__item--active': currentTab == 'comment'}" (click)="showTab('comment')"> 
                            Comments
                            <span>21</span>
                        </div>
                        <div class="tabs-top__item" [ngClass]="{'tabs-top__item--active': currentTab == 'reviews'}" (click)="showTab('reviews')">
                            Reviews
                            <span>3</span>
                        </div>
                        <div class="tabs-top__item" [ngClass]="{'tabs-top__item--active': currentTab == 'qa'}" (click)="showTab('qa')">
                            Question — answer
                            <span>7</span>
                        </div>
                    </div>
                </div>
                <div class="product__tabs-bottom">
                    <div class="tabs-bottom__item" *ngIf="currentTab == 'comment'">
                        <product-comments></product-comments>
                    </div>
                    <div class="tabs-bottom__item" *ngIf="currentTab == 'reviews'">
                        <product-reviews></product-reviews>
                    </div>
                    <div class="tabs-bottom__item" *ngIf="currentTab == 'qa'">
                        <product-qa></product-qa>
                    </div>
                </div>
            </div>
            <!-- END TABS -->
            <div class="product__recommend-wrapper">
                <home-recommend></home-recommend>
            </div>
        </div>
        <go-up></go-up>
    </div>
</section>
