<div class="favourites__content">
    <div class="favourites__content-inner">
        <div class="favourites__content-title">
            My favourites
            <span>32</span>
        </div>
        <div class="favourites__content-dates">
            <div class="favourites__content-date favourites__content-date--active">
                2021
            </div>
            <div class="favourites__content-date">
                2022
            </div>
            <div class="favourites__content-date">
                2023
            </div>
        </div>
    </div>
    <div class="favourites__content-items">
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_1.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 9.67
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Classic Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_2.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 8.10
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Lucky Strike Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_3.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart">
                        <img src="/assets/icons/like.svg" alt=""> 
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 10.55
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Marlboro - Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_1.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 9.67
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Classic Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_2.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 8.10
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Lucky Strike Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_3.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 10.55
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Marlboro - Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_1.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 9.67
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Classic Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_2.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 8.10
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Lucky Strike Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_3.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 10.55
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Marlboro - Red
                </div>
            </div>
        </a>
        <div class="profile__content-boxes--small">
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="favourites__content-more">
        <img src="/assets/icons/sigarettes.svg" alt="">
    </div>
</div>