<div class="header-bottom">
    <div class="burger-menu" [@burgerMenuAnimation]="burgerStatus" (@burgerMenuAnimation.start)="animationStarted($event)">
        <nav class="header-bottom__menu header-bottom__menu--small">
            <ul class="bottom__menu-list">
                <li class="bottom__menu-item" *ngIf="isLoggedIn()">
                    <a href="#" routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li class="bottom__menu-item">
                    <a href="#" routerLink="/shop" routerLinkActive="active">Shop</a>
                </li>
                <li class="bottom__menu-item">
                    <a href="#" routerLink="/blogs" routerLinkActive="active">Blog</a>
                </li>
                <li class="bottom__menu-item">
                    <a href="#" routerLink="/who-we-are" routerLinkActive="active">About</a>
                </li>
            </ul>
        </nav>
        <nav class="header-top__menu">
            <ul class="top__menu-list">
                <li class="top__menu-item">
                    <a href="#" routerLink="/contactus" routerLinkActive="active">Contacts</a>
                </li>
                <li class="top__menu-item">
                    <a href="#" routerLink="/faq" routerLinkActive="active">FAQs</a>
                </li>
                <li class="top__menu-item">
                    <a href="#" routerLink="/delivery" routerLinkActive="active">Delivery</a>
                </li>
                <li class="top__menu-item">
                    <a href="#" routerLink="/bulk" routerLinkActive="active">Bulk</a>
                </li>
            </ul>
        </nav>
        <div class="header-bottom__login header-bottom__login--small" *ngIf="isLoggedOut()">
            <a class="login__btn btn" routerLink="/login" href="#">Login</a>
        </div>

        <!--header-bottom__login--off-->
        <div class="header-bottom__logout " *ngIf="isLoggedIn()" >
            <a class="bottom__logout" href="#" (click)="logout()">
                Log out
            </a>
            <a class="bottom__delete" href="#" (click)="deleteAccount()">
                Delete an account
            </a>
        </div>

        <a class="header-bottom__link icon-moon icon-moon--small" (click)="changeTheme()">
            <img src="/assets/i/sun.svg" *ngIf="themeService.isDarkTheme()" alt="">
            <img src="/assets/i/moon.svg" *ngIf="themeService.isWhiteTheme()" alt="">
        </a>
    </div>
    <div class="container">
        <div class="header-bottom__inner">
            <div class="header-menu__burger" (click)="toggleBurger()">
                <span class="burger-top" [@burgerTopAnimation]="{value: burgerStatus, params:{top: burgerTopAnimation_Top}}" (@burgerTopAnimation.start)="animationStarted($event)" ></span>
                <span class="burger-bottom" [@burgerBottomAnimation]="{value: burgerStatus, params:{bottom: burgerBottomAnimation_Bottom}}" (@burgerBottomAnimation.start)="animationStarted($event)" ></span>
            </div>
            <a class="header-bottom__logo" href="#"  routerLink="/" >
                <img src="/assets/logo_white.svg" *ngIf="themeService.isDarkTheme()" alt="">
                <img src="/assets/logo_dark.svg" *ngIf="themeService.isWhiteTheme()" alt="">
            </a>
            <nav class="header-bottom__menu">
                <ul class="bottom__menu-list">
                    <li class="bottom__menu-item">
                        <a href="#" routerLink="/shop" routerLinkActive="active">Shop</a>
                    </li>
                    <li class="bottom__menu-item">
                        <a href="#" routerLink="/blogs" routerLinkActive="active">Blog</a>
                    </li>
                    <li class="bottom__menu-item">
                        <a href="#" routerLink="/who-we-are" routerLinkActive="active">About</a>
                    </li>
                </ul>
            </nav>
            <header-search class="header-bottom__searchwrapper"></header-search>
            <div class="header-bottom__links">
                <a class="header-bottom__link icon-search" href="#">
                    <img src="{{ icons.search[themeService.getActiveThemeName()] }}" alt="">
                </a>
                <a class="header-bottom__link icon-bitcoin" href="#" routerLink="/pgp" routerLinkActive="active">
                    <img src="{{ icons.bitcoin[themeService.getActiveThemeName()] }}" alt="">
                </a>
                <a class="header-bottom__link icon-moon" (click)="changeTheme()">
                    <img src="/assets/i/sun.svg" *ngIf="themeService.isDarkTheme()" alt="">
                    <img src="/assets/i/moon.svg" *ngIf="themeService.isWhiteTheme()" alt="">
                </a>
                <a class="header-bottom__link icon-heart" href="#" routerLink="/profile/favourites" routerLinkActive="active">
                    <img src="{{ icons.heart[themeService.getActiveThemeName()] }}" alt="">
                </a>
                <a class="header-bottom__link icon-basket" href="#" routerLink="/cart" routerLinkActive="active">
                    <img src="{{ icons.cart[themeService.getActiveThemeName()] }}" alt="">
                    <span>14</span>
                </a>
            </div>
            <div class="header-bottom__login" *ngIf="isLoggedOut()">        
                <a class="login__btn btn" routerLink="/login" href="#">Login</a>
            </div>

            <!--header-bottom__login--off-->
            <div class="header-bottom__login" *ngIf="isLoggedIn()">
                <a class="header-bottom__settings icon-gear" href="#" routerLink="/profile" routerLinkActive="active">
                    <img src="/assets/icons/settings.svg" alt="">
                </a>
                <a class="header-bottom__photo" href="#" (click)="logout()">
                    <img src="/assets/images/profile.jpg" alt="">
                    <span class="header-bottom__star">
                        <img src="/assets/icons/header-star.svg" alt="">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>