@import "../../../../scss/vars";

.header-bottom{
    position: relative;
    background-color: var(--header);
    &__inner{
        position: relative;
        min-height: 127px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 36px 0;
        background-color: var(--header);
        z-index: 22;
    }
    &__logo{
        display: block;
        width: 47px;
        height: auto;
        margin-right: 75px;
        img{
            width: inherit;
            height: inherit;
            @include bgi;
        }
    }
    &__links{
        max-width: 215px;
        width: 100%;
        margin-top: 5px;
        margin-left: 91px;
    }
    &__menu{
        margin-right: 81px;
    }
    &__link{
        vertical-align: middle;
        & + .header-bottom__link{
            margin-left: 24px;
        }
        img{
            width: inherit;
            height: inherit;
        }
        span{
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-left: 5px;
            vertical-align: top;
        }
    }
    &__login{
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
    &__settings{
        width: 22px;
        height: 22px;
    }
    &__photo{
        width: 47px;
        height: 47px;
        border-radius: 50%;
        margin-left: 26px;
        position: relative;
        & > img{
            width: inherit;
            height: inherit;
            border-radius: 50%;
            overflow: hidden;
        }
        span{
            width: 19px;
            height: 19px;
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            left: -1px;
            bottom: -1px;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 11px;
                height: 10px;
                @include bgi;
            }
        }
        .header-bottom__star{
            display: none;
        }
    }
    &__searchwrapper{
        max-width: 610px;
        width: 100%;
    }
}
.header-bottom{
    .header-bottom__login--off{
        display: none;
    }
    .header-bottom__login--on{
        display: flex;
    }
}
.icon-search{
    display: none;
}
.bottom__menu-item{
    display: inline-block;
    a,
    span{
        font-size: 20px;
        line-height: 24px;
        &:hover,
        &:active{
            color: $orange;
        }
    }
    & + .bottom__menu-item{
        margin-left: 68px;
    }
}
.header-menu__burger{
    display: none;
}
.btn{
    &:hover{
        background-color: var(--hover);
        color: var(--bg);
    }
    &:active{
        background-color: var(--label);
        color: var(--bg);
    }
}
@media (max-width: 1750px){
    .header-bottom__menu{
        margin-right: 41px;
    }
}
@media (max-width: 1730px){
    .bottom__menu-item{
        margin-left: 36px;
        & + &{
            margin-left: 33px;
        }
    }
    .header-bottom__logo{
        margin-right: 0;
    }
    .header-bottom__search{
        max-width: 415px;
    }
    .header-bottom__menu{
        margin-right: 50px;
    }
    .header-bottom__links{
        margin-left: 51px;
    } 
    .header-bottom__search{
        max-width: inherit;
    }
    .header-bottom__searchwrapper{
        max-width: 415px;
    }
}
@media (max-width: 1530px){
    .header-bottom__search{
        input,
        button{
            height: 44px;
        }
        button{
            top: 2px;
        }
    }
    .header-bottom__searchwrapper{
        margin-right: 15px;
    }
    .header-bottom__login{
        margin-left: 7px;
    }
}
@media (max-width: 1385px){
    .header-bottom__links{
        margin-left: 35px;
    }
    .header-bottom__menu{
        margin-right: 38px;
    }
}
@media (max-width: 1366px){
    .bottom__menu-item a,
    .bottom__menu-item span{
        font-size: 18px;
        line-height: 22px;
    }
    .header-bottom__inner{
        min-height: 96px;
        padding: 22px 0;
    }
    .icon-moon{
        width: 17px;
    }
    .icon-heart{
        width: 21px;
    }
    .icon-basket img{
        width: 23px;
    }
}
@media (max-width: 1345px){
    .container{
        padding: 0 60px;
    }
    .header-bottom__inner{
        flex-wrap: wrap;
    }
    .header-bottom__links{
        max-width: 230px;
        margin-left: 22%;
    }
    .header-bottom__login{
        margin-left: 17px;
    }
    .icon-search{
        display: inline-block;
        width: 17px;
    }
    .icon-heart{
        width: 21px;
    }
    .header-bottom__searchwrapper{
        display: none;
        max-width: 595px;
        order: 6;
        margin: 47px auto 0;
    }
}
@media (min-width: 1020px){
    .header-bottom__link.icon-basket--small{
        img{
            width: 28px;
        }
    }
}
@media (max-width: 1015px){
    .header-bottom__links{
        margin-left: 11%;
    }
}
@media (max-width: 995px){
    .header-bottom__login {
        margin-left: 6px;
    }
}
@media (max-width: 905px){
    .bottom__menu-item {
        margin-left: 20px;
    }
    .bottom__menu-item + .bottom__menu-item {
        margin-left: 16px;
    }
    .header-bottom__links {
        margin-left: 3%;
    }
}


// MOBILE VERSION

@media (max-width: 768px){
    .container{
        padding: 0 27px;
    }
    .icon-moon{
        display: none;
    }
    .header-bottom__links{
        max-width: none;
        width: auto;
    }
    .header-bottom__login,
    .header-bottom__menu{
        display: none;
    }
    .header-bottom__links{
        margin-left: 0;
        margin-top: 0;
    }
    .header-menu__burger{
        display: block;
        width: 56px;
        height: 12px;
        position: relative;
        margin-bottom: 7px;
        span{
            position: absolute;
            content: '';
            left: 0;
            background-color: var(--label);
            width: 28px;
            height: 3px;
            border-radius: 2px;
        }
    }
    .burger-top{
        top: 0;
    }
    .burger-bottom{
        bottom: 0;
    }
    .header-menu__burger.active{
        .burger-top{
            transform: rotate(45deg);
            top: 5px;
        }
        .burger-bottom{
            transform: rotate(-45deg);
            bottom: 4px;
        }
    }
    .header-bottom__logo{
        margin-left: 75px;
    }
    .header-bottom__searchwrapper{
        display: none;
    }
    .burger-menu{
        //display: none;
        position: absolute;
        top: 86px;
        left: 0;
        right: 0;
        min-height: 555px;
        background-color: var(--header);
        text-align: center;
        padding: 40px;
        z-index: 15;
    }
    .header-bottom__menu.header-bottom__menu--small{
        display: block;
        margin-bottom: 30px;
        margin-right: 0;
        .bottom__menu-item{
            display: block;
            margin-left: 0;
            margin-bottom: 11px;
        }
    }
    .icon-moon.icon-moon--small,
    .header-bottom__login.header-bottom__login--small{
        display: block;
    }
    .icon-moon--small{
        width: 18px;
        margin: 38px auto 0;
    }
    .header-bottom__login--small{
        padding: 42px 0 32px;
    }
    .bottom__menu-item + .bottom__menu-item{
        margin-left: 0;
    }
    .top__menu-item{
        margin-bottom: 11px;
        a,
        span{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            &:hover,
            &:active{
                color: $orange;
            }
        }
    }
    .header-bottom__logout{
        padding: 19px 0;
        a{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 13px;
            display: block;
        }
    }
    .bottom__logout{
        color: $grey;
    }
    .bottom__delete{
        color: var(--link);
    }
}
@media (max-width: 440px){
    .container{
        padding: 0 12px;
    }
    .header-bottom__inner {
        min-height: 61px;
        padding: 9px 0;
        align-items: flex-end;
    }
    .header-bottom__link + .header-bottom__link {
        margin-left: 16px;
    }
    .icon-search {
        width: 13px;
    }
    .icon-bitcoin{
        width: 9px;
    }
    .icon-heart{
        width: 16px;
    }
    .icon-basket{
        margin-top: -3px;
        img{
            width: 14px;
        }
        span{
            font-size: 11px;
            vertical-align: middle;
        }
    }
    .header-bottom__logo{
        width: 20px;
        margin-left: 55px;
    }
    .header-menu__burger{
        height: 7px;
        span{
            width: 18px;
        }
        .burger-top,
        .burger-bottom{
            height: 2px;
        }
    }
    .header-menu__burger.active{
        .burger-top{
            top: 2px;
        }
        .burger-bottom{
            bottom: 3px;
        }
    }
    .burger-menu{
        top: 60px;
    }
    .header-bottom__logout{
        a{
            font-size: 14px;
        }
    }
    .icon-moon--small{
        width: 14px;
    }
}

@media (min-width: 769px){
    .header-menu__burger,
    .burger-menu{
        display: none !important;
    }
}