<form class="header-bottom__search">
    <input class="input" type="text"  name="header-search"> <!--[(ngModel)]="header-search"-->
    <button type="submit">
        <img src="/assets/icons/search.svg" alt="">
    </button>
</form>