@import "../../../../scss/vars";

.header-bottom{
    &__search{
        max-width: inherit;
        width: inherit;
        position: relative;
        input{
            max-width: inherit;
            width: inherit;
            height: 47px;
            padding: 12px 16px 12px 50px;
            background-color: transparent;
            border: 1px solid $grey;
            margin-bottom: 0;
        }
        button{
            width: 47px;
            height: 47px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: transparent;
        }
    }
}
.icon-search{
    display: none;
}
@media (max-width: 1345px){
    .header-bottom__search{
        input{
            border-color: var(--label);
            color: var(--label);
            padding-left: 16px;
            font-weight: 400;
        }
        button{
            display: none;
        }
    }
}