@import "../../../../scss/vars";

.order{
    &__content{
        min-width: 1187px;
        position: relative;
        &-inner{
            margin-left: 20px;
        }
        &-top{
            margin-bottom: 24px;
        }
        &-list{
            color: $blue;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-bottom: 6px;
        }
        &-number{
            font-size: 24px;
            @include medium;
            margin-bottom: 7px;
            span{
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 18px;
                vertical-align: top;
            }
        }
        &-date{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        &-box{
            border: 1px solid $grey;
            padding: 32px 45px;
            margin-bottom: 32px;
        }
        &-select{
            font-size: 22px;
            @include medium;
            color: var(--label);
            margin-bottom: 10px;
        }
        &-contacts{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &-contact{
            min-width: 330px;
            li{
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                color: $grey;
                margin-bottom: 9px;
            }
        }
        &-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
        }
        &-summ{
            font-size: 22px;
            @include medium;
            color: $grey;
            margin-right: 5px;
            span{
                color: var(--label);
                margin-left: 21px;
            }
        }
        &-status{
            font-size: 16px;
            @include medium;
            padding: 7px 16px 10px;
            margin-right: 75px;
        }
        &-about{
            font-size: 20px;
            color: $grey;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-right: 5px;
            span{
                color: var(--label);
                margin-left: 16px;
            }
        }
        &-repeat{
            color: $blue;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-left: 80px;
        }
    }
}
.order__content-status.order__content-status--delivered{
    color: var(--bg);
    background-color: var(--status);
}
.order__content-status.order__content-status--canceled{
    color: #E31717;
    background-color: #FF9F9F;
}
.order__content-status.order__content-status--purchased{
    color: $green;
    background-color: #B4E3AC;
}
.order__content-status.order__content-status--shipped{
    color: $orange;
    background-color: #FFBA94;
}
.order__content-country{
    display: flex;
    justify-content: flex-end;
}
.order__content-contact.contact-country{
    min-width: 150px;
    margin-right: 10px;
}
.order__items-wrapper{
    margin-right: -20px;
}
.order__content-status.order__content-status--small{
    display: none;
}
.favourites{
    &__content{
        &-items{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-left: 0;
        }
        &-item{
            margin-left: 20px;
            margin-bottom: 70px;
            max-width: 375px;
            width: 100%;
            position: relative;
            display: block;
        }
        &-top{
            border: 1px solid $grey;
            height: 375px;
        }
        &-image{
            width: 190px;
            height: 305px;
            margin: 37px auto -14px;
            img{
                @include bgi;
                width: inherit;
                height: inherit;
            }
        }
        &-rate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 27px 27px;
        }
        &-star{
            display: flex;
            align-items: center;
            span{
                margin: 0 8px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
        &-bottom{
            padding: 15px 18px 0;
        }
        &-price{
            font-size: 30px;
            @include medium;
            margin-bottom: 16px;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
        }
    }
}
.profile__content-boxes--small{
    display: none;
}
.orders__link{
    display: none;
    position: absolute;
    top: -93px;
    left: 7px;
    background-color: var(--header);
    font-size: 14px;
    font-family: 'Golos-Medium', sans-serif;
    font-weight: 500;
    padding: 10px 10px 10px 28px;
    z-index: 10;
    &::before{
        position: absolute;
        content: '';
        left: 13px;
        top: 15px;
        width: 5px;
        height: 10px;
        background-image: url(/assets/icons/arrow-left.svg);
    }
}

@media (max-width: 1770px){
    .order__content{
        min-width: 900px;
    }
    .order__content-status{
        margin-right: 0;
    }
    .order__content-repeat{
        margin-left: 0;
    }
}
@media (max-width: 1530px){
    .order__content{
        min-width: 840px;
    }
    .order__content-inner{
        width: 40%;
    }
    .order__content-box{
        width: 506px;
        position: absolute;
        top: 0;
        right: 0;
        li{
            line-height: 23px;
        }
    }
    .order__content-contacts,
    .order__content-country,
    .order__content-info{
        display: block;
    }
    .order__content-info{
        margin-bottom: 0;
    }
    .order__content-status,
    .order__content-summ{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
    .order__content-summ{
        margin-right: 25px;
        font-size: 20px;
    }
    .order__content-about{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .order__content-repeat{
        margin: 50px 0 42px;
    }
    .order__content-contact{
        min-width: 100%;
    }
    .order__content-contact.contact-country{
        margin-top: 28px;
    }
    .order__content-top{
        margin-bottom: 36px;
    }
}
@media (max-width: 1430px){
    .order__content{
        min-width: 800px;
    }
    .order__content-box{
        width: 405px;
    }
}
@media (max-width: 1366px){
    .favourites__content-items{
        margin-left: 0;
    }
    .favourites__content-inner{
        margin-left: 20px;
    }
    .favourites__content-item{
        max-width: 276px;
        margin-bottom: 50px;
    }
    .favourites__content-top{
        height: 277px;
    }
    .favourites__content-image{
        width: 136px;
        height: 222px;
        margin: 27px auto -34px;
    }
    .favourites__content-rate{
        align-items: flex-end;
    }
    .favourites__content-star{
        display: block;
        span{
            display: block;
            margin: 0;
        }
        img{
            margin: 0 3px;
        }
    }
    .favourites__content-bottom{
        padding-top: 13px;
    }
    .order__content{
        min-width: 890px;
    }
    .order__content-box{
        width: 506px;
    }
    .order__content-inner{
        width: 35%;
    }
    .order__content-summ{
        display: block;
    }
    .order__content-repeat{
        margin: 20px 0 37px;
    }
}
@media (max-width: 1355px){
    .order__content{
        min-width: 800px;
    }
    .order__content-box{
        width: 405px;
    }
}
@media (max-width: 1150px){
    .order__content{
        min-width: 670px;
    }
}
@media (max-width: 1024px){
    .favourites__content-item{
        max-width: 211px;
        margin-left: 12px;
    }
    .favourites__content-image {
        width: 103px;
        height: 169px;
        margin: 21px auto -43px;
    }
    .favourites__content-top{
        height: 210px;
    }
    .favourites__content-rate{
        padding: 0 16px 14px;
    }
    .favourites__content-bottom{
        padding: 9px 10px 0;
    }
    .favourites__content-price{
        font-size: 27px;
        margin-bottom: 6px;
    }
    .favourites__content-name{
        font-size: 16px;
    }
    .order__content-status.order__content-status--small{
        display: inline-block;
        margin-bottom: 16px;
    }
    .order__content-status.order__content-status--big{
        display: none;
    }
    .order__content-top,
    .order__content-summ{
        margin-bottom: 18px;
    }
}
@media (max-width: 1020px){
    .order__content{
        min-width: 100%;
    }
    .order__content-inner{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .order__content-top,
    .order__content-info{
        width: 100%;
    }
    .order__content-box{
        position: initial;
        width: 100%;
        order: 3;
    }
}
@media (max-width: 768px){
    .favourites__content-items{
        margin-left: -10px;
    }
    .order__content-inner{
        margin-left: 0;
    }
    .favourites__content-item{
        max-width: 198px;
    }
}
@media (max-width: 660px){
    .order__content{
        padding: 0 20px;
    }
}
@media (max-width: 440px){
    .order__content{
        padding: 0 10px;
    }
    .order__content-inner{
        position: relative;
    }
    .order__content-box{
        margin-top: 14px;
        margin-bottom: 18px;
        padding: 21px 29px;
    }
    .favourites__content-item,
    .order__content-list{
        display: none;
    }
    .order__content-contact{
        margin-bottom: 5px;
        li{
            margin-bottom: 5px;
            font-size: 11px;
            line-height: 13px;
        }
    }
    .order__content-info{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
    .order__content-select{
        font-size: 11px;
        margin-bottom: 10px;
    }
    .order__content-repeat{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
        margin: 0;
    }
    .order__content-status.order__content-status--small{
        position: absolute;
        right: 0;
        top: 36px;
        margin-bottom: 0;
    }
    .order__content-number{
        font-size: 13px;
        margin-bottom: 0;
        span{
            vertical-align: initial;
            font-size: 13px;
            font-family: 'Golos-Medium', sans-serif;
            font-weight: 500;
            color: $grey;
            margin-left: 3px;
        }
    }
    .order__content-date{
        font-size: 13px;
        margin-left: 26px;
    }
    .order__content-top{
        margin-bottom: 20px;
        display: flex;
    }
    .order__content-summ,
    .order__content-about{
        font-size: 11px;
        margin: 0 0 4px 0;
        span{
            margin-left: 6px;
        }
    }
    .order__content-contact.contact-country{
        margin-top: 10px;
    }
    .profile__content-boxes--small{
        display: flex;
        margin-left: -8px;
    }
    .profile__content-box--small{
        display: block;
        width: 88px;
        min-height: 105px;
        margin-left: 18px;
        margin-bottom: 18px;
        &:focus,
        &:active{
            .profile__content-image--small{
                border-color: $orange;
            }
            .profile__content-price--small span{
                color: $orange;
            }
        }
        .profile__content-price--small{
            span{
                font-size: 11px;
                line-height: 15px;
                @include medium;
                padding-left: 5px;
                margin: 3px 6px 3px 3px;
            }
            img{
                width: 8px;
                height: 8px;
            }
        }
    }
    .profile__content-image--small{
        width: 100%;
        height: 90px;
        border: 1px solid $grey;
        img{
            width: 42px;
            @include bgi;
            margin: 10px 22px;
        }
    }
    .orders__link{
        display: block;
    }
}