<div class="order__content">
    <div class="order__content-inner">
        <div class="order__content-top">
            <a class="order__content-list" href="#">
                List of orders
            </a>
            <div class="order__content-number">
                Order 13671381
                <span>3</span>
            </div>
            <div class="order__content-date">
                January 2 2021
            </div>
        </div>
        <div class="order__content-box">
            <a class="order__content-select" href="#">
                Select an existing one
            </a>
            <div class="order__content-contacts">
                <ul class="order__content-contact">
                    <li>
                        Petit Claudette
                    </li>
                    <li>
                        +01-66-32-02-973
                    </li>
                    <li>
                        qrmenmjo38h@temporary-mail.net
                    </li>
                </ul>
                <div class="order__content-country">
                    <ul class="order__content-contact contact-country">
                        <li>
                            France
                        </li>
                    </ul>
                    <ul class="order__content-contact">
                        <li>
                            136 avenue Jules Ferry
                        </li>
                        <li>
                            Île-de-France, Stains
                        </li>
                        <li>
                            93240
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order__content-info">
            <div class="order__content-status order__content-status--delivered order__content-status--canceled order__content-status--purchased order__content-status--shipped order__content-status--small">
                Delivered
            </div>
            <div class="order__content-summ">
                Total
                <span>$ 336.7</span>
            </div>
            <div class="order__content-status order__content-status--delivered order__content-status--canceled order__content-status--purchased order__content-status--shipped order__content-status--big">
                Delivered
            </div>
            <div class="order__content-about">
                3 items
                <span>$ 330.98</span>
            </div>
            <div class="order__content-about">
                Discount
                <span>$ -24.26</span>
            </div>
            <div class="order__content-about">
                Delivery
                <span>$ 30</span>
            </div>
            <a class="order__content-repeat" href="#">
                Repeat
            </a>
        </div>
    </div>
    <div class="favourites__content-items">
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_1.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 9.67
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Classic Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_2.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 8.10
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Lucky Strike Red
                </div>
            </div>
        </a>
        <a class="favourites__content-item" href="#">
            <div class="favourites__content-top">
                <div class="favourites__content-image">
                    <img src="/assets/content/content_3.jpg" alt="">
                </div>
                <div class="favourites__content-rate">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="favourites__content-like icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    $ 10.55
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    Marlboro - Red
                </div>
            </div>
        </a>
        <div class="profile__content-boxes--small">
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box--small" href="#">
                <div class="profile__content-image--small">
                    <img src="/assets/content/profile_content.jpg" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>$ 10.55</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a class="orders__link" href="#">
        Orders
    </a>
</div>