@import "../../../../scss/vars";

.shop__sidebar{
    &-item{
        position: relative;
        align-self: flex-start;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 6px;
        margin-left: 41px;
    }
    &-link{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: $grey;
        margin-top: 9px;
        cursor: pointer;
    }
    .check-box{
        width: auto;
        height: auto;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 28px;
        border: none;
    }
    form{
        width: inherit;
    }
}
.form__sidebar-arrow{
    display: none;
}
.form__sidebar-item{
    display: flex;
    flex-direction: column;
}
.sidebar-item__wrapper{
    width: 50%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.label__title{
    width: 100%;
    font-size: 24px;
    padding: 11px 0;
}
.check-box{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 33px;
}
.check-style{
    position: absolute;
    top: 4px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--label);
    left: -25px;
}
.check-box:checked + .check-style::before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    top: 2px;
    left: 2px;
    background-color: $orange;
}
.check-box:disabled + .check-style{
    border-color: $grey;
    background-color: var(--checkbox);
}
.sidebar-item__disabled{
    color: $grey;
}
.sidebar-item__checked{
    font-weight: 400;
}
.form__sidebar-item.form__sidebar-color{
    flex-direction: row;
    flex-wrap: wrap;
}
.shop__sidebar-item.sidebar-item__color{
    margin-left: 65px;
    display: block;
}
.check-color{
    position: absolute;
    top: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    left: -55px;
}
.check-color__white{
    background-color: #fff;
    border-color: var(--link);
}
.check-color__gray{
    background-color: #ADADAD;
}
.check-color__black{
    background-color: #000;
}
.check-color__red{
    background-color: #F71010;
}
.check-color__orange{
    background-color: #F77F10;
}
.check-color__yellow{
    background-color: #F7E229;
}
.check-color__blue{
    background-color: $blue;
}
.check-color__cyanide{
    background-color: #EE2DFF;
}
.check-color__green{
    background-color: #40E026;
}
.shop__sidebar-item--small.sidebar-item__color{
    display: none;
}

.sidebar-item__range{
    position: relative;
}
.form__sidebar-item.sidebar-item__range{
    height: 100px;
}
.shop__sidebar-btn{
    display: none;
}

@media (max-width: 1366px){
    .form__sidebar-item.form__sidebar-color{
        display: block;
    }
    .sidebar-item__wrapper{
        margin-top: 0;
    }
    .shop__sidebar-item{
        font-size: 18px;
        margin-bottom: 7px;
        .check-style{
            top: 5px;
            width: 13px;
            height: 13px;
            left: -28px;
        }
        .check-box:checked + .check-style::before{
            width: 7px;
            height: 7px;
        }
        .sidebar-item__color{
            margin-left: 68px;
        }
    }
    .check-color{
        top: 5px;
        width: 13px;
        height: 13px;
    }
    .sidebar-item__type,
    .sidebar-item__tough{
        label{
            font-size: 16px;
        }
    }
    .shop__sidebar-title{
        font-size: 24px;
        span{
            font-size: 16px;
            right: -30px;
        }
    }
    .label__title{
        font-size: 22px;
    }
    .range{
        width: 180px;
    }
    .sidebar-item__wrapper--small{
        display: none;
    }
    .shop__sidebar-item--small.sidebar-item__color{
        display: block;
    }
}
@media (max-width: 1024px){
    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: inherit;
        height: inherit;
    }
    .form__sidebar-item{
        width: 30%;
    }
    .sidebar-item__type{
        order: 1;
    }
    .sidebar-item__range{
        order: 2;
    }
    .sidebar-item__brands{
        order: 4;
    }
    .sidebar-item__tough{
        order: 3;
    }
    .form__sidebar-color{
        order: 5;
    }
    .form__sidebar-arrow{
        display: block;
        position: absolute;
        bottom: 35px;
        left: 50%;
        display: block;
        width: 17px;
        height: 10px;
        @include bgi;
        transform: translateX(-50%);
        transform: rotate(180deg);
        cursor: pointer;
    }
}
@media (max-width: 990px){
    form{
        flex-direction: row;
        flex-wrap: wrap;
        width: inherit;
        height: inherit;
        padding-bottom: 40px;
    }
    .form__sidebar-item{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .shop__sidebar-item{
        margin-bottom: 10px;
        margin-left: 60px;
        &.sidebar-item__color{
            margin-left: 88px;
        }
    }
    .sidebar-item__wrapper{
        width: 100%;
        flex-direction: row;
    }
    .form__sidebar-arrow{
        display: none;
    }
    .shop__sidebar-link{
        width: 100%;
        margin-left: 20px;
        font-size: 16px;
    }
    .range{
        width: 380px;
    }
    .shop__sidebar-btn{
        display: block;
        margin: 43px auto 14px;
        text-align: center;
    }
    .btn{
        border-color: transparent;
        background-color: #DCF2FF;
        color: $blue;
    }
    .btn.btn__no-border{
        background-color: transparent;
        margin-left: 22px;
    }
}
@media (max-width: 600px){
    .range{
        width: 275px;
    }
}
@media (max-width: 440px){
    form{
        padding-bottom: 0;
    }
    .shop__sidebar-link{
        margin-top: 0;
        font-size: 11px;
        margin-bottom: 8px;
        margin-left: 23px;
    }
    .shop__sidebar-item{
        font-size: 11px;
        margin-left: 40px;
        margin-bottom: 6px;
        &.sidebar-item__color{
            margin-left: 58px;
        }
        .check-box:checked + .check-style::before {
            width: 5px;
            height: 5px;
            top: 2px;
            left: 2px;
        }
        .check-style{
            width: 11px;
            height: 11px;
            left: -16px;
            top: 2px;
        }
    }
    .sidebar-item__type,
    .sidebar-item__tough{
        label{
            font-size: 11px;
        }
    }
    .form__sidebar-item{
        margin-left: -22px;
    }
    .label__title{
        font-size: 13px;
        padding: 6px 0;
        margin-left: 23px;
    }
    .check-color{
        width: 11px;
        height: 11px;
        left: -34px;
        top: 2px;
    }
    .range{
        width: 96%;
    }
    .shop__sidebar-btn{
        margin-top: 35px;
    }
}
