    <form [formGroup]="SearchForm">
        <div class="form__sidebar-item sidebar-item__type">
            <div class="label__title">
                Type
            </div>
            <label class="shop__sidebar-item sidebar-item__checked">
                <input class="check-box" type="checkbox" checked>
                <span class="check-style"></span>
                Cigarettes
            </label>
            <label class="shop__sidebar-item">
            <input class="check-box" type="checkbox">
                <span class="check-style"></span>
                Tobacco Heating Systems
            </label>
        </div>
        <div class="form__sidebar-item sidebar-item__range">
            <div class="label__title">
                Price
            </div>
            <!--
            <input type="range" min="4" max="12" value="6.71" class="range" id="lower">
            
                <input type="range" min="4" max="12" value="10.99" class="range" id="higher"> 
                <output class="price-low" for="lower">6.71</output>
                <output class="price-hight" for="higher">10.99</output>
            -->
                       
            <ngx-slider *ngIf="isBrowser" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>

        </div>
        <div class="form__sidebar-item sidebar-item__brands">
            <div class="label__title">
                Brands
            </div>
            <label class="shop__sidebar-item sidebar-item__checked">
                <input class="check-box" type="checkbox" checked>
                <span class="check-style"></span>
                Alain Delon
            </label>
            <label class="shop__sidebar-item sidebar-item__disabled">
                <input class="check-box" type="checkbox" disabled>
                <span class="check-style"></span>
                Ashford
            </label>
            <label class="shop__sidebar-item sidebar-item__disabled">
                <input class="check-box" type="checkbox" disabled>
                <span class="check-style"></span>
                Astro
            </label>
            <label class="shop__sidebar-item sidebar-item__disabled">
                <input class="check-box" type="checkbox" disabled>
                <span class="check-style"></span>
                Bahman
            </label>
            <label class="shop__sidebar-item sidebar-item__checked">
                <input class="check-box" type="checkbox" checked>
                <span class="check-style"></span>
                Black Devil
            </label>
            <label class="shop__sidebar-item">
                <input class="check-box" type="checkbox">
                <span class="check-style"></span>
                Bond Street
            </label>
            <label class="shop__sidebar-item sidebar-item__checked">
                <input class="check-box" type="checkbox" checked>
                <span class="check-style"></span>
                Boss
            </label>
            <label class="shop__sidebar-item">
                <input class="check-box" type="checkbox">
                <span class="check-style"></span>
                Camel
            </label>
            <label class="shop__sidebar-item">
                <input class="check-box" type="checkbox">
                <span class="check-style"></span>
                Chesterfield
            </label>
            <label class="shop__sidebar-item sidebar-item__disabled">
                <input class="check-box" type="checkbox" disabled>
                <span class="check-style"></span>
                Club
            </label>
            <div class="shop__sidebar-link">
                Show all
            </div>
        </div>
        <div class="form__sidebar-item sidebar-item__tough">
            <div class="label__title">
                Tough
            </div>
            <label class="shop__sidebar-item sidebar-item__checked">
                <input class="check-box" type="checkbox" checked>
                <span class="check-style"></span>
                Easy
            </label>
            <label class="shop__sidebar-item">
                <input class="check-box" type="checkbox">
                <span class="check-style"></span>
                Medium
            </label>
            <label class="shop__sidebar-item">
                <input class="check-box" type="checkbox">
                <span class="check-style"></span>
                High
            </label>
        </div>
        <div class="form__sidebar-item form__sidebar-color">
            <div class="label__title">
                Package color
            </div>
            <div class="sidebar-item__wrapper">
                <label class="shop__sidebar-item sidebar-item__checked sidebar-item__color">
                    <input class="check-box" type="checkbox" checked>
                    <span class="check-style"></span>
                    <span class="check-color check-color__white"></span>
                    White
                </label>
                <label class="shop__sidebar-item sidebar-item__checked sidebar-item__color">
                    <input class="check-box" type="checkbox" checked>
                    <span class="check-style"></span>
                    <span class="check-color check-color__gray"></span>
                    Gray
                </label>
                <label class="shop__sidebar-item sidebar-item__checked sidebar-item__color">
                    <input class="check-box" type="checkbox" checked>
                    <span class="check-style"></span>
                    <span class="check-color check-color__black"></span>
                    Black
                </label>
                <label class="shop__sidebar-item sidebar-item__color">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__red"></span>
                    Red
                </label>
                <label class="shop__sidebar-item sidebar-item__color">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__orange"></span>
                    Orange
                </label>
                <label class="shop__sidebar-item sidebar-item__color shop__sidebar-item--small">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__yellow"></span>
                    Yellow
                </label>
                <label class="shop__sidebar-item sidebar-item__color shop__sidebar-item--small">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__blue"></span>
                    Blue
                </label>
                <label class="shop__sidebar-item sidebar-item__color shop__sidebar-item--small">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__cyanide"></span>
                    Cyanide
                </label>
                <label class="shop__sidebar-item sidebar-item__color shop__sidebar-item--small">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__green"></span>
                    Green
                </label>
            </div>
            <div class="sidebar-item__wrapper sidebar-item__wrapper--small">
                <label class="shop__sidebar-item sidebar-item__color">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__yellow"></span>
                    Yellow
                </label>
                <label class="shop__sidebar-item sidebar-item__color">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__blue"></span>
                    Blue
                </label>
                <label class="shop__sidebar-item sidebar-item__color">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__cyanide"></span>
                    Cyanide
                </label>
                <label class="shop__sidebar-item sidebar-item__color">
                    <input class="check-box" type="checkbox">
                    <span class="check-style"></span>
                    <span class="check-color check-color__green"></span>
                    Green
                </label>
            </div>
            <div class="shop__sidebar-btn">
                <button class="btn">
                    Apply
                </button>
                <button class="btn btn__no-border">
                    Clear
                </button>
            </div>
        </div>
        <img class="form__sidebar-arrow" src="/assets/icons/arrow-down.svg" alt="">
    </form>