<bread-crumbs></bread-crumbs>
<section class="cart">
    <div class="container">
        <form class="personal-info__form" [formGroup]="CartForm">
            <div class="cart__inner">
                <div class="cart__content">
                    <div class="cart__select">
                        <div class="cart__select-all">
                            <div class="cart__check cart__check--on">
                                <img src="/assets/icons/check.svg" alt="">
                            </div>
                            <span>Select All</span>
                        </div>
                        <div class="cart__select-delete">
                            Delete selected items
                        </div>
                    </div>
                    <div class="cart__content-item">
                        <div class="cart__content-title title__main">
                            Cart
                            <span>4</span>
                        </div>
                        <div class="cart__content-inner">
                            <div class="cart__positionwrapper">
                                <a class="cart__position" href="#">
                                    <div class="cart__check cart__check--on">
                                        <img src="/assets/icons/check.svg" alt="">
                                    </div>
                                    <div class="cart__image">
                                        <img src="/assets/content/content_1.jpg" alt="">
                                    </div>
                                    <div class="cart__info">
                                        <div class="cart__info-inner">
                                            <div class="cart__info-name">
                                                Classic Red
                                            </div>
                                            <div class="cart__info-price">
                                                $ 128.60
                                            </div>
                                            <div class="cart__info-discount">
                                                $ 135.38
                                                <span>5%</span>
                                            </div>
                                        </div>
                                        <div class="cart__info-count">
                                            <span class="count-plus">
                                                <img src="/assets/icons/plus.svg" alt="">
                                            </span>
                                            14
                                            <span class="count-minus">
                                                <img src="/assets/icons/minus.svg" alt="">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cart__info-delete">
                                        Delete
                                    </div>
                                </a>
                                <div class="cart__like">
                                    <img src="/assets/icons/cart-like.svg" alt="">
                                </div>
                            </div>
                            <div class="cart__positionwrapper">
                                <a class="cart__position" href="#">
                                    <div class="cart__check cart__check--on">
                                        <img src="/assets/icons/check.svg" alt="">
                                    </div>
                                    <div class="cart__image">
                                        <img src="/assets/content/content_15.jpg" alt="">
                                    </div>
                                    <div class="cart__info">
                                        <div class="cart__info-inner">
                                            <div class="cart__info-name">
                                                Dunhill Fine Cut White
                                            </div>
                                            <div class="cart__info-price">
                                                $ 157.46
                                            </div>
                                            <div class="cart__info-discount">
                                                $ 174,96
                                                <span>10%</span>
                                            </div>
                                        </div>
                                        <div class="cart__info-count">
                                            <span class="count-plus">
                                                <img src="/assets/icons/plus.svg" alt="">
                                            </span>
                                            27
                                            <span class="count-minus">
                                                <img src="/assets/icons/minus.svg" alt="">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cart__info-delete">
                                        Delete
                                    </div>
                                </a>
                                <div class="cart__like cart__like--disabled">
                                    <img src="/assets/icons/cart-like.svg" alt="">
                                </div>
                            </div>
                            <div class="cart__positionwrapper">
                                <a class="cart__position" href="#">
                                    <div class="cart__check">
                                        <img src="/assets/icons/check_no.svg" alt="">
                                    </div>
                                    <div class="cart__image">
                                        <img src="/assets/content/content_4.jpg" alt="">
                                    </div>
                                    <div class="cart__info">
                                        <div class="cart__info-inner">
                                            <div class="cart__info-name">
                                                Chesterfield Blue
                                            </div>
                                            <div class="cart__info-price">
                                                $ 20.64
                                            </div>
                                            <div class="cart__info-discount">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="cart__info-count">
                                            <span class="count-plus">
                                                <img src="/assets/icons/plus.svg" alt="">
                                            </span>
                                            3
                                            <span class="count-minus">
                                                <img src="/assets/icons/minus.svg" alt="">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cart__info-delete">
                                        Delete
                                    </div>
                                </a>
                                <div class="cart__like cart__like--disabled">
                                    <img src="/assets/icons/cart-like.svg" alt="">
                                </div>
                            </div>
                            <a class="cart__position cart__position--disabled" href="#">
                                <div class="cart__image">
                                    <img src="/assets/content/content_11.jpg" alt="">
                                </div>
                                <div class="cart__info">
                                    <div class="cart__info-inner">
                                        <div class="cart__info-name">
                                            Parliament Silver Blue
                                        </div>
                                        <div class="cart__info-price">
                                            $ 10.75
                                        </div>
                                        <div class="cart__info-discount">
                                            <span></span>
                                        </div>
                                    </div> 
                                    <div class="cart__info-count">
                                        <span class="count-plus">
                                            <img src="/assets/icons/plus.svg" alt="">
                                        </span>
                                        1
                                        <span class="count-minus">
                                            <img src="/assets/icons/minus.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                                <div class="cart__info-delete">
                                    Delete
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="cart__content-item">
                        <div class="cart__content-title">
                            Ship to
                        </div>
                        <div class="order__content-box">
                            <a class="order__content-select" href="#">
                                Select an existing one
                            </a>
                            <div class="order__content-contacts">
                                <ul class="order__content-contact">
                                    <li>
                                        Petit Claudette
                                    </li>
                                    <li>
                                        +01-66-32-02-973
                                    </li>
                                    <li>
                                        qrmenmjo38h@temporary-mail.net
                                    </li>
                                </ul>
                                <div class="order__content-country">
                                    <ul class="order__content-contact contact-country">
                                        <li>
                                            France
                                        </li>
                                    </ul>
                                    <ul class="order__content-contact">
                                        <li>
                                            136 avenue Jules Ferry
                                        </li>
                                        <li>
                                            Île-de-France, Stains
                                        </li>
                                        <li>
                                            93240
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="personal-info__wrapper">
                            <div class="personal-info__item">
                                <div class="personal-info__subtitle">
                                    Contact Information
                                </div>
                                <div class="personal-info__warning">
                                    Please use English letters when filling out the form fields
                                    <!-- <br>
                                    Please use English letters when filling out the form fields -->
                                </div>
                                <div class="input__wrapper">
                                    <div class="input__inner">
                                        <input type="text" formControlName="firstName" name="personal-info-firstname" placeholder="First Name">
                                        <div class="personal-info__text">
                                            Required field
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <input type="text" formControlName="lastName" name="personal-info-lastname" placeholder="Last Name">
                                        <div class="personal-info__text">
                                            Required field
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <input type="email" formControlName="email" name="personal-info-email" placeholder="E-mail">
                                        <div class="personal-info__text">
                                            Check email address
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <input class="personal-info-phone" type="tel" formControlName="phone" name="personal-info-phone" placeholder="Contact phone number">
                                        <div class="personal-info__text">
                                            Phone number must be in format +00000000000, and do not use spaces, parentheses and other symbols
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="personal-info__item">
                                <div class="personal-info__subtitle">
                                    Address
                                </div>
                                <div class="input__wrapper">
                                    <div class="input__inner personal-info-address">
                                        <input type="text" formControlName="address"  name="personal-info-address" placeholder="Street address, apt, suite, building, etc.">
                                        <div class="personal-info__text">
                                            Required field (maximum of 50 characters)
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <input type="text" formControlName="region" name="personal-info-region" placeholder="Region">
                                        <div class="personal-info__text">
                                            Required field (maximum of 50 characters)
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <input type="text" formControlName="city" name="personal-info-city" placeholder="City">
                                        <div class="personal-info__text">
                                            Required field (maximum of 50 characters)
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <input type="text" formControlName="postalcode" name="personal-info-postalcode" placeholder="Postal code">
                                        <div class="personal-info__text">
                                            Check the zip (must be in the format 9999999 and not have extraneous characters)
                                        </div>
                                    </div>
                                    <div class="input__inner">
                                        <select placeholder="Country">
                                            <option>Country</option>
                                            <option>Country</option>
                                            <option>Country</option>
                                            <option>Country</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form__payment">
                                <div class="form__payment-title">
                                    Payment
                                </div>
                                <div class="btn__payment">
                                    Western Union
                                </div>
                                <div class="btn__payment">
                                    Bitcoin
                                </div>
                                <div class="btn__payment btn__payment--disabled">
                                    PayPal
                                </div>
                                <div class="form__payment-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit. Non sit consectetur cras aliquam turpis mattis nisi, maecenas. Viverra sed convallis nisl iaculis eget.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart__total">
                    <div class="cart__total-inner">
                        <div class="cart__total-box cart__total-main">
                            <div class="cart__total-type">
                                Total
                            </div>
                            <div class="cart__total-summ">
                                $ 336.7
                            </div>
                        </div>
                        <div class="cart__total-box">
                            <div class="cart__total-type">
                                3 items
                            </div>
                            <div class="cart__total-summ">
                                $ 330.98
                            </div>
                        </div>
                        <div class="cart__total-box">
                            <div class="cart__total-type">
                                Discount
                            </div>
                            <div class="cart__total-summ">
                                $ -24.26
                            </div>
                        </div>
                        <div class="cart__total-box">
                            <div class="cart__total-type">
                                Delivery
                            </div>
                            <div class="cart__total-summ">
                                <span>France</span>
                                $ 30
                            </div>
                        </div>
                    </div>
                    <div class="cart__total-confirm">
                        <label>
                            <input class="check-box" type="checkbox">
                            <span class="check-style"></span>
                            Please confirm that you are 18 years old or more
                        </label>
                        <label>
                            <input class="check-box" type="checkbox">
                            <span class="check-style"></span>
                            I agree with <a href="#" target="_blank">the terms and conditions</a> and have read <a href="#" target="_blank">the rules for the sale of goods</a>
                        </label>
                    </div>
                    <button class="cart__btn" type="submit">
                        Place order
                    </button>
                </div>
            </div>
        </form>
    </div>
    <a class="orders__link" href="#">
        Cart
    </a>
</section>
