@import "../../../scss/vars";

.cart{
    background-color: var(--header);
    padding: 15px 0;
    &__inner{
        display: flex;
        padding-top: 20px;
    }
    &__content{
        max-width: 1033px;
        width: 100%;
        margin-right: 47px;
        &-item{
            margin-bottom: 42px;
        }
        &-title{
            font-size: 28px;
            @include medium;
            margin-bottom: 16px;
            position: relative;
            span{
                font-size: 18px;
                line-height: 21px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                vertical-align: super;
            }
        }
        &-inner{
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
        }
    }
    &__total{
        width: 453px;
        padding: 39px 45px;
        background-color: var(--bg);
        height: 100%;
        margin-top: 53px;
        &-inner{
            padding-bottom: 23px;
            margin-bottom: 30px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #c4c4c4;
                bottom: 0;
            }
        }
        &-box{
            display: flex;
            justify-content: space-between;
            @include medium;
            line-height: 22px;
            color: $order;
            margin-bottom: 7px;
            &.cart__total-main{
                font-size: 30px;
                line-height: 36px;
                color: var(--label);
            }
        }
        &-summ{
            margin-left: 5px;
            span{
                color: var(--link);
                margin-right: 7px;
            }
        }
        label{
            display: block;
            position: relative;
            margin-left: 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            & + label{
                margin-top: 7px;
            }
            a{
                display: inline;
                color: $orange;
            }
        }
        .check-style{
            left: -28px;
            top: 5px;
        }
    }
}
.cart__position{
    width: 48%;
    background-color: transparent;
    border: 1px solid var(--link);
    padding: 29px;
    display: flex;
    position: relative;
    margin: 0 0 20px 20px;
    &:hover,
    &:active{
        background-color: var(--bg);
    }
}
.cart__image{
    width: 185px;
    height: 185px;
    margin-right: 20px;
    img{
        width: 95px;
        height: 148px;
        @include bgi;
        margin: 18px;
    }
}
.cart__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-name{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    &-price{
        font-size: 30px;
        line-height: 36px;
        @include medium;
        margin-bottom: 3px;
    }
    &-discount{
        @include medium;
        color: $order;
        span{
            color: $orange;
            margin-left: 7px;
        }
    }
    &-count{
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        align-items: center;
        z-index: 3;
        span{
            margin: 0 10px;
            width: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: inherit;
                height: 10px;
            }
        }
        .count-minus{
            img{
                height: 2px;
            }
        }
    }
    &-delete{
        position: absolute;
        bottom: 29px;
        right: 29px;
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: var(--link);
        z-index: 3;
        cursor: pointer;
    }
}
.cart__position.cart__position--disabled{
    position: relative;
    cursor: initial;
    border-color: transparent;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--order);
        opacity: .7;
        z-index: 5;
    }
    &:hover,
    &:active{
        background-color: transparent;
    }
}
.cart{
    .order__content-box{
        margin-bottom: 21px;
    }
    .personal-info__subtitle{
        margin-bottom: 16px;
    }
    .personal-info__form{
        display: block;
        input{
            background-color: transparent;
            width: 100%;
            margin-bottom: 7px;
        }
        select{
            width: 100%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url("/assets/icons/arrow-down.svg") no-repeat scroll 96% 52% transparent;
            background-size: 15px 8px;
            text-indent: 0.01px;
            text-overflow: "";
            color: $grey;
            &::-ms-expand{
                display: none;
            }
        }
    }
    .personal-info__item + .personal-info__item {
        margin-left: 0;
    }
    .input__inner{
        display: inline-block;
        width: 49%;
    }
}
.order__content{
    &-box{
        border: 1px solid $grey;
        padding: 32px 45px;
        margin-bottom: 32px;
    }
    &-select{
        font-size: 22px;
        @include medium;
        color: var(--label);
        margin-bottom: 10px;
    }
    &-contacts{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-contact{
        min-width: 330px;
        li{
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: $grey;
            margin-bottom: 9px;
        }
    }
}
.order__content-country{
    display: flex;
    justify-content: flex-end;
}
.order__content-contact.contact-country{
    min-width: 150px;
    margin-right: 10px;
}
.input__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.personal-info__warning{
    line-height: 22px;
    margin-bottom: 21px;
    padding-left: 40px;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        left: 20px;
        top: 4px;
        background-image: url("/assets/icons/warning.svg");
        width: 3px;
        height: 16px;
        @include bgi;
    }
}
.personal-info{
    &__item{
        & + &{
            margin-left: 45px;
        }
    }
    &__subtitle{
        font-size: 24px;
        @include medium;
        margin-bottom: 21px;
    }
    &__text{
        max-width: 507px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: var(--link);
        margin-bottom: 21px;
        padding-left: 19px;
        position: relative;
    }
}
.cart .input__inner.personal-info-address{
    width: 100%;
}
.form__payment{
    padding: 20px 0;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 25px;
    }
    &-text{
        margin: 21px 0;
        line-height: 29px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $order;
    }
}
.btn__payment{
    display: inline-block;
    font-size: 35px;
    line-height: 42px;
    @include medium;
    padding: 33px 65px 41px;
    border: 1px solid var(--link);
    cursor: pointer;
    & + &{
        margin-left: 17px;
    }
    &.btn__payment--disabled{
        background-color: var(--order);
        color: #b9b9b9;
        cursor: initial;
        border-color: transparent;
        &:hover,
        &:active{
            color: #b9b9b9;
            border-color: transparent;
        }
    }
    &:hover,
    &:active{
        color: $orange;
        border-color: $orange;
    }
}
.cart__btn{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: $green;
    font-size: 20px;
    line-height: 47px;
    margin-top: 30px;
    &:hover{
        background-color: #74C966;
    }
    &:active{
        background-color: #2D861F;
    }
}
.cart__btn.disabled{
    background-color: #bababa;
    cursor: initial;
}
.check-box{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 33px;
}
.check-style{
    position: absolute;
    top: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--label);
    left: -25px;
}
.check-box:checked + .check-style::before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    top: 2px;
    left: 2px;
    background-color: $orange;
}
.cart__positionwrapper{
    width: calc(100% - 20px);
}
.cart__check,
.cart__like,
.orders__link,
.cart__select{
    display: none;
}

@media (max-width: 1770px){
    .order__content{
        margin-left: 40px;
    }
}
@media (max-width: 1730px){
    .cart__inner{
        justify-content: center;
    }
    .cart__content{
        max-width: 750px;
        margin-right: 97px;
    }
    .cart__position{
        width: 100%;
    }
    .btn__payment{
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .btn__payment + .btn__payment {
        margin-left: 0;
    }
    .order__content-contacts{
        flex-wrap: wrap;
    }
    .order__content-contact{
        margin-bottom: 28px;
        li{
            line-height: 23px;
        }
    }
    .order__content-contact.contact-country {
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .order__content-country{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .cart .order__content-box{
        padding-bottom: 0;
        position: initial;
    }
}
@media (max-width: 1630px){
    .personal-info__item+.personal-info__item {
        margin-left: 0;
        margin-top: 24px;
    }
}
@media (max-width: 1530px){
    .order__content-box{
        width: 506px;
        position: absolute;
        top: 0;
        right: 0;
        li{
            line-height: 23px;
        }
    }
    .order__content-contacts,
    .order__content-country{
        display: block;
    }
    .order__content-contact{
        min-width: 100%;
    }
    .order__content-contact.contact-country{
        margin-top: 28px;
    }
    .cart__content{
        max-width: 506px;
    }
    .cart{
        padding-top: 0;
        form input{
            height: 47px;
            font-size: 20px;
            line-height: 23px;
            padding: 10px 19px 12px;
            &::placeholder{
                font-size: 20px;
                line-height: 23px;
            }
        }
    }
    .cart .personal-info__subtitle{
        font-size: 22px;
    }
    .cart .input__inner{
        width: 100%;
    }
    .cart__inner{
        justify-content: flex-start;
    }
    .btn__payment {
        font-size: 30px;
        line-height: 36px;
        padding: 22px 36px 25px;
    }
    .form__payment-text{
        font-size: 16px;
        margin-top: 6px;
    }
    .personal-info__item + .personal-info__item{
        margin-top: 3px;
    }
    .personal-info__warning{
        padding-left: 12px;
    }
    .personal-info__warning::before{
        left: 0;
    }
}
@media (max-width: 1266px){
    .cart__content{
        margin-right: 40px;
    }
}
@media (max-width: 1140px){
    .cart{
        .container{
            padding: 0 60px;
        }
    }
}
@media (max-width: 1120px){
    .cart .personal-info__subtitle{
        font-size: 22px;
    }
}
@media (max-width: 1020px){
    .cart__inner{
        flex-wrap: wrap;
    }
    .cart__content{
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
    .cart__total{
        width: 518px;
        margin: 0 auto 30px;
    }
}
@media (max-width: 850px){
    .personal-info__text{
        font-size: 14px;
    }
}
@media (max-width: 800px){
    .cart .container{
        padding: 0 20px;
    }
    .cart__total{
        width: 500px;
    }
    .cart__content-title span{
        vertical-align: revert;
        margin-left: 6px;
        font-family: 'Golos-Medium', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: $grey;
    }
}
@media (max-width: 680px){
    .cart__content-title,
    .cart__info-price,
    .form__payment-title{
        font-size: 24px;
        line-height: 140%;
    }
    .cart__content-title span{
        font-size: 20px;
    }
    .cart__info-name,
    .order__content-select{
        font-size: 18px;
        line-height: 140%;
    }
    .cart__info-discount,
    .cart__info-count,
    .cart__info-delete,
    .form__payment-text{
        font-size: 14px;
        line-height: 140%;
    }
    .order__content-contacts{
        li{
            font-size: 16px;
            line-height: 140%;
        }
    }
    .cart__image{
        height: auto;
       img{
            width: auto;
            height: 126px;
        } 
    }
    .btn__payment{
        font-size: 21px;
        line-height: 140%;
    }
    .order__content-box{
        width: 100%;
    }
}
@media (max-width: 440px){
    .cart{
        background-color: var(--bg);
        overflow-x: hidden;
        padding-bottom: 0;
    }
    .cart .container{
        padding: 0 10px;
    }
    .cart__inner{
        padding: 0;
    }
    .cart__content-inner{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: 5px;
            width: 120%;
            left: -10px;
            top: -3px;
            background-color: var(--header);
        }
    }
    .cart__content-item{
        margin-bottom: 0;
    }
    .cart__positionwrapper{
        display: flex;
        width: 100%;
    }
    .cart__position{
        padding: 0;
        position: relative;
        border: none;
        margin-bottom: 5px;
        &.cart__position--disabled{
            display: none;
        }
        &::after{
            position: absolute;
            content: '';
            height: 5px;
            width: 120%;
            left: -10px;
            bottom: -5px;
            background-color: var(--header);
        }
    }
    .cart__image{
        width: 88px;
        height: 87px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $grey;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        img{
            height: 68px;
            margin: 0;
        }
    }
    .cart__info-name,
    .cart__info-price,
    .cart__info-discount,
    .cart__info-count,
    .cart__info-delete,
    .personal-info__warning,
    .order__content-select{
        font-size: 11px;
    }
    .personal-info__warning{
        line-height: 140%;
        margin-bottom: 14px;
    }
    .order__content-contact{
        margin-bottom: 5px;
        &.contact-country{
            margin-top: 10px;
        }
    }
    .cart__info-name,
    .cart__info-price,
    .cart__info-discount{
        margin-bottom: 2px;
    }
    .cart__content-title,
    .cart .personal-info__subtitle,
    .form__payment-title{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .cart__content-title{
        margin-top: 4px;
    }
    .btn__payment{
        font-size: 13px;
        padding: 11px 18px 14px 14px;
        margin-right: 6px;
        margin-bottom: 10px;
    }
    .form__payment-text,
    .cart__total-box{
        font-size: 11px;
        margin-bottom: 0;
    }
    .form__payment{
        padding: 5px 0;
    }
    .form__payment-text{
        line-height: 18px;
    }
    .cart__total-box{
        display: none;
    }
    .cart__total-box:first-child,
    .cart__total-box:last-child{
        display: flex;
    }
    .cart__total-summ{
        margin-left: 9px;
        color: var(--label);
        span{
            display: none;
        }
    }
    .cart__info{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .cart__info-delete{
        bottom: 10px;
        right: 13px;
    }
    .cart__total-type{
        color: $order;
    }
    .cart__total-box{
        margin-right: 13px;
        &.cart__total-main{
            font-size: 11px;
            line-height: 140%;
        }
    }
    .order__content-contacts{
        li{
            font-size: 11px;
            margin-bottom: 5px;
        }
    }
    .cart__info-discount span{
        margin-left: 3px;
    }
    .cart__total-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        &::before{
            display: none;
        }
    }
    .cart__total,
    .cart__total-confirm{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg);
        z-index: 9;
    }
    .cart__total{
        width: 100%;
        height: auto;
        margin-bottom: 0;
        padding: 8px 10px;
        .check-style{
            width: 11px;
            height: 11px;
            left: -17px;
            top: 2px;
        }
    }
    .cart__total-confirm{
        display: none;
        // display: block;
        padding: 28px 33px;
    }
    .check-box:checked + .check-style::before {
        width: 5px;
        height: 5px;
        top: 2px;
        left: 2px;
    }
    .cart__total label{
        font-size: 11px;
        margin-left: 20px;
    }
    .cart__btn{
        margin-top: 0;
        margin-left: 16px;
        display: inline-block;
        width: auto;
        font-size: 11px;
        line-height: 140%;
        padding: 8px 17px 9px;
    }
    .cart .order__content-box{
        margin-top: 0;
        margin-bottom: 16px;
        padding: 21px 29px 16px;
    }
    .cart__like{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 5px);
        width: 50px;
        background-color: #F34242;
        margin-right: -10px;
        img{
            width: 16px;
            height: 13px;
        }
        &.cart__like--disabled{
            display: none;
        }
    }
    .cart__check{
        position: absolute;
        top: 11px;
        right: 13px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid $blue;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 8px;
            height: 6px;
        }
        &.cart__check--on{
            background-color: $blue;
        }
    }
    .cart__info-count{
        span{
            margin: 0 7px;
            width: 8px;
            img{
                height: 8px;
            }
        }
    }
    .cart .personal-info__form{
        input,
        select{
            width: 100%;
            height: 28px;
            margin-bottom: 7px;
            font-size: 11px;
            line-height: 13px;
            padding: 7px 9px 8px;
            &::placeholder{
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
    .personal-info__text{
        font-size: 11px;
        margin-bottom: 7px;
        padding-left: 9px;
    }
    .cart .personal-info__form select{
        background-size: 8px 4px;
    }
    .personal-info__item + .personal-info__item {
        margin-top: 10px;
    }
    .personal-info__warning::before{
        height: 11px;
    }
    .orders__link{
        display: block;
        position: absolute;
        top: 20px;
        left: 7px;
        background-color: var(--header);
        font-size: 14px;
        font-family: "Golos-Medium", sans-serif;
        font-weight: 500;
        padding: 10px 10px 10px 28px;
        z-index: 8;
        &::before{
            position: absolute;
            content: '';
            left: 13px;
            top: 15px;
            width: 5px;
            height: 10px;
            background-image: url(/assets/icons/arrow-left.svg);
        }
    }
    .title__main{
        display: none;
    }
    .cart__select{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background-color: var(--bg);
        font-size: 11px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 0 3px 0 7px;
        &-all{
            span{
                margin-left: 9px;
            }
        }
        &-delete{
            color: #F34242;
        }
        .cart__check{
            position: initial;
            display: inline-block;
            img{
                margin-left: 3px;
                margin-bottom: 1px;
            }
        }
    }
}