@import "../../../scss/vars";

.contacts .profile__blog{
    margin-right: 66px;
}
.contacts__inner{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.contacts__content{
    max-width: 770px;
    width: 100%;
    margin-left: 132px;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 18px;
    }
    &-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 28px;
        line-height: 29px;
    }
}
.contacts__main{
    display: flex;
    flex-wrap: wrap;
}
.contacts__box{
    width: 42%;
    margin-bottom: 33px;
}
.contacts__title{
    font-size: 24px;
    line-height: 29px;
    @include medium;
    margin-bottom: 11px;
}
.contacts__link{
    color: $blue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.profile__blog{
    width: auto;
    &-item{
        display: block;
        width: 243px;
        height: 287px;
        position: relative;
        margin-bottom: 30px;
    }
    &-text{
        width: 191px;
        position: absolute;
        left: 26px;
        bottom: 40px;
        font-size: 20px;
        line-height: 28px;
        @include bold;
        color: #fff;
    }
}

@media (max-width: 1530px){
    .profile__blog{
        display: none;
    }
    .contacts__inner{
        justify-content: center;
    }
    .contacts__content{
        margin-left: 0;
    }
}
@media (max-width: 1020px){
    .contacts__box{
        width: 48%;
    }
}
@media (max-width: 800px){
    .container{
        padding: 0 20px;
    }
}
// @media (max-width: 660px){
//     .contacts__title{
//         font-size: 16px;
//         line-height: 21px;
//     }
//     .contacts__link{
//         font-size: 14px;
//         line-height: 19px;
//     }
// }
@media (max-width: 440px){
    .contacts__inner{
        padding: 14px 0;
    }
    .contacts__box{
        margin-bottom: 14px;
    }
    .contacts__content-title{
        font-size: 18px;
        margin-bottom: 4px;
    }
    .contacts__content-text{
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 18px;
    }
    .contacts__title{
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .contacts__link{
        font-size: 11px;
        line-height: 18px;
    }
}