<section class="contacts">
    <div class="container">
        <div class="contacts__inner">
            <div class="contacts__content">
                <div class="contacts__content-title">
                    Contacts
                </div>
                <div class="contacts__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut.
                </div>
                <div class="contacts__main">
                    <div class="contacts__box">
                        <div class="contacts__title">
                            Email
                        </div>
                        <a class="contacts__link" href="#">
                            ajunnaffib-6166@yopmail.com
                        </a>
                    </div>
                    <div class="contacts__box">
                        <div class="contacts__title">
                            Telegram
                        </div>
                        <a class="contacts__link" href="#">
                            ajunnaffib-6166@yopmail.com
                        </a>
                    </div>
                    <div class="contacts__box">
                        <div class="contacts__title">
                            Skype
                        </div>
                        <a class="contacts__link" href="#">
                            ajunnaffib-6166@yopmail.com
                        </a>
                    </div>
                    <div class="contacts__box">
                        <div class="contacts__title">
                            Twitter
                        </div>
                        <a class="contacts__link" href="#">
                            ajunnaffib-6166@yopmail.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile__blog">
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/profile-blog_1.jpg);">
                    <div class="profile__blog-text">
                        What cigarettes are missing from the store for you?
                    </div>
                </a>
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/profile-blog_2.jpg);">
                    <div class="profile__blog-text">
                        How important is the strength in cigarettes?
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
