<div class="header-top">
    <div class="container">
        <nav class="header-top__menu">
            <ul class="top__menu-list">
                <li class="top__menu-item">
                    <a href="#" routerLink="/contactus" routerLinkActive="active">Contacts</a>
                </li>
                <li class="top__menu-item">
                    <a href="#" routerLink="/faq" routerLinkActive="active">FAQs</a>
                </li>
                <li class="top__menu-item">
                    <a href="#" routerLink="/delivery" routerLinkActive="active">Delivery</a>
                </li>
                <li class="top__menu-item">
                    <a href="#" routerLink="/bulk" routerLinkActive="active">Bulk</a>
                </li>
            </ul>
        </nav>
    </div>
</div>