@import "../../../../scss/vars";

.header-top__menu{
    min-height: 53px;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top__menu-item{
    display: inline-block;
    & + .top__menu-item{
        margin-left: 50px;
    }
    a,
    span{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 21px;
        &:hover,
        &:active{
            color: $orange;
        }
    }
}
@media (max-width: 1366px){
    .top__menu-item a,
    .top__menu-item span{
        font-size: 16px;
        line-height: 19px;
    }
}
@media (max-width: 768px){
    .header-top{
        display: none;
    }
}