@import "../../../scss/vars";

.bulk__inner{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.bulk__content{
    max-width: 770px;
    width: 100%;
    margin-left: 132px;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 18px;
    }
    &-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 28px;
        line-height: 29px;
    }
    &-images{
        display: flex;
        margin: 42px 0 90px;
    }
    &-image{
        width: 126px;
        height: 126px;
        position: relative;
        margin-right: 25px;
        & > img{
            width: inherit;
            height: inherit;
            border-radius: 50%;
            overflow: hidden;
            @include bgi;
        }
        span{
            position: absolute;
            left: -1px;
            bottom: -1px;
            width: 51px;
            height: 51px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            img{
                width: 28px;
                height: 27px;
                @include bgi;
            }
        }
    }
    &-type{
        text-align: center;
        margin-top: 14px;
        font-size: 20px;
        @include medium;
    }
    &-green{
        background-color: $green;
    }
    &-blue{
        background-color: $blue;
    }
    &-orange{
        background-color: $orange;
    }
    &-black{
        background-color: #000;
    }
}
.bulk__content-image .bulk__content-white{
    background-color: #fff;
    border-color: #000;
}
.bulk__table{
    width: 100%;
    margin-bottom: 62px;
    &-top,
    &-content{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &-top{
        margin-bottom: 15px;
    }
    &-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $order;
        padding-bottom: 8px;
        width: 32%;
    }
    &-item{
        width: 32%;
        margin-bottom: 14px;
        font-size: 28px;
        @include medium;
        align-self: flex-end;
        span{
            display: block;
            font-size: 18px;
            line-height: 21px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
    }
    &-discount{
        color: $orange;
    }
}
.bulk__table-top::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 770px;
    height: 1px;
    background-color: $order;
}
.bulk .profile__blog{
    margin-right: 66px;
}
.profile__blog{
    width: auto;
    &-item{
        display: block;
        width: 243px;
        height: 287px;
        position: relative;
        margin-bottom: 30px;
    }
    &-text{
        width: 191px;
        position: absolute;
        left: 26px;
        bottom: 40px;
        font-size: 20px;
        line-height: 28px;
        @include bold;
        color: #fff;
    }
}

@media (max-width: 1530px){
    .profile__blog{
        display: none;
    }
    .bulk__inner{
        justify-content: center;
    }
    .bulk__content{
        margin-left: 0;
    }
}
@media (max-width: 980px){
    .bulk__content-images{
        justify-content: center;
    }
    .bulk__table-content--small,
    .bulk__content-image--small{
        display: none;
    }
    .bulk__content-image{
        margin-right: 0;
        & + &{
            margin-left: 25px;
        }
    }
    .bulk__table-top{
        &::before{
            width: 100%;
        }
    }
}
@media (max-width: 800px){
    .container{
        padding: 0 20px;
    }
}
@media (max-width: 440px){
    .bulk__inner{
        padding: 14px 0 0;
    }
    .bulk__content-title{
        font-size: 18px;
        margin-bottom: 4px;
    }
    .bulk__content-text{
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 18px;
    }
    .bulk__table-title{
        font-size: 11px;
    }
    .bulk__table{
        margin-bottom: 15px;
    }
    .bulk__table-item{
        font-size: 14px;
        span{
            font-size: 11px;
            line-height: 13px;
        }
    }
    .bulk__table-name{
        font-size: 18px;
    }
    .bulk__content-type{
        font-size: 11px;
        margin-top: 7px;
    }
    .bulk__content-images{
        margin: 24px auto 55px;
    }
    .bulk__content-image{
        width: 48px;
        height: 48px;
        & + &{
            margin-left: 10px;
        }
        span{
            width: 19px;
            height: 19px;
            img{
                width: 10px;
                height: 10px;
            }
        }
    }
}