<section class="bulk">
    <div class="container">
        <div class="bulk__inner">
            <div class="bulk__content">
                <div class="bulk__content-title">
                    Bulk
                </div>
                <div class="bulk__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit. Velit proin lacus elementum sit in ullamcorper. Ornare commodo commodo pharetra turpis  pulvinar ante aliquet. Potenti id auctor at hac sit adipiscing ac tellus sed. Fermentum, vulputate nec viverra a, enim aenean proin etiam. Cras at donec sed donec viverra imperdiet.
                </div>
                <div class="bulk__table">
                    <div class="bulk__table-top">
                        <div class="bulk__table-title">
                            Сost
                        </div>
                        <div class="bulk__table-title">
                            Discount
                        </div>
                        <div class="bulk__table-title">
                            Name
                        </div>
                    </div>
                    <div class="bulk__table-content">
                        <div class="bulk__table-item bulk__table-cost">
                            <span>From</span>
                            $ 1 000
                        </div>
                        <div class="bulk__table-item bulk__table-discount">
                            5%
                        </div>
                        <div class="bulk__table-item bulk__table-name">
                            Bronze
                        </div>
                    </div>
                    <div class="bulk__table-content">
                        <div class="bulk__table-item bulk__table-cost">
                            <span>From</span>
                            $ 3 000
                        </div>
                        <div class="bulk__table-item bulk__table-discount">
                            7%
                        </div>
                        <div class="bulk__table-item bulk__table-name">
                            Silver
                        </div>
                    </div>
                    <div class="bulk__table-content">
                        <div class="bulk__table-item bulk__table-cost">
                            <span>From</span>
                            $ 5 000
                        </div>
                        <div class="bulk__table-item bulk__table-discount">
                            10%
                        </div>
                        <div class="bulk__table-item bulk__table-name">
                            Gold
                        </div>
                    </div>
                    <div class="bulk__table-content bulk__table-content--small">
                        <div class="bulk__table-item bulk__table-cost">
                            <span>From</span>
                            $ 10 000
                        </div>
                        <div class="bulk__table-item bulk__table-discount">
                            15%
                        </div>
                        <div class="bulk__table-item bulk__table-name">
                            Platinum
                        </div>
                    </div>
                    <div class="bulk__table-content bulk__table-content--small">
                        <div class="bulk__table-item bulk__table-cost">
                            <span>From</span>
                            $ 20 000
                        </div>
                        <div class="bulk__table-item bulk__table-discount">
                            20%
                        </div>
                        <div class="bulk__table-item bulk__table-name">
                            Titanium
                        </div>
                    </div>
                </div>
                <div class="bulk__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet.
                </div>
                <div class="bulk__content-images">
                    <div class="bulk__content-image">
                        <img src="/assets/images/profile.jpg" alt="">
                        <span class="bulk__content-green">
                            <img src="/assets/icons/header-star.svg" alt="">
                        </span>
                        <div class="bulk__content-type">
                            Bronze
                        </div>
                    </div>
                    <div class="bulk__content-image">
                        <img src="/assets/images/profile.jpg" alt="">
                        <span class="bulk__content-blue">
                            <img src="/assets/icons/header-star.svg" alt="">
                        </span>
                        <div class="bulk__content-type">
                            Silver
                        </div>
                    </div>
                    <div class="bulk__content-image">
                        <img src="/assets/images/profile.jpg" alt="">
                        <span class="bulk__content-orange">
                            <img src="/assets/icons/header-star.svg" alt="">
                        </span>
                        <div class="bulk__content-type">
                            Gold
                        </div>
                    </div>
                    <div class="bulk__content-image bulk__content-image--small">
                        <img src="/assets/images/profile.jpg" alt="">
                        <span class="bulk__content-white">
                            <img src="/assets/icons/header-star_black.svg" alt="">
                        </span>
                        <div class="bulk__content-type">
                            Platinum
                        </div>
                    </div>
                    <div class="bulk__content-image bulk__content-image--small">
                        <img src="/assets/images/profile.jpg" alt="">
                        <span class="bulk__content-black">
                            <img src="/assets/icons/header-star.svg" alt="">
                        </span>
                        <div class="bulk__content-type">
                            Titanium
                        </div>
                    </div>
                </div>
                <div class="bulk__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit.
                </div>
            </div>
            <div class="profile__blog">
                <a class="profile__blog-item" href="#" style="background-image: url(/assets/images/profile-blog_1.jpg);">
                    <div class="profile__blog-text">
                        What cigarettes are missing from the store for you?
                    </div>
                </a>
                <a class="profile__blog-item" href="#" style="background-image: url(/assets/images/profile-blog_2.jpg);">
                    <div class="profile__blog-text">
                        How important is the strength in cigarettes?
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>