@import "../../../scss/vars";

.login{
    position: relative;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 0;
    }
    &__content{
        width: 375px;
    }
    &__link{
        font-size: 20px;
        line-height: 24px;
        margin-left: 39px;
    }
    &__text{
        line-height: 160%;
        color: $grey;
        margin-top: 14px;
        a{
            color: $orange;
        }
    }
    .form{
        margin-bottom: 30px;
    }
}
.login__image{
    width: 1112px;
    height: 707px;
    margin-left: 56px;
    img{
        width: inherit;
        height: inherit;
    }
}
button{
    color: var(--label);
    &:hover{
        background-color: var(--hover);
        color: var(--bg);
    }
    &:active{
        background-color: var(--label);
        color: var(--bg);
    }
}
button.disabled{
    border-color: #d0d0d0;
    background-color: #d0d0d0;
    color: $grey;
    cursor: initial;
    &:hover,
    &:active{
        background-color: #d0d0d0;
        color: $grey;
    }
}

.pass-popup{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 638px;
    min-height: 357px;
    background-color: var(--bg);
    border: 1px solid #828282;
    padding: 55px 46px;
    z-index: 18;
    &__title{
        @include medium;
        font-size: 20px;
        margin-bottom: 18px;
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 18px;
    }
}

@media (max-width: 1730px){
    .login__image{
        width: 75%;
        height: auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .login__link{
        margin-left: 27px;
    }
}
@media (max-width: 1530px){
    .login__image{
        width: 65%;
        height: 489px;
    }
    .login__text{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    .form {
        margin-bottom: 18px;
    }
    .login__link{
        font-size: 18px;
        line-height: 21px;
    }
    .login__inner{
        padding: 49px 0;
    }
    .pass-popup{
        top: 140px;
    }
}
@media (max-width: 1120px){
    .login__image{
        display: none;
    }
    .login__content{
        width: 100%;
    }
    .form {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        input{
            width: 375px;
            margin-bottom: 20px;
        }
    }
    .login__inner{
        padding: 100px 0;
    }
    .login__text{
        width: 375px;
    }
    .pass-popup{
        top: 70px;
    }
}
@media (max-width: 995px){
    .form{
        width: 100%;
        input{
            display: block;
        }
    }
    .form__register{
        margin-top: 30px;
    }
    .login__inner{
        padding: 60px 0;
    }
}
@media (max-width: 768px){
    .pass-popup{
        width: 90%;
    }
}
@media (max-width: 490px){
    .login__inner{
        padding-bottom: 0;
    }
}
@media (max-width: 440px){
    .login__text{
        width: 100%;
        font-size: 11px;
        line-height: 18px;
        margin-top: 20px;
    }
    .login__link{
        font-size: 11px;
        line-height: 13px;
        margin-left: 17px;
    }
    .login__inner{
        padding-top: 14px;
    }
    .form{
        input,
        select{
            width: 100%;
            height: 28px;
            margin-bottom: 7px;
            font-size: 11px;
            line-height: 13px;
            padding: 7px 9px 8px;
            &::placeholder{
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
    .form__register {
        margin-top: 0;
    }
    .pass-popup{
        top: 0;
        min-height: 236px;
        padding: 28px 25px;
        border: none;
        &__title{
            font-size: 13px;
            margin-bottom: 14px;
        }
        &__text{
            font-size: 12px;
        }
    }
}