<section class="login">
    <div class="container">
        <div class="login__inner">
            <div class="login__content">
                <form class="form form__login" [formGroup]="loginForm">
                    <div class="login__title title">{{'LOGIN.TITLE'}}</div>
                    <input class="login__email" type="email" formControlName="loginEmail" name="login-email" placeholder="Username">
                    <input class="login__password" type="password" formControlName="loginPassword" name="login-password" placeholder="Password" autocomplete="off">
                    <button class="login__btn btn" (click)="login()" [ngClass]="{'disabled' : loginForm.invalid}" [disabled]="loginForm.invalid" >Login</button>
                    <a class="login__link" href="#">Lost your password?</a>
                </form>
                <form class="form form__register" [formGroup]="registerForm">
                    <div class="register__title title">Register</div>

                    <input class="register__email" type="email" formControlName="registerEmail" name="register-email" placeholder="Email address">
                    <input class="register__password" type="password" formControlName="registerPassword" name="register-password" placeholder="Password" autocomplete="off">
                    
                    <button class="register__btn btn" [ngClass]="{'disabled' : registerForm.invalid}" (click)="register()" [disabled]="registerForm.invalid">Register</button>
                    <div class="login__text">
                        Your personal data will be used to support your experience throughout this website, to manage access to your
                        account, and for other purposes described in our <a href="#" target="_blank">privacy policy.</a>
                    </div>
                </form>
            </div>
            <div class="login__image">
                <img src="/assets/images/login.jpg" alt="">
            </div>
        </div>
    </div>

    <!--PASSWORD POPUP 
    <div class="pass-popup">
        <div class="pass-popup__title">
            Lost your password?
        </div>
        <div class="pass-popup__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit.
        </div>
        <form class="pass-popup__form">
            <input type="email"  name="passpopup" placeholder="Email address">
            <button class="pass-popup__btn btn">
                Send
            </button>
        </form>
    </div>-->
</section>








