<section class="confirmation">
    <div class="confirmation__top">
        <div class="confirmation__top-logo">
            <img src="/assets/logo.svg" alt="">
        </div>
        <div class="confirmation__top-text">
            Order <span>113-8438433-7380226</span> has shipped
        </div>
    </div>
    <div class="confirmation__details">
        <div class="confirmation__details-content">
            <div class="confirmation__details-text">
                Hi Your Name, your package will arrive
            </div>
            <div class="confirmation__details-day">
                September 16
            </div>
            <div class="confirmation__details-week">
                Monday
            </div>
            <a class="confirmation__details-btn" href="#">
                Track package
            </a>
        </div>
    </div>
    <div class="confirmation__info">
        <div class="confirmation__info-item">
            <img class="image-quantity" src="/assets/icons/quantity.svg" alt="">
            <div class="confirmation__info-inner">
                <div class="confirmation__info-title">
                    On the way
                </div>
                <div class="confirmation__info-text">
                    1 item
                </div>
            </div>
        </div>
        <div class="confirmation__info-item">
            <img class="image-ship" src="/assets/icons/ship.svg" alt="">
            <div class="confirmation__info-inner">
                <div class="confirmation__info-title">
                    Ship to
                </div>
                <div class="confirmation__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies nisl neque volutpat blandit
                </div>
            </div>
        </div>
        <div class="confirmation__info-item">
            <img class="image-total" src="/assets/icons/total.svg" alt="">
            <div class="confirmation__info-inner">
                <div class="confirmation__info-title">
                    Shipment total
                </div>
                <div class="confirmation__info-text info-text__summ">
                    $9999.99
                </div>
            </div>
        </div>
        <div class="confirmation__info-link">
            Return or replace items in <a href="#">Your Orders</a>
        </div>
    </div>
    <div class="confirmation__frequently">
        <div class="confirmation__frequently-inner">
            <div class="confirmation__frequently-title">
                Top picks for you
            </div>
            <div class="confirmation__frequently-items">
                <a class="confirmation__frequently-item" href="#">
                    <img src="/assets/images/profile_content.jpg" alt="">
                    <div class="frequently-item__text">
                        Marlboro Red
                    </div>
                    <div class="frequently-item__price">
                        $10.99
                    </div>
                </a>
                <a class="confirmation__frequently-item" href="#">
                    <img src="/assets/images/profile_content.jpg" alt="">
                    <div class="frequently-item__text">
                        Lorem ipsum dolor sit amet..
                    </div>
                    <div class="frequently-item__price">
                        $10.99
                    </div>
                </a>
                <a class="confirmation__frequently-item" href="#">
                    <img src="/assets/images/profile_content.jpg" alt="">
                    <div class="frequently-item__text">
                        Marlboro Red
                    </div>
                    <div class="frequently-item__price">
                        $10.99
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="confirmation__bottom">
        <div class="confirmation__bottom-inner">
            <p>
                Unless otherwise noted, items sold by Amazon.com are subject to sales tax in select states in accordance with the applicable laws of that state. If your order contains one or more items from a seller other than Amazon.com, it may be subject to state and local sales tax, depending upon the sellers business policies and the location of their operations. Learn more about <a href="#" target="_blank">tax and seller information.</a>
            </p>
            <p>
                Your invoice can be accessed <a href="#" target="_blank">here.</a>
            </p>
            <p>
                This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
            </p>
        </div>
    </div>
</section>