@import "../../../scss/vars";

.confirmation__top{
    width: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 23px;
    &-text{
        max-width: 256px;
        @include medium;
        line-height: 22px;
        span{
            color: #005BD1;
        }
    }
    &-logo{
        width: 50px;
        height: 50px;
        img{
            width: inherit;
            height: inherit;
        }
    }
}
.confirmation__info{
    width: 380px;
    margin: 0 auto;
    padding: 37px 44px;
    &-item{
        display: flex;
        margin-bottom: 35px;
    }
    &-inner{
        width: 208px;
    }
    &-title{
        line-height: 22px;
        @include medium;
        margin-bottom: 5px;
    }
    &-text{
        font-size: 14px;
        line-height: 17px;
    }
    &-link{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        a{
            color: #005BD1;
        }
    }
}
.info-text__summ{
    color: $orange;
}
.image-quantity{
    width: 38px;
    height: 28px;
    margin-right: 23px;
}
.image-ship{
    width: 22px;
    height: 26px;
    margin-right: 38px;
}
.image-total{
    width: 27px;
    height: 27px;
    margin-right: 33px;
}
.confirmation__details{
    background-color: var(--header);
    text-align: center;
    &-content{
        width: 380px;
        margin: 0 auto;
        padding: 33px 44px 47px;
    }
    &-text{
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 9px;
    }
    &-day{
        @include medium;
        font-size: 36px;
        margin-bottom: 5px;
        color: #090;
    }
    &-week{
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #090;
        margin-bottom: 19px;
    }
    &-btn{
        font-size: 20px;
        color: #fff;
        padding: 11px 28px 12px;
        background-color: $orange;
    }
}
.confirmation__frequently{
    background-color: var(--header);
    &-inner{
        width: 380px;
        margin: 0 auto;
        padding: 18px 47px;
    }
    &-title{
        font-size: 18px;
        line-height: 22px;
        @include medium;
        margin-bottom: 27px;
        text-align: center;
    }
    &-items{
        display: flex;
        margin-left: -34px;
        margin-bottom: 19px;
    }
    &-item{
        margin-left: 34px;
        text-align: center;
        img{
            width: 73px;
            height: 119px;
        }
    }
}
.frequently-item__text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.frequently-item__price{
    font-size: 14px;
    line-height: 17px;
    color: $orange;
}
.confirmation__bottom{
    &-inner{
        width: 380px;
        margin: 0 auto;
        padding: 34px 44px 26px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
    }
    p{
        margin-bottom: 15px;
        a{
            color: #005BD1;
        }
    }
}