<section class="faqs">
    <div class="container">
        <div class="faqs__inner">
            <div class="faqs__content">
                <div class="faqs__content-tab">
                    <div class="faqs__content-arrow">
                        <img src="/assets/icons/arrow-down.svg" alt="">
                    </div>
                    <div class="faqs__content-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing.
                    </div>
                    <div class="faqs__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit. Velit proin lacus elementum sit in ullamcorper. Ornare commodo commodo pharetra turpis pulvinar ante aliquet. Potenti id auctor at hac sit adipiscing ac tellus sed. Fermentum, vulputate nec viverra a, enim aenean proin etiam. Cras at donec sed donec viverra imperdiet. Elit enim massa orci eget. Pretium lobortis gravida integer mauris, ullamcorper. Aliquam in arcu a cum feugiat. Viverra gravida mauris, quis pellentesque vitae vestibulum aenean tincidunt. Nisl diam eget lectus sagittis dictumst ut diam. Tincidunt volutpat id aliquam sed sit vehicula sit nulla. Ultrices nibh tellus, id malesuada eget. Nunc sodales aliquam, praesent tincidunt mi pellentesque. Cras netus nunc varius nunc consequat ullamcorper elit, faucibus. Eu auctor bibendum at ultrices facilisi vestibulum. Odio amet enim ante enim nec aliquet. Curabitur vulputate sem amet, varius vel venenatis. At metus massa nunc proin lectus viverra laoreet diam dui. Elementum ante ut nisi, sodales id in enim vivamus amet. Tincidunt egestas donec elit diam. Diam eget auctor tortor gravida pulvinar sit. Turpis nisl curabitur vel ullamcorper. Quis lacus, sed morbi tempus aenean. Egestas ac id ultrices elementum tincidunt rutrum. Volutpat purus, duis vitae vitae aenean dui. Ipsum egestas in congue vitae id quisque. Nunc, laoreet maecenas eget id sed pulvinar risus. Ipsum auctor phasellus risus lacus ut hac. Sit id dis blandit dis mattis nisl. Morbi vel faucibus pulvinar nulla urna netus id eu. Sed lectus viverra viverra porttitor tempor, auctor a, sed. Nunc duis maecenas interdum pharetra. Sagittis, aliquam et felis dignissim quam in ut. Elit blandit ultricies adipiscing suspendisse sociis nullam sed fermentum, sit. Vitae nec id in netus lacus.
                    </div>
                </div>
                <div class="faqs__content-tab">
                    <div class="faqs__content-arrow">
                        <img src="/assets/icons/arrow-down.svg" alt="">
                    </div>
                    <div class="faqs__content-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing.
                    </div>
                    <div class="faqs__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit. Velit proin lacus elementum sit in ullamcorper. Ornare commodo commodo pharetra turpis pulvinar ante aliquet. Potenti id auctor at hac sit adipiscing ac tellus sed. Fermentum, vulputate nec viverra a, enim aenean proin etiam. Cras at donec sed donec viverra imperdiet. Tincidunt volutpat id aliquam sed sit vehicula sit nulla. Ultrices nibh tellus, id malesuada eget. Nunc sodales aliquam, praesent tincidunt mi pellentesque. Cras netus nunc varius nunc consequat ullamcorper elit, faucibus. Eu auctor bibendum at ultrices facilisi vestibulum. Odio amet enim ante enim nec aliquet. Curabitur vulputate sem amet, varius vel venenatis.
                    </div>
                </div>
                <div class="faqs__content-tab faqs__content-tab--active">
                    <div class="faqs__content-arrow">
                        <img src="/assets/icons/arrow-down.svg" alt="">
                    </div>
                    <div class="faqs__content-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet.
                    </div>
                    <div class="faqs__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit. Velit proin lacus elementum sit in ullamcorper. Ornare commodo commodo pharetra turpis pulvinar ante aliquet. Potenti id auctor at hac sit adipiscing ac tellus sed. Fermentum, vulputate nec viverra a, enim aenean proin etiam. Cras at donec sed donec viverra imperdiet. Elit enim massa orci eget. Pretium lobortis gravida integer mauris, ullamcorper. Aliquam in arcu a cum feugiat. Viverra gravida  mauris, quis pellentesque vitae vestibulum aenean tincidunt. Nisl diam eget lectus sagittis dictumst ut diam. Tincidunt volutpat id aliquam sed sit vehicula sit nulla. Ultrices nibh tellus, id malesuada eget. Nunc sodales aliquam, praesent tincidunt mi pellentesque. Cras netus nunc varius nunc consequat ullamcorper elit, faucibus. Eu auctor bibendum at ultrices facilisi vestibulum. Odio amet enim ante enim nec aliquet. Curabitur vulputate sem amet, varius vel venenatis. At metus massa nunc proin lectus viverra laoreet diam dui. Elementum ante ut nisi, sodales id in enim vivamus amet. Tincidunt egestas donec elit diam. Diam eget auctor tortor gravida pulvinar sit. Turpis nisl curabitur vel ullamcorper. Quis lacus, sed morbi tempus aenean. Egestas ac id ultrices elementum tincidunt rutrum. Volutpat purus, duis vitae vitae aenean dui. Ipsum egestas in congue vitae id quisque. Nunc, laoreet maecenas eget id sed pulvinar risus. Ipsum auctor phasellus risus lacus ut hac. Sit id dis blandit dis mattis nisl. Morbi vel faucibus pulvinar nulla urna netus id eu. Sed lectus viverra viverra porttitor tempor, auctor a, sed. Nunc duis maecenas interdum pharetra. Sagittis, aliquam et felis dignissim quam in ut. Elit blandit ultricies adipiscing suspendisse sociis nullam sed fermentum, sit. Vitae nec id in netus lacus.
                    </div>
                </div>
            </div>
            <div class="profile__blog">
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/profile-blog_1.jpg);">
                    <div class="profile__blog-text">
                        What cigarettes are missing from the store for you?
                    </div>
                </a>
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/profile-blog_2.jpg);">
                    <div class="profile__blog-text">
                        How important is the strength in cigarettes?
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>