@import "../../../scss/vars";

.faqs{
    background-color: var(--header);
    padding: 60px 0;
}
.faqs__inner{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.faqs__content{
    max-width: 1033px;
    width: 100%;
    margin-left: 66px;
    &-tab{
        padding: 35px 131px 46px;
        background-color: var(--bg);
        cursor: pointer;
        & + &{
            margin-top: 35px;
        }
        &:hover,
        &:active{
            .faqs__content-title{
                color: $orange;
            }
        }
    }
    &-arrow{
        display: none;
        width: 29px;
        height: 16px;
        margin: 5px auto 27px;
        cursor: pointer;
        img{
            width: inherit;
            height: inherit;
            transform: rotate(180deg);
        }
    }
    &-title{
        font-size: 36px;
        @include medium;
    }
    &-text{
        display: none;
        margin: 38px 0 73px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 29px;
    }
}
.faqs .profile__blog{
    margin-right: 66px;
}
.faqs__content-tab.faqs__content-tab--active{
    cursor: initial;
    .faqs__content-text,
    .faqs__content-arrow{
        display: block;
    }
}
.profile__blog{
    width: auto;
    &-item{
        display: block;
        width: 243px;
        height: 287px;
        position: relative;
        margin-bottom: 30px;
    }
    &-text{
        width: 191px;
        position: absolute;
        left: 26px;
        bottom: 40px;
        font-size: 20px;
        line-height: 28px;
        @include bold;
        color: #fff;
    }
}

@media (max-width: 1630px){
    .faqs .profile__blog{
        display: none;
    }
    .faqs__inner{
        justify-content: center;
    }
    .faqs__content{
        margin-left: 0;
    }
}
@media (max-width: 1266px){
    .faqs{
        padding: 0;
        .container{
            padding: 0 59px;
        }
    } 
    .faqs__content{
        max-width: 904px;
    }
    .faqs__content-tab{
        padding: 35px 67px 46px;
    }
}
@media (max-width: 800px){
    .faqs .container{
        padding: 0 20px;
    }
    .faqs__inner{
        padding: 0;
    }
    .faqs__content-title{
        font-size: 28px;
    }
    .faqs__content-text{
        margin-bottom: 0;
    }
}
@media (max-width: 660px){
    .faqs__content-tab{
        position: relative;
        padding: 26px 20px 45px;
        & + &{
            margin-top: 3px;
        }
    }
    .faqs__content-arrow {
        display: block;
        width: 13px;
        height: 7px;
        margin: 0 auto 23px;
        padding-top: 18px;
        position: absolute;
        bottom: 20px;
        left: 48.5%;
        transform: translateX(-50%);
        img{
            transform: rotate(0deg);
        }
    }
    .faqs__content-tab.faqs__content-tab--active{
        .faqs__content-arrow {
            position: initial;
            padding-top: 0;
            img{
                transform: rotate(180deg);
            }
        }
    }
    .faqs__content-title{
        font-size: 20px;
    }
    .faqs__content-text{
        font-size: 13px;
        line-height: 19px;
        margin: 8px 0 0;
    }
}
@media (max-width: 440px){
    .faqs .container{
        padding: 0;
    }
    .faqs__content-title{
        font-size: 18px;
    }
    .faqs__content-text{
        font-size: 11px;
        line-height: 18px;
    }
}