@import "../../../../scss/vars";

.personal-info{
    &__content{
        max-width: 1204px;
        width: 100%;
        background-color: var(--bg);
        padding: 56px 73px 63px;
    }
    &__title{
        font-size: 36px;
        margin-bottom: 21px;
        @include medium;
    }
    &__form{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        & + &{
            margin-left: 45px;
        }
    }
    &__subtitle{
        font-size: 24px;
        @include medium;
        margin-bottom: 21px;
    }
    &__text{
        max-width: 507px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: var(--link);
        margin-bottom: 21px;
        padding-left: 19px;
        position: relative;
    }
    &__flag{
        position: absolute;
        top: -41px;
        right: 16px;
        width: 33px;
        height: 22px;
        img{
            width: inherit;
            height: inherit;
        }
    }
    &__btn{
        color: $blue;
        border-color: $blue;
        margin-right: 29px;
        &:hover{
            background-color: $blue;
            color: #fff;
        }
        &:active{
            background-color: #0F82C3;
            border-color: #0F82C3;
            color: #fff;
        }
    }
    &__btn.btn__no-border{
        &:hover,
        &:active{
            background-color: transparent;
            border-color: none;
            color: $blue;
        }
    }
}
input,
select{
    max-width: 507px;
    width: 100%;
    margin-bottom: 7px;
    background-color: transparent;
}
select{
    margin-bottom: 21px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/src/assets/images/icons/arrow-down.svg) no-repeat scroll 96% 52% transparent;
    background-size: 15px 8px;
    text-indent: 0.01px;
    color: $grey;
    &::-ms-expand{
        display: none;
    }
}
// option{
//     border: 1px solid var(--label);
//     height: 47px;
//     margin-bottom: 5px;
//     font-family: Roboto;
//     font-weight: 300;
//     font-size: 20px;
//     line-height: 23px;
//     padding: 11px 19px 13px;
// }
.personal-info-phone{
    padding-right: 63px;
}
.personal-info__btn--small{
    display: none;
}

@media (max-width: 1630px){
    .personal-info__form{
        flex-wrap: wrap;
    }
    .personal-info__item+.personal-info__item {
        margin-left: 0;
        margin-top: 24px;
    }
    .personal-info__content{
        max-width: 674px;
        padding: 56px 83px 72px;
    }
    .personal-info__btn{
        display: none;
        &.personal-info__btn--small{
            display: inline-block;
        }
    }
}
@media (max-width: 1366px){
    .personal-info__content{
        margin-left: 110px;
    }
}
@media (max-width: 1166px){
    .personal-info__content{
        margin-left: 0;
    }
}
@media (max-width: 1120px){
    .personal-info__title{
        font-size: 30px;
        margin-bottom: 29px;
    }
    .personal-info__subtitle{
        font-size: 22px;
    }
}
@media (max-width: 1015px){
    .personal-info__content {
        padding: 36px 33px 42px;
    }
}
@media (max-width: 850px){
    .personal-info__text{
        font-size: 14px;
    }
    .personal-info__content{
        width: 100%;
    }
}
@media (max-width: 750px){
    .personal-info__title{
        font-size: 24px;
    }
    .personal-info__subtitle{
        font-size: 20px;
    }
    .personal-info__content{
        padding: 25px;
    }
}
@media (max-width: 440px){
    .personal-info__form{
        input,
        select{
            width: 100%;
            height: 28px;
            margin-bottom: 7px;
            font-size: 11px;
            line-height: 13px;
            padding: 7px 9px 8px;
            &::placeholder{
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
    .personal-info__title,
    .personal-info__subtitle{
        font-size: 13px;
        margin-bottom: 8px;
    }
    .personal-info__subtitle--small{
        display: none;
    }
    .personal-info__text{
        font-size: 11px;
        margin-bottom: 7px;
        padding-left: 9px;
    }
    .personal-info__btn{
        margin-right: 5px;
    }
    .personal-info select{
        background-size: 8px 4px;
    }
    .personal-info__flag {
        top: -27px;
        right: 9px;
        width: 18px;
        height: 12px;
    }
    .personal-info__item + .personal-info__item {
        margin-top: 10px;
    }
    .personal-info__content{
        padding: 0 10px;
    }
    .personal-info__contact{
        display: none;
    }
}