<div class="personal-info__content">
    <div class="personal-info__title">
        Personal information
    </div>
    <form class="personal-info__form" [formGroup]="addressForm" >
        <div class="personal-info__item">
            <div class="personal-info__subtitle personal-info__contact">
                Contact Information
            </div>
            <input type="text" formControlName="FristName" name="personal-info-firstname" placeholder="First Name">
            <div class="personal-info__text">
                Required field
            </div>
            <input type="text" formControlName="LastName" name="personal-info-lastname" placeholder="Last Name">
            <div class="personal-info__text">
                Required field
            </div>
            <input type="email" formControlName="Email" name="personal-info-email" placeholder="E-mail">
            <div class="personal-info__text">
                Check email address
            </div>
            <input class="personal-info-phone" type="tel" formControlName="Phone" name="personal-info-phone" placeholder="Contact phone number">
            <div class="personal-info__text">
                Phone number must be in format +00000000000, and do not use spaces, parentheses and other symbols
                <div class="personal-info__flag">
                    <img src="/assets/icons/france.svg" alt="">
                </div>
            </div>
            <button class="personal-info__btn btn" type="submit">
                Save
            </button>
            <button class="personal-info__btn btn btn__no-border" type="reset">
                Clear
            </button>
        </div>
        <div class="personal-info__item">
            <div class="personal-info__subtitle">
                Address
            </div>
            <select placeholder="Country">
                <option>Country</option>
                <option>Country</option>
                <option>Country</option>
                <option>Country</option>
            </select>
            <input type="text" formControlName="Region" name="personal-info-region" placeholder="Region">
            <div class="personal-info__text">
                Required field (maximum of 50 characters)
            </div>
            <input type="text" formControlName="City" name="personal-info-city" placeholder="City">
            <div class="personal-info__text">
                Required field (maximum of 50 characters)
            </div>
            <input type="text" formControlName="Address1" name="personal-info-address" placeholder="Street address, apt, suite, building, etc.">
            <div class="personal-info__text">
                Required field (maximum of 50 characters)
            </div>
            <input type="text" formControlName="Zip" name="personal-info-postalcode" placeholder="Postal code">
            <div class="personal-info__text">
                Check the zip (must be in the format 9999999 and not have extraneous characters)
            </div>
            <button class="personal-info__btn personal-info__btn--small btn" type="submit">
                Save
            </button>
            <button class="personal-info__btn personal-info__btn--small btn btn__no-border" type="reset">
                Clear
            </button>
        </div>
    </form>
</div>