@import "../../../scss/vars";

.about__inner{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.contacts__content,
.about__content{
    max-width: 770px;
    width: 100%;
    margin-left: 132px;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 18px;
    }
    &-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 28px;
        line-height: 29px;
    }
}
.about .profile__blog{
    margin-right: 66px;
}
.about-content__image{
    width: 100%;
    height: auto;
    margin: 42px 0;
    img{
        width: inherit;
    }
}
.profile__blog{
    width: auto;
    &-item{
        display: block;
        width: 243px;
        height: 287px;
        position: relative;
        margin-bottom: 30px;
    }
    &-text{
        width: 191px;
        position: absolute;
        left: 26px;
        bottom: 40px;
        font-size: 20px;
        line-height: 28px;
        @include bold;
        color: #fff;
    }
}
.about-content__image--small{
    display: none;
}

@media (max-width: 1530px){
    .about__inner{
        justify-content: center;
    }
    .about__content{
        margin-left: 0;
    }
    .profile__blog{
        display: none;
    }
}
@media (max-width: 800px){
    .container{
        padding: 0 20px;
    }
}
@media (max-width: 440px){
    .container{
        padding: 0;
    }
    .contacts__content-title{
        font-size: 18px;
        margin-bottom: 0;
        padding: 0 20px;
    }
    .contacts__content-text{
        font-size: 11px;
        line-height: 18px;
        padding: 4px 20px 0;
    }
    .about__inner{
        padding: 0;
    }
    .about-content__image{
        display: none;
    }
    .about-content__image--small{
        display: block;
        width: 100%;
        margin-bottom: 14px;
        img{
            width: inherit;
        }
    }
}