<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content">
                <div class="about-content__image--small">
                    <img src="/assets/images/about.jpg" alt="">
                </div>
                <div class="contacts__content-title">
                    About
                </div>
                <div class="contacts__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta lectus. Odio a nec aliquam pulvinar at nulla dis in malesuada. Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae mattis nisl ultrices vestibulum. Diam vitae dictum praesent dignissim purus tincidunt pharetra, placerat vestibulum. Consectetur pellentesque tristique etiam luctus. Gravida id pellentesque lobortis congue vitae. Sem et nec at elementum in. Maecenas at nunc ante vitae ullamcorper nibh non, ut. Scelerisque faucibus auctor purus mauris. Eget nunc, sit mattis integer pulvinar. Ac vitae cras non, non gravida vestibulum nulla tristique proin. Nibh nec massa ut nec amet ornare tempor. Nullam pretium lacus adipiscing nibh. Luctus leo id netus penatibus consectetur eget viverra. Luctus ultricies orci libero sollicitudin ac euismod risus netus. Risus urna ut faucibus augue adipiscing leo molestie massa lobortis. Suspendisse donec vitae, ipsum lacus quis aenean. Cursus gravida sed sollicitudin venenatis felis.
                </div>
                <div class="about-content__image">
                    <img src="/assets/images/about.jpg" alt="">
                </div>
                <div class="about-content__image--small">
                    <img src="/assets/images/about-2.jpg" alt="">
                </div>
                <div class="contacts__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta lectus. Odio a nec aliquam pulvinar at nulla dis in malesuada. Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae mattis nisl ultrices vestibulum. Diam vitae dictum praesent dignissim purus tincidunt pharetra, placerat vestibulum. Consectetur pellentesque tristique etiam luctus.
                </div>
            </div>
            <div class="profile__blog">
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/images/profile-blog_1.jpg);">
                    <div class="profile__blog-text">
                        What cigarettes are missing from the store for you?
                    </div>
                </a>
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/images/profile-blog_2.jpg);">
                    <div class="profile__blog-text">
                        How important is the strength in cigarettes?
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>