<!-- <p>blogs works!</p> -->
<bread-crumbs></bread-crumbs>
<section class="blogs">
    <div class="container">
        <div class="blogs__inner">

            <div class="shop__sidebar">
                <div class="shop__sidebar-title">
                    Blogs
                    <span>32</span>
                </div>
                <div class="shop__content-top">
                    <div class="shop__content-sort">
                        <img src="/assets/icons/sort.svg" alt="">
                        Sort by
                    </div>
                    <div class="shop__content-sorted">
                        <div class="content-sorted__item sorted__item-date">
                            Date
                        </div>
                        <div class="content-sorted__item sorted__item-popularity content-sorted__item--active">
                            Popularity
                        </div>
                        <div class="content-sorted__item">
                            Rating
                        </div>
                        <div class="content-sorted__item">
                           New
                        </div>
                        <div class="content-sorted__item">
                            Old
                        </div>
                    </div>
                </div>

                <div class="shop-sidebarwrapper">

                <!-- START BLOGS SIDEBAR SECTION -->

                    <form>
                        <div class="form__sidebar-item sidebar-item__type">
                            <div class="label__title type__title">
                                Type
                            </div>
                            <label class="shop__sidebar-item form__sidebar-type sidebar-item__checked">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Cigarettes
                            </label>
                            <label class="shop__sidebar-item form__sidebar-type">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Tobacco Heating Systems
                            </label>
                        </div>
                        <div class="form__sidebar-item sidebar-item__type">
                            <div class="label__title">
                                Theme
                            </div>
                            <label class="shop__sidebar-item form__sidebar-theme sidebar-item__checked">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Advice
                            </label>
                            <label class="shop__sidebar-item form__sidebar-theme">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Review
                            </label>
                            <label class="shop__sidebar-item form__sidebar-theme">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Usage experience
                            </label>
                        </div>
                        <div class="form__sidebar-item sidebar-item__brands">
                            <div class="label__title brands__title">
                                Brands
                            </div>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__checked">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Alain Delon
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__disabled">
                                <input class="check-box" type="checkbox" disabled>
                                <span class="check-style"></span>
                                Ashford
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__disabled">
                                <input class="check-box" type="checkbox" disabled>
                                <span class="check-style"></span>
                                Astro
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__disabled">
                                <input class="check-box" type="checkbox" disabled>
                                <span class="check-style"></span>
                                Bahman
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__checked">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Black Devil
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Bond Street
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__checked">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Boss
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Camel
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Chesterfield
                            </label>
                            <label class="shop__sidebar-item form__sidebar-brands sidebar-item__disabled">
                                <input class="check-box" type="checkbox" disabled>
                                <span class="check-style"></span>
                                Club
                            </label>
                            <div class="shop__sidebar-link">
                                Show all
                            </div>
                        </div>
                        <div class="form__sidebar-item sidebar-item__countries">
                            <div class="label__title">
                                Countries
                            </div>
                            <label class="shop__sidebar-item sidebar-item__checked">
                                <img src="/assets/svg/f/4x3/be.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Belgium
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/de.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Denmark
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/fr.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                France
                            </label>
                            <label class="shop__sidebar-item sidebar-item__checked">
                                <img src="/assets/svg/f/4x3/gb.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                United Kingdom
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/lv.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Latvia
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/pl.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Poland
                            </label>
                            <label class="shop__sidebar-item sidebar-item__checked">
                                <img src="/assets/svg/f/4x3/se.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox" checked>
                                <span class="check-style"></span>
                                Sweden
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/it.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Italy
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/no.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Norway
                            </label>
                            <label class="shop__sidebar-item">
                                <img src="/assets/svg/f/4x3/pt.svg" width="33px" height="22px" alt="">
                                <input class="check-box" type="checkbox">
                                <span class="check-style"></span>
                                Portugal
                            </label>
                            <div class="shop__sidebar-link">
                                Show all
                            </div>
                        </div>
                        <div class="shop__sidebar-btn">
                            <button class="btn">
                                Apply
                            </button>
                            <button class="btn btn__no-border">
                                Clear
                            </button>
                        </div>
                        <img class="form__sidebar-arrow" src="/assets/icons/arrow-down.svg" alt="">
                    </form>

                <!-- END BLOGS SIDEBAR SECTION -->

                </div>
            </div>

            <div class="shop__content">

                <div class="useful_tips__itemswrapper">
                    <div class="useful_tips__items">
                        <div class="shop__content-found">
                            <span>32</span>
                            products found
                        </div>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                        <a class="useful_tips__item" href="#">
                            <div class="useful_tips__image">
                                <img src="/assets/articles/content_4.jpg" alt="">
                                <div class="useful_tips__category">
                                    France
                                </div>
                            </div>
                            <div class="useful_tips__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh..
                            </div>
                            <div class="useful_tips__rate">
                                <div class="useful_tips__star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="useful_tips__view">
                                    <img src="/assets/icons/view.svg" alt="">
                                    <span>482</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="favourites__content-more">
                    <img src="/assets/icons/sigarettes.svg" alt="">
                </div>
                <a class="go-up" href="#">
                    <img src="/assets/icons/go-up.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>