@import "../../../scss/vars";

.blogs__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.shop__sidebar{
    width: 100%;
    display: flex;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 8px;
        position: relative;
        span{
            font-size: 18px;
            line-height: 21px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            vertical-align: super;
        }
    }
    &-item{
        position: relative;
        align-self: flex-start;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 6px;
        margin-left: 35px;
        img{
            vertical-align: sub;
            margin-bottom: 3px;
            margin-right: 2px;
        }
    }
    &-link{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: $grey;
        margin-top: 6px;
        cursor: pointer;
    }
}
form{
    width: inherit;
}
.shop-sidebarwrapper{
    position: absolute;
    left: 0;
    top: 65px;
    width: 314px;
}
.form__sidebar-arrow{
    display: none;
}
.form__sidebar-item{
    display: flex;
    flex-direction: column;
}
.sidebar-item__wrapper{
    width: 50%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.label__title{
    width: 100%;
    font-size: 24px;
    padding: 11px 0;
}
.check-box{
    position: absolute;
    // width: 1px;
    // height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 33px;

    width: auto;
    height: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
    border: none;
}
.check-style{
    position: absolute;
    top: 4px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--label);
    left: -25px;
}
.check-box:checked + .check-style::before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    top: 2px;
    left: 2px;
    background-color: $orange;
}
.check-box:disabled + .check-style{
    border-color: $grey;
    background-color: var(--checkbox);
}
.sidebar-item__disabled{
    color: $grey;
}
.sidebar-item__checked{
    font-weight: 400;
}
.shop__sidebar-btn{
    display: none;
}
.shop__content{
    width: 100%;
    margin-left: 390px;
    &-top{
        display: flex;
        margin-bottom: 21px;
        margin-left: 268px;
        & > div{
            font-size: 20px;
            @include medium;
        }
    }
    &-sort{
        margin-right: 38px;
        img{
            display: none;
        }
    }
    &-sorted{
        color: $grey;
        display: flex;
    }
    &-found{
        position: absolute;
        left: 20px;
        top: 892px;
        border: 1px solid $orange;
        padding: 20px 34px 25px;
        font-size: 20px;
        color: $grey;
        background-color: var(--bg);
        z-index: 5;
        span{
            @include medium;
            color: var(--label);
        }
    }
}
.useful_tips__items{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    position: relative;
}
.useful_tips{
    &__item{
        margin-left: 20px;
        margin-bottom: 70px;
        width: 375px;
    }
    &__image{
        width: inherit;
        height: 375px;
        position: relative;
        img{
            border: 1px solid transparent;
            width: inherit;
            height: inherit;
            @include bgi;
        }
    }
    &__category{
        position: absolute;
        left: 16px;
        bottom: 14px;
        color: $orange;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        max-width: 350px;
        z-index: 3;
    }
    &__text{
        font-size: 20px;
        @include medium;
        padding: 20px 16px 18px;
    }
    &__rate{
        display: flex;
        padding: 0 16px;
    }
    &__star,
    &__view,
    &__comment{
        margin-right: 30px;
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $order;
        img{
            margin-right: 14px;
        }
    }
}
.useful_tips__item:hover,
.useful_tips__item:active{
    .useful_tips__image img{
        border-color: $orange;
    }
    .useful_tips__text{
        color: $orange;
    }
}
.content-sorted__item{
    cursor: pointer;
    & + &{
        margin-left: 38px;
    }
    &.content-sorted__item--active{
        color: $orange;
    }
}
.sorted__item-date,
.profile__content-boxes--small{
    display: none;
}
.favourites__content-more{
    width: 25px;
    margin: 0 auto 25px;
    cursor: pointer;
    img{
        width: inherit;
        @include bgi;
    }
}
.form__sidebar-arrow,
.shop__sidebar-btn,
.sorted__item-date{
    display: none;
}

@media (max-width: 1366px){
    .useful_tips__item{
        width: 276px;
    }
    .useful_tips__image{
        height: 276px;
    }
    .useful_tips__text{
        font-size: 16px;
        line-height: 21px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .shop-sidebarwrapper{
        width: 240px;
    }
    .form__sidebar-type,
    .form__sidebar-brands{
        font-size: 16px;
        .check-style{
            top: 5px;
            width: 13px;
            height: 13px;
        }
        .check-box:checked + .check-style::before{
            width: 7px;
            height: 7px;
        }
    }
    .type__title,
    .brands__title{
        font-size: 22px;
    }
    .form__sidebar-brands{
        font-size: 18px;
    }
    .sidebar-item__brands{
        .shop__sidebar-link{
            font-size: 16px;
        }
    }
    .shop__content{
        margin-left: 290px;
    }
    .shop__content-top>div{
        font-size: 18px;
    }
    .shop__content-found{
        display: none;
    }
    .shop__content-top{
        margin-left: 183px;
    }
}
@media (max-width: 1120px){
    .container{
        padding: 0 60px;
    }
}
@media (max-width: 1024px){
    .useful_tips__item{
        width: 210px;
        margin-bottom: 50px;
    }
    .useful_tips__image{
        height: 211px;
    }
    .useful_tips__text{
        font-size: 14px;
        line-height: 18px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .useful_tips__rate{
        padding: 0 7px;
    }
    .shop{
        &__sidebar{
            position: relative;
            height: 100%;
        }
    }
    .shop-sidebarwrapper{
        top: 43px;
        z-index: 5;
        width: 904px;
        background-color: var(--bg);
        height: 465px;
    }
    .shop__content-sort{
        img{
            display: inline;
            margin-right: 24px;
            width: 18px;
            height: 12px;
            @include bgi;
            cursor: pointer;
        }
    }
    .shop__content{
        margin-left: 3px;
    }
    .shop__content-top {
        margin-left: 135px;
    }
    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: inherit;
        height: inherit;
    }
    .form__sidebar-item{
        width: 30%;
        .label__title{
            font-size: 22px;
        }
    }
    .form__sidebar-arrow{
        display: block;
        position: absolute;
        bottom: 35px;
        left: 50%;
        display: block;
        width: 17px;
        height: 10px;
        @include bgi;
        transform: translateX(-50%);
        transform: rotate(180deg);
        cursor: pointer;
    }
    .shop__sidebar-item{
        margin-bottom: 6px;
        img{
            width: 27px;
            height: 17px;
            margin-bottom: 5px;
            margin-right: 11px;
        }
        .check-style{
            top: 5px;
            width: 13px;
            height: 13px;
        }
        .check-box:checked + .check-style::before{
            width: 7px;
            height: 7px;
        }
    }
    .sidebar-item__brands,
    .sidebar-item__countries{
        .check-style{
            top: 7px;
        }
    }
    .sidebar-item__countries{
        .shop__sidebar-item{
            margin-bottom: 0;
        }
        .shop__sidebar-link{
            margin-top: 5px;
        }
    }
    .form__sidebar-theme{
        font-size: 16px;
    }
    .shop__sidebar-link{
        margin-top: 0;
        font-size: 16px;
    }
}
@media (max-width: 990px){
    .shop-sidebarwrapper{
        top: 100px;
        width: 100%;
        height: auto;
    }
    .shop__sidebar{
        flex-wrap: wrap;
    }
    .shop__content-top{
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }
    .shop__content-sort{
        img{
            position: absolute;
            top: 15px;
            right: 0;
            width: 30px;
            height: 20px;
        }
    }
    form{
        flex-direction: row;
        flex-wrap: wrap;
        width: inherit;
        height: inherit;
        padding-bottom: 40px;
    }
    .form__sidebar-item{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .shop__sidebar-item{
        margin-bottom: 10px;
        margin-left: 60px;
        img{
            margin-bottom: 1px;
        }
    }
    .sidebar-item__wrapper{
        width: 100%;
        flex-direction: row;
    }
    .form__sidebar-arrow{
        display: none;
    }
    .sidebar-item__countries .shop__sidebar-item{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .shop__sidebar-link{
        width: 100%;
        margin-left: 20px;
        font-size: 16px;
    }
    .shop__sidebar-btn{
        display: block;
        margin: 43px auto 14px;
        text-align: center;
    }
    .btn{
        border-color: transparent;
        background-color: #DCF2FF;
        color: $blue;
    }
    .btn.btn__no-border{
        background-color: transparent;
        margin-left: 22px;
    }
}
@media (max-width: 800px){
    .container{
        padding: 0 20px;
    }
    .shop__sidebar-title,
    .shop__sidebar-title span{
        font-size: 24px;
    }
    .shop__sidebar-title span{
        vertical-align: revert;
        margin-left: 6px;
        font-family: 'Golos-Medium', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $grey;
    }
    .shop__content-sort img{
        top: 5px;
    }
}
@media (max-width: 650px){
    .sorted__item-date{
        display: block;
    }
    .sorted__item-popularity{
        display: none;
    }
    .form__sidebar-brands,
    .sidebar-item__countries .shop__sidebar-item{
        font-size: 16px;
        .check-style{
            top: 5px;
        }
    }
}
@media (max-width: 486px){
    .useful_tips__items{
        margin-left: -15px;
    }
    .useful_tips__item{
        width: 196px;
        margin-left: 10px;
    }
    .useful_tips__image{
        height: 200px;
    }
    .shop-sidebarwrapper{
        left: -3px;
        width: 101%;
    }
}
@media (max-width: 440px){
    .container{
        padding: 0 10px;
    }
    .shop-sidebarwrapper{
        top: 65px;
    }
    .shop__sidebar-title{
        margin-top: 8px;
        margin-bottom: 13px;
    }
    .shop__sidebar-title,
    .shop__sidebar-title span{
        font-size: 14px;
        line-height: 20px;
    }
    .shop__content-sort{
        margin-right: 14px;
        img{
            top: 13px;
            width: 16px;
            height: 11px;
            margin-right: 0;
        }
    }
    .shop__content-top{
        margin-top: 0;
    }
    .shop__content-top > div{
        font-size: 13px;
    }
    .shop__content-sorted{
        margin-top: 1px;
        &  > div{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
    }
    .content-sorted__item{
        & + &{
            margin-left: 14px;
        }
    }
    form{
        padding-bottom: 0;
    }
    .shop__sidebar-link{
        margin-top: 0;
        font-size: 11px;
        margin-bottom: 8px;
        margin-left: 23px;
    }
    .shop__sidebar-item{
        font-size: 11px;
        margin-left: 40px;
        margin-bottom: 6px;
        .check-box:checked + .check-style::before {
            width: 5px;
            height: 5px;
            top: 2px;
            left: 2px;
        }
        .check-style{
            width: 11px;
            height: 11px;
            left: -16px;
            top: 2px;
        }
        img{
            width: 18px;
            height: 12px;
            margin-right: 6px;
        }
    }
    .sidebar-item__countries{
        .shop__sidebar-item{
            width: 36%;
            font-size: 11px;
            .shop__sidebar-link{
                margin-top: 0;
            }
            .check-style{
                top: 2px;
            }
        }
    } 
    .sidebar-item__brands .shop__sidebar-link{
        font-size: 11px;
    }
    .form__sidebar-item{
        margin-left: -22px;
        .label__title{
            font-size: 13px;
            padding: 8px 0 6px;
            margin-left: 23px;
        }
    }
    .shop__sidebar-btn{
        margin-top: 35px;
    }
    .useful_tips__items{
        margin-left: -21px;
    }
    .useful_tips__item:hover,
    .useful_tips__item:active{
        .useful_tips__image img{
            border-color: transparent;
        }
        .useful_tips__text{
            color: var(--label);
        }
    }
    .useful_tips__item{
        width: 88px;
        height: 119px;
        margin-left: 18px;
        margin-bottom: 20px;
    }
    .useful_tips__image{
        height: 87px;
    }
    .useful_tips__text,
    .useful_tips__category{
        font-size: 7px;
        line-height: 130%;
    }
    .useful_tips__text{
        padding: 5px 5px 0;
        height: 32px;
        overflow-y: hidden;
    }
    .useful_tips__category{
        left: 6px;
        bottom: 6px;
        max-width: 76px;
    }
    .useful_tips__rate{
        display: none;
    }
    .favourites__content-more{
        width: 15px;
        margin: 5px auto 0;
        img{
            width: inherit;
        }
    }
}