@import "../../../../scss/vars";

.profile__contentwrapper{
    display: flex;
    justify-content: space-between;
    margin-left: -110px;
}
.profile__content{
    max-width: 1055px;
    width: 100%;
    height: 100%;
    display: flex;
    &-item{
        width: 507px;
        background-color: var(--bg);
        padding: 39px 39px 44px;
        margin-right: 20px;
        height: 100%;
    }
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
    }
    &-title{
        font-size: 28px;
        line-height: 39px;
        @include medium;
        position: relative;
        span{
            font-family: Roboto;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            vertical-align: super;
        }
    }
    &-show{
        font-family: Roboto;
        font-weight: 300;
    }
    &-box{
        display: block;
        width: 100%;
        border: 1px solid $grey;
        padding: 27px 43px 30px;
        & + &{
            margin-top: 20px;
        }
        &:hover,
        &:active{
            border-color: $orange;
            .profile__content-price{
                color: $orange;
            }
            .profile__content-price span{
                color: var(--label);
            }
        }
    }
    &-top,
    &-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-top{
        margin-bottom: 14px;
    }
    &-price{
        font-size: 30px;
        line-height: 36px;
        @include medium;
        margin-right: 10px;
        span{
            font-size: 20px;
            line-height: 23px;
            font-family: Roboto;
            font-weight: 300;
        }
    }
    &-rate{
        display: flex;
        align-items: center;
        img{
            width: 22px;
            height: 21px;
        }
        span{
            font-family: Roboto;
            font-weight: 400;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
        }
    }
    &-name{
        margin-right: 10px;
    }
    &-like{
        width: 27px;
        height: 21px;
        img{
            width: inherit;
        }
    }
}
.profile__content-like--small,
.profile__content-box--small,
.profile__content-show--small{
    display: none;
}
.icon-heart-o{
    width: 25px;
}
.profile__blog{
    width: auto;
    &-item{
        display: block;
        width: 243px;
        height: 287px;
        position: relative;
        margin-bottom: 30px;
    }
    &-text{
        width: 191px;
        position: absolute;
        left: 26px;
        bottom: 40px;
        font-size: 20px;
        line-height: 28px;
        @include bold;
        color: var(--bg);
    }
}

@media (max-width: 1730px){
    .profile__contentwrapper{
        margin-left: 0;
    }
    .profile__content{
        width: auto;
    }
    .profile__content-item{
        width: 375px;
        padding-bottom: 34px;
    }
    .profile__content-box{
        padding: 23px 28px 27px;
    }
    .profile__content-price span{
        display: none;
    }
    .profile__content-like--big{
        display: none;
    }
    .profile__content-like--small{
        display: block;
    }
    .profile__content-name {
        margin-right: 0;
    }
}
@media (max-width: 1630px){
    .profile__blog{
        display: none;
    }
}
@media (max-width: 1530px){
    .profile__content{
        margin-left: 40px;
    }
    .profile__content-inner{
        margin-bottom: 24px;
    }
    .profile__content-title{
        font-size: 24px;
        line-height: 34px;
        span{
            font-size: 16px;
            line-height: 19px;
        }
    }
}
@media (max-width: 1200px){
    .profile__content-item{
        width: 288px;
        padding: 25px 19px;
    }
    .profile__content-inner{
        justify-content: center;
    }
    .profile__content-show--big{
        display: none;
    }
    .profile__content-show--small{
        display: block;
        text-align: center;
        margin-top: 24px;
    }
    .profile__content-box{
        padding: 17px 18px 26px;
    }
    .profile__content-price{
        font-size: 27px;
        line-height: 32px;
    }
    .profile__content-name{
        font-size: 16px;
        line-height: 19px;
    }
}
@media (max-width: 1015px){
    .profile__content{
        flex-wrap: wrap;
    }
    .profile__content-item{
        width: 80%;
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media (max-width: 850px){
    .profile__content-item{
        width: 100%;
    }
}
@media (max-width: 768px){
    .profile__content{
        margin-left: 0;
    }
}
@media (max-width: 660px){
    .profile__content {
        width: 100%;
    }
    .profile__content-inner{
        justify-content: space-between;
        padding: 0 10px;
    }
    .profile__content-show--big{
        display: block;
    }
    .profile__content-show--small{
        display: none;
    }
    .profile__content-item{
        margin-bottom: 0;
        & + &{
            border-top: 5px solid var(--header);
        }
    }
}
@media (max-width: 440px){
    .profile__content-title,
    .profile__content-title span{
        font-size: 13px;
        line-height: 18px;
    }
    .profile__content-title span{
        vertical-align: revert;
        margin-left: 5px;
        font-family: 'Golos-Regular', sans-serif;
        font-weight: 400;
        color: $grey;
    }
    .profile__content-show{
        color: $grey;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
    .profile__content-inner{
        margin-top: 9px;
        margin-bottom: 11px;
        padding: 0;
    }
    .profile__content-item{
        padding: 0 10px 18px;
    }
    .profile__content-box{
        display: none;
    }
    .profile__content-boxes--small{
        display: flex;
    }
    .profile__content-box--small{
        display: block;
        width: 88px;
        min-height: 105px;
        &:focus,
        &:active{
            .profile__content-image--small{
                border-color: $orange;
            }
            .profile__content-price--small span{
                color: $orange;
            }
        }
        .profile__content-price--small{
            span{
                font-size: 11px;
                line-height: 15px;
                @include medium;
                padding-left: 5px;
                margin: 3px 6px 3px 3px;
            }
            img{
                width: 8px;
                height: 8px;
            }
        }
        & + &{
            margin-left: 18px;
        }
    }
    .profile__content-image--small{
        width: 100%;
        height: 90px;
        border: 1px solid $grey;
        img{
            width: 42px;
            @include bgi;
            margin: 10px 22px;
        }
    }
}