<div class="profile__contentwrapper">
    <div class="profile__content">
        <div class="profile__content-item">
            <div class="profile__content-inner">
                <div class="profile__content-title">
                    My favourites
                    <span>32</span>
                </div>
                <a class="profile__content-show profile__content-show--big" href="#">
                    Show all
                </a>
            </div>
            <a class="profile__content-box" href="#">
                <div class="profile__content-top">
                    <div class="profile__content-price">
                        $ 10.97
                        <span>per pack</span>
                    </div>
                    <div class="profile__content-rate icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="profile__content-like profile__content-like--small icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
                <div class="profile__content-bottom">
                    <div class="profile__content-name">
                        Camel Filters
                    </div>
                    <div class="profile__content-like profile__content-like--big icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box" href="#">
                <div class="profile__content-top">
                    <div class="profile__content-price">
                        $ 7.67
                        <span>per pack</span>
                    </div>
                    <div class="profile__content-rate icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="profile__content-like profile__content-like--small icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
                <div class="profile__content-bottom">
                    <div class="profile__content-name">
                        Kent Neo 4
                    </div>
                    <div class="profile__content-like profile__content-like--big icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box" href="#">
                <div class="profile__content-top">
                    <div class="profile__content-price">
                        $ 10.55
                        <span>per pack</span>
                    </div>
                    <div class="profile__content-rate icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="profile__content-like profile__content-like--small icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
                <div class="profile__content-bottom">
                    <div class="profile__content-name">
                        Marlboro - Red
                    </div>
                    <div class="profile__content-like profile__content-like--big icon-heart">
                        <img src="/assets/icons/like.svg" alt="">
                    </div>
                </div>
            </a>
            <div class="profile__content-boxes--small">
                <a class="profile__content-box--small" href="#">
                    <div class="profile__content-image--small">
                        <img src="/assets/content/profile_content.jpg" alt="">
                    </div>
                    <div class="profile__content-bottom--small">
                        <div class="profile__content-price--small">
                            <span>$ 10.55</span>
                            <img src="/assets/icons/plus.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="profile__content-box--small" href="#">
                    <div class="profile__content-image--small">
                        <img src="/assets/content/profile_content.jpg" alt="">
                    </div>
                    <div class="profile__content-bottom--small">
                        <div class="profile__content-price--small">
                            <span>$ 10.55</span>
                            <img src="/assets/icons/plus.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="profile__content-box--small" href="#">
                    <div class="profile__content-image--small">
                        <img src="/assets/content/profile_content.jpg" alt="">
                    </div>
                    <div class="profile__content-bottom--small">
                        <div class="profile__content-price--small">
                            <span>$ 10.55</span>
                            <img src="/assets/icons/plus.svg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <a class="profile__content-show profile__content-show--small" href="#">
                Show all
            </a>
        </div>
        <div class="profile__content-item">
            <div class="profile__content-inner">
                <div class="profile__content-title">
                    My story
                    <span>102</span>
                </div>
                <a class="profile__content-show profile__content-show--big" href="#">
                    Show all
                </a>
            </div>
            <a class="profile__content-box" href="#">
                <div class="profile__content-top">
                    <div class="profile__content-price">
                        $ 8.37
                        <span>per pack</span>
                    </div>
                    <div class="profile__content-rate icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="profile__content-like profile__content-like--small icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
                <div class="profile__content-bottom">
                    <div class="profile__content-name">
                        Davidoff Blue
                    </div>
                    <div class="profile__content-like profile__content-like--big icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box" href="#">
                <div class="profile__content-top">
                    <div class="profile__content-price">
                        $ 9.67
                        <span>per pack</span>
                    </div>
                    <div class="profile__content-rate icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="profile__content-like profile__content-like--small icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
                <div class="profile__content-bottom">
                    <div class="profile__content-name">
                        Classic Red
                    </div>
                    <div class="profile__content-like profile__content-like--big icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="profile__content-box" href="#">
                <div class="profile__content-top">
                    <div class="profile__content-price">
                        $ 10.75
                        <span>per pack</span>
                    </div>
                    <div class="profile__content-rate icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>4.6</span>
                    </div>
                    <div class="profile__content-like profile__content-like--small icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
                <div class="profile__content-bottom">
                    <div class="profile__content-name">
                        Parliament Silver Blue
                    </div>
                    <div class="profile__content-like profile__content-like--big icon-heart-o">
                        <img src="/assets/icons/heart.svg" alt="">
                    </div>
                </div>
            </a>
            <div class="profile__content-boxes--small">
                <a class="profile__content-box--small" href="#">
                    <div class="profile__content-image--small">
                        <img src="/assets/content/profile_content.jpg" alt="">
                    </div>
                    <div class="profile__content-bottom--small">
                        <div class="profile__content-price--small">
                            <span>$ 10.55</span>
                            <img src="/assets/icons/plus.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="profile__content-box--small" href="#">
                    <div class="profile__content-image--small">
                        <img src="/assets/content/profile_content.jpg" alt="">
                    </div>
                    <div class="profile__content-bottom--small">
                        <div class="profile__content-price--small">
                            <span>$ 10.55</span>
                            <img src="/assets/icons/plus.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="profile__content-box--small" href="#">
                    <div class="profile__content-image--small">
                        <img src="/assets/content/profile_content.jpg" alt="">
                    </div>
                    <div class="profile__content-bottom--small">
                        <div class="profile__content-price--small">
                            <span>$ 10.55</span>
                            <img src="/assets/icons/plus.svg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <a class="profile__content-show profile__content-show--small" href="#">
                Show all
            </a>
        </div>
    </div>
    <div class="profile__blog">
        <a class="profile__blog-item" href="#" style="background-image: url(/assets/images/profile-blog_1.jpg);">  
            <div class="profile__blog-text">
                What cigarettes are missing from the store for you?
            </div>
        </a>
        <a class="profile__blog-item" href="#" style="background-image: url(/assets/images/profile-blog_2.jpg);">
            <div class="profile__blog-text">
                How important is the strength in cigarettes?
            </div>
        </a>
    </div>
</div>