<section class="thank-you">
    <div class="container">
        <div class="thank-you__inner">
            <div class="thank-you__image">
                <img src="/assets/icons/smile-big.svg" alt="">
            </div>
            <div class="thank-you__title">
                Thank you for shopping
            </div>
            <div class="thank-you__text">
                Order 13671381
            </div>
            <div class="thank-you__links">
                <a class="thank-you__link" href="#">
                    Go to Orders
                </a>
                <a class="thank-you__link" href="#">
                    Go to the shop
                </a>
                <a class="thank-you__link" href="#">
                    Go to the profile
                </a>
            </div>
        </div>  
        <home-recommend></home-recommend>
    </div>
</section>
