@import "../../../scss/vars";

.thank-you__inner{
    text-align: center;
    padding: 169px 0 142px;
}
.thank-you__image{
    width: 61px;
    height: 61px;
    margin: 0 auto 21px;
    img{
        width: inherit;
        height: inherit;
    }
}
.thank-you__title{
    font-size: 36px;
    @include medium;
    margin-bottom: 18px;
}
.thank-you__text{
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 37px;
}
.thank-you__links{
    display: flex;
    justify-content: center;
}
.thank-you__link{
    color: $blue;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    & + &{
        margin-left: 43px;
    }
}

@media (max-width: 1366px){
    .thank-you__inner{
        padding: 101px 0 135px;
    }
    .thank-you__image{
        width: 43px;
        height: 43px;
        margin-bottom: 18px;
    }
    .thank-you__title{
        font-size: 30px;
        margin-bottom: 14px;
    }
    .thank-you__text{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 26px;
    }
    .thank-you__link{
        font-size: 16px;
        line-height: 19px;
    }
}
@media (max-width: 1120px){
    .thank-you .container{
        padding: 0 59px;
    }
}
@media (max-width: 768px){
    .thank-you .container{
        padding: 0 10px;
    }
    .thank-you__links{
        display: block;
    }
    .thank-you__link{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .thank-you__link + .thank-you__link{
        margin-left: 0;
    }
}
@media (max-width: 440px){
    .thank-you__inner{
        padding-bottom: 70px;
    }
    .thank-you__title{
        font-size: 13px;
        margin-bottom: 35px;
    }
    .thank-you__text{
        display: none;
    }
    .thank-you__link{
        font-size: 11px;
        line-height: 13px;
    }
}