@import "../../../scss/vars";

.confirmation__top{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 82px;
    &-text{
        max-width: 457px;
        p{
            font-family: Roboto;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
        }
        p + p{
            padding-top: 15px;
        }
    }
    &-logo{
        width: 106px;
        height: 106px;
        margin-left: 75px;
        img{
            width: inherit;
            height: inherit;
        }
    }
    &-title{
        font-size: 36px;
        @include medium;
    }
}
.confirmation__details{
    background-color: var(--header);
    &-inner{
        width: 1200px;
        margin: 0 auto;
        padding: 55px 82px 90px;
        display: flex;
        justify-content: space-between;
    }
    &-content{
        width: 48%;
        position: relative;
    }
    &-title{
        font-size: 36px;
        @include medium;
        margin-bottom: 42px;
    }
    &-sliderwrapper{
        width: 100%;
        overflow-x: auto;
        margin-left: -20px;
        margin-bottom: 60px;
        &::-webkit-scrollbar{
            height: 0;
        }
    }
    &-slider{
        width: max-content;
        img{
            width: 127px;
            height: 207px;
            margin-left: 49px;
        }
    }
    &-arriving{
        font-family: Roboto;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 23px;
        span{
            margin-left: 21px;
            color: #090;
        }
    }
    &-btn{
        font-size: 20px;
        color: #fff;
        padding: 11px 28px 12px;
        background-color: $orange;
    }
    &-info{
        width: 48%;
        margin-top: 13px;
        & > div{
            font-family: Roboto;
            font-weight: 400;
        }
        .details-info__total{
            @include medium;
        }
    }
}
.details-info{
    &__order{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
        span{
            color: #005BD1;
        }
    }
    &__title{
        margin-bottom: 15px;
        span{
            color: $order;
            margin-right: 16px;
        }
    }
    &__text{
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 35px;
    }
    &__total{
        padding: 22px 0;
        font-size: 40px;
        span{
            color: $orange;
            margin-left: 21px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
    }
}
.story-item__gradient{
    top: 91px;
    height: 210px;
    position: absolute;
    right: 15px;
    z-index: 3;
    width: 55px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
}
.confirmation__frequently{
    width: 1200px;
    margin: 0 auto;
    padding: 42px 82px;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
    }
    &-text{
        font-family: Roboto;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    &-title{
        font-size: 36px;
        @include medium;
        margin-bottom: 57px;
    }
    &-items{
        display: flex;
        margin-left: -40px;
        margin-bottom: 50px;
    }
    &-item{
        width: 225px;
        margin-left: 40px;
        text-align: center;
        img{
            width: 127px;
            height: 207px;
            margin: 0 auto;
        }
    }
}
.frequently-item__text{
    font-family: Roboto;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
}
.frequently-item__price{
    font-size: 24px;
    line-height: 29px;
    @include medium;
    color: $orange;
}
.confirmation__bottom{
    background-color: var(--header);
    &-inner{
        width: 1200px;
        margin: 0 auto;
        padding: 84px 82px 78px;
        font-family: Roboto;
        font-weight: 400;
    }
    p{
        margin-bottom: 20px;
        a{
            color: #005BD1;
        }
    }
}