<section class="confirmation">
    <div class="confirmation__top">
        <div class="confirmation__top-text">
            <p>Hello Your Name</p>
            <p>Thank you for shopping with us. We’ll send a confirmation when your item ships.</p>
        </div>
        <div class="confirmation__top-logo">
            <img src="/assets/logo.svg" alt="">
        </div>
        <div class="confirmation__top-title">
            Order Confirmation
        </div>
    </div>
    <div class="confirmation__details">
        <div class="confirmation__details-inner">
            <div class="confirmation__details-content">
                <div class="confirmation__details-title">
                    Details
                </div>
                <div class="confirmation__details-sliderwrapper">
                    <div class="story-item__gradient"></div>
                    <div class="confirmation__details-slider">
                        <img src="/assets/images/profile_content.jpg" alt="">
                        <img src="/assets/images/profile_content.jpg" alt="">
                        <img src="/assets/images/profile_content.jpg" alt="">
                        <img src="/assets/images/profile_content.jpg" alt="">
                        <img src="/assets/images/profile_content.jpg" alt="">
                    </div>
                </div>
                <div class="confirmation__details-arriving">
                    Arriving
                    <span>September 16 - September 19</span>
                </div>
                <a class="confirmation__details-btn" href="#">
                    View or manage order
                </a>
            </div>
            <div class="confirmation__details-info">
                <div class="details-info__order">
                    Order
                    <span>113-8438433-7380226</span>
                </div>
                <div class="details-info__title">
                    Ship to
                </div>
                <div class="details-info__text">
                    First Name Last Name
                </div>
                <div class="details-info__title">
                    Address
                </div>
                <div class="details-info__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies nisl neque volutpat blandit
                </div>
                <div class="details-info__total">
                    Order Total
                    <span>$9999.99</span>
                </div>
                <div class="details-info__bottom">
                    <div class="details-info__title">
                        <span>Total Before Tax</span>
                        $9999.99
                    </div>
                    <div class="details-info__title">
                        <span>Estimated Tax</span>
                        $9999.99
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="confirmation__frequently">
        <div class="confirmation__frequently-top">
            <div class="confirmation__frequently-text">
                We hope to see you again soon
            </div>
            <a class="confirmation__frequently-text" href="#">
                TobaccoDrive.com
            </a>
        </div>
        <div class="confirmation__frequently-title">
            Frequently bought with Marlboro Red..
        </div>
        <div class="confirmation__frequently-items">
            <a class="confirmation__frequently-item" href="#">
                <img src="/assets/images/profile_content.jpg" alt="">
                <div class="frequently-item__text">
                    Marlboro Red
                </div>
                <div class="frequently-item__price">
                    $10.99
                </div>
            </a>
            <a class="confirmation__frequently-item" href="#">
                <img src="/assets/images/profile_content.jpg" alt="">
                <div class="frequently-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </div>
                <div class="frequently-item__price">
                    $10.99
                </div>
            </a>
            <a class="confirmation__frequently-item" href="#">
                <img src="/assets/images/profile_content.jpg" alt="">
                <div class="frequently-item__text">
                    Marlboro Red
                </div>
                <div class="frequently-item__price">
                    $10.99
                </div>
            </a>
            <a class="confirmation__frequently-item" href="#">
                <img src="/assets/images/profile_content.jpg" alt="">
                <div class="frequently-item__text">
                    Marlboro Red
                </div>
                <div class="frequently-item__price">
                    $10.99
                </div>
            </a>
        </div>
    </div>
    <div class="confirmation__bottom">
        <div class="confirmation__bottom-inner">
            <p>
                The payment for your invoice is processed by Amazon Payments, Inc. P.O. Box 81226 Seattle, Washington 98108-1226. If you need more information, please contact (866) 216-1075
            </p>
            <p>
                By placing your order, you agree to Amazon.com’s <a href="#" target="_blank">Privacy Notice</a> and <a href="#" target="_blank">Conditions of Use.</a> Unless otherwise noted, items sold by Amazon.com are subject to sales tax in select states in accordance with the applicable laws of that state. If your order contains one or more items from a seller other than Amazon.com, it may be subject to state and local sales tax, depending upon the seller's business policies and the location of their operations. Learn more about <a href="#" target="_blank">tax and seller information.</a>
            </p>
            <p>
                This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
            </p>
        </div>
    </div>
</section>