@import "../../../scss/vars";

.home{
    background-color: var(--bg);
    padding: 69px 0;
    &__title-main{
        max-width: 1035px;
        margin: 0 auto 21px;
        font-size: 36px;
        @include medium;
        text-align: center;
    }
    &__subtitle{
        text-align: center;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 100px;
        text-align: center;
    }
    .favourites__content-more{
        display: none;
    }
}
.home__cigarettes{
    &-top{
        display: flex;
        font-size: 28px;
        margin-bottom: 21px;
    }
    &-title{
        @include medium;
        margin-right: 107px;
        cursor: pointer;
    }
    &-items{
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
    }
    .favourites__content-item:hover,
    .favourites__content-item:active{
        .favourites__content-top{
            border-color: $orange;
        }
        .favourites__content-price{
            color: $orange;
        }
    }
}
.home__title{
    font-size: 28px;
    @include medium;
}
.home__cigarettes-title.home__cigarettes-title--off{
    color: $grey;
    font-family: 'Golos-Regular', sans-serif;
    font-weight: 400;
}
.favourites{
    &__content{
        &-item{
            margin-left: 20px;
            margin-bottom: 70px;
            max-width: 375px;
            width: 100%;
            position: relative;
            display: block;
        }
        &-top{
            border: 1px solid $grey;
            height: 375px;
        }
        &-image-wrapper{
            display: block;
            width: 190px;
            height: 305px;
            margin: 37px auto -14px;
        }
        &-image{
            width: inherit;
            height: inherit;
            margin: auto;
            img{
                @include bgi;
                width: inherit;
                height: inherit;
            }
        }
        &-rate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 27px 27px;
            position: relative;
            z-index: 3;
        }
        &-star{
            display: flex;
            align-items: center;
            span{
                margin: 0 8px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
        &-like{
            display: block;
            position: absolute;
            top: 16px;
            right: 29px;
            width: 25px;
            height: 25px;
            z-index: 3;
        }
        &-cart{
            display: block;
            width: 29px;
            height: 23px;
            margin-bottom: 8px;
        }
        &-bottom{
            padding: 15px 18px 0;
        }
        &-price{
            font-size: 30px;
            @include medium;
            margin-bottom: 16px;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
        }
    }
}
/*
.favourites__content-item .favourites__content-top.shine_effect{
    border: none;
    background-color: #d1d1d1;
}
.favourites__content-item .shine_effect:after {
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.1) 50%,rgba(128,186,232,0) 99%,rgba(125,185,125,0));
}*/
.favourites__content-like:hover{
    background-image: url(/assets/icons/cart-like_on.svg);
    .favourites__content-like img{
        display: none;
    }
}
.favourites__content-cart:hover{
    background-image: url(/assets/icons/cart-full.svg);
    .favourites__content-cart img{
        display: none;
    }
}
.profile__content-boxes--small,
.story-item__gradient{
    display: none;
}

@media (max-width: 1366px){
    .favourites__content-item{
        max-width: 276px;
        margin-bottom: 50px;
    }
    .favourites__content-top{
        height: 277px;
    }
    .favourites__content-image-wrapper{
        width: 136px;
        height: 222px;
        margin: 27px auto -34px;
    }
    .favourites__content-rate{
        align-items: flex-end;
    }
    .favourites__content-star{
        display: block;
        span{
            display: block;
            margin: 0;
        }
        img{
            margin: 0 3px;
        }
    }
    .favourites__content-bottom{
        padding-top: 13px;
    }
    .home__title-main{
        font-size: 30px;
    }
    .home__subtitle,
    .home__title{
        font-size: 24px;
    }
    .home__subtitle{
        margin-bottom: 95px;
    }
}
@media (max-width: 1024px){
    .favourites__content-item{
        max-width: 211px;
    }
    .favourites__content-image-wrapper{
        width: 103px;
        height: 169px;
        margin: 21px auto -43px;
    }
    .favourites__content-top{
        height: 210px;
    }
    .favourites__content-like{
        top: 14px;
        right: 18px;
    }
    .favourites__content-rate{
        padding: 0 16px 14px;
    }
    .favourites__content-bottom{
        padding: 9px 10px 0;
    }
    .favourites__content-price{
        font-size: 27px;
        margin-bottom: 6px;
    }
    .favourites__content-name{
        font-size: 16px;
    }
    .home{
        padding-bottom: 25px;
    }
    .home .container{
        padding: 0 58px;
    }
    .home .favourites__content-more{
        display: block;
        text-align: center;
    }
}
@media (max-width: 800px){
    .home__title.home__cigarettes-title{
        margin-right: 0;
        & + &{
            margin-left: 29px;
        }
    }
    .home__title-main{
        font-size: 24px;
    }
    .home__title,
    .home__subtitle{
        font-size: 20px;
    }
    .home .container{
        padding: 0 30px;
    }
}
@media (max-width: 440px){
    .home{
        padding-top: 38px;
        overflow-x: hidden;
    }
    .home__cigarettes{
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }
    .home__cigarettes-top{
        margin-bottom: 11px;
    }
    .home__title-main,
    .home__title{
        font-size: 13px;
    }
    .home__title-main{
        margin-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .home__subtitle{
        font-size: 10px;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .home .container{
        padding: 0;
    }
    .favourites__content-more{
        width: 15px;
        margin: 7px auto 0;
        img{
            width: inherit;
        }
    }
    .favourites__content-item{
        display: none;
    }
    .profile__content-boxes--smallwrapper{
        position: relative;
        width: 100%;
        min-width: 100%;
        margin-left: 10px;
        overflow-x: scroll;
        &::-webkit-scrollbar { width: 0; }
    }
    .profile__content-boxes--small{
        position: relative;
        width: max-content;
        min-width: max-content;
        display: flex;
        margin-left: -18px;
    }
    .profile__content-box--small{
        display: block;
        width: 88px;
        min-height: 105px;
        margin-left: 18px;
        margin-bottom: 18px;
        &:focus,
        &:active{
            .profile__content-image--small{
                border-color: $orange;
            }
            .profile__content-price--small span{
                color: $orange;
            }
        }
        .profile__content-price--small{
            span{
                font-size: 11px;
                line-height: 15px;
                @include medium;
                padding-left: 5px;
                margin: 3px 6px 3px 3px;
            }
            img{
                width: 8px;
                height: 8px;
            }
        }
    }
    .profile__content-image--small{
        width: 100%;
        height: 90px;
        border: 1px solid $grey;
        img{
            width: 42px;
            @include bgi;
            margin: 10px 22px;
        }
    }
    .story-item__gradient{
        display: block;
        top: 0;
        height: 155px;
        position: absolute;
        right: -3px;
        z-index: 3;
        width: 70px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
}