<section class="home">
    <div class="container">
        <div class="home__title-main">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus suspendisse proin convallis nibh aliquam varius.
        </div>
        <div class="home__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="home__inner">
            <div class="home__cigarettes">
                <home-top-products></home-top-products>              
                <home-useful-tips></home-useful-tips>
                <home-recommend></home-recommend>
                <home-best-selling></home-best-selling>
            </div>
        </div>
        <div class="favourites__content-more">
            <img src="/assets/icons/sigarettes.svg" alt="">
        </div>
        <go-up></go-up>
    </div>
</section>