@import "../../../scss/vars";

.page-404__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.page-404__content{
    width: 395px;
    &-title{
        font-size: 96px;
        line-height: 115px;
        @include medium;
    }
    &-subtitle{
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 16px;
    }
    &-text{
        line-height: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 31px;
    }
    &-links{
        display: flex;
    }
    &-link{
        color: $blue;
        line-height: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        & + &{
            margin-left: 60px;
        }
    }
}
.page-404__image{
    max-width: 1033px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    img{
        width: inherit;
    }
}

@media (max-width: 1730px){
    .page-404__image{
        max-width: 900px;
    }
}
@media (max-width: 1530px){
    .page-404__inner{
        padding: 49px 0;
    }
    .page-404__image{
        max-width: 735px;
    }
    .page-404__content-title{
        font-size: 90px;
        line-height: 108px;
    }
    .page-404__content-subtitle {
        font-size: 24px;
        line-height: 29px;
    }
    .page-404__content-text {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 28px;
    }
    .page-404__content-link{
        font-size: 16px;
        line-height: 19px;
    }
    .page-404__content-link + .page-404__content-link {
        margin-left: 73px;
    }
}
@media (max-width: 1345px){
    .page-404 .container{
        padding: 0 60px;
    }
}
@media (max-width: 1200px){
    .page-404__image{
        max-width: 490px;
        height: 489px;
        img{
            height: inherit;
        }
    }
}
@media (max-width: 950px){
    .page-404__inner{
        flex-wrap: wrap;
    }
    .page-404__content{
        text-align: center;
        width: 100%;
        order: 2;
    }
    .page-404__content-links{
        justify-content: center;
    }
    .page-404__image{
        margin-left: 0;
        max-width: 100%;
        height: auto;
        order: 1;
        margin-bottom: 16px;
    }
}
@media (max-width: 440px){
    .page-404 .container{
        padding: 0 27px;
    }
    .page-404__inner{
        padding: 16px 0 0 0;
    }
    .page-404__content-title{
        font-size: 24px;
        line-height: 29px;
    }
    .page-404__content-subtitle{
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 7px;
    }
    .page-404__content-text{
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 15px;
    }
    .page-404__content-link{
        font-size: 11px;
        line-height: 13px;
    }
    .page-404__content-links{
        margin-bottom: 15px;
    }
    .page-404__content-link + .page-404__content-link {
        margin-left: 25px;
    }
}