<section class="page-404">
    <div class="container">
        <div class="page-404__inner">
            <div class="page-404__content">
                <div class="page-404__content-title">
                    404
                </div>
                <div class="page-404__content-subtitle">
                    Sorry the page not found
                </div>
                <div class="page-404__content-text">
                    The page you are looking for was moved removed renamed or might never existed
                </div>
                <div class="page-404__content-links">
                    <a class="page-404__content-link" href="#">
                        Go to the shop
                    </a>
                    <a class="page-404__content-link" href="#">
                        Go to the profile
                    </a>
                </div>
            </div>
            <div class="page-404__image">
                <img src="/assets/images/page-404.jpg" alt="">
            </div>
        </div>
    </div>
</section>