<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__items">
            <li><a href="#">Home</a></li>
            <li><span>Cart</span></li>
        </ul>
    </div>
</div>