<ngx-loading-bar ref="router"></ngx-loading-bar>
<ngx-loading-bar ref="http" color="red"></ngx-loading-bar>
<div class="wrapper">
    <div class="content">
        <main-header></main-header>
        <router-outlet></router-outlet>
    </div>
    <main-footer></main-footer>
</div>
