@import "../../../scss/vars";

.delivery__inner{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.delivery__content{
    max-width: 770px;
    width: 100%;
    margin-left: 132px;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 18px;
    }
    &-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 28px;
        line-height: 29px;
    }
}
.bulk__post{
    display: flex;
    margin-bottom: 38px;
    &-item{
        & + &{
            margin-left: 124px;
        }
    }
    &-title{
        font-size: 36px;
        @include medium;
        margin-bottom: 11px;
    }
    &-text{
        font-size: 18px;
        line-height: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $orange;
        span{
            color: var(--label);
        }
    }
}
.bulk__content-title{
    font-size: 28px;
    @include medium;
    margin-bottom: 18px;
}
.bulk__content-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 29px;
}
.delivery__countries{
    padding: 18px 0 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 680px;
}
.delivery__item-title{
    font-size: 24px;
    line-height: 29px;
    @include medium;
}
.delivery__item-country{
    margin-top: 11px;
}
.delivery__item-text{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 8px;
    vertical-align: top;
}
.delivery__region{
    width: 32%;
}
.delivery__region-europe{
    width: 36%;
}
.delivery__region-asia{
    height: 65%;
}
.delivery__region-africa{
    height: 35%;
}
.delivery__region-northamerica{
    height: 35%;
}
.delivery__region-southamerica{
    height: 65%;
}
.profile__blog{
    width: auto;
    &-item{
        display: block;
        width: 243px;
        height: 287px;
        position: relative;
        margin-bottom: 30px;
    }
    &-text{
        width: 191px;
        position: absolute;
        left: 26px;
        bottom: 40px;
        font-size: 20px;
        line-height: 28px;
        @include bold;
        color: #fff;
    }
}

@media (max-width: 1530px){
    .profile__blog{
        display: none;
    }
    .delivery__inner{
        justify-content: center;
    }
    .delivery__content{
        margin-left: 0;
    }
}
@media (max-width: 800px){
    .container{
        padding: 0 20px;
    }
    .delivery__inner{
        padding-bottom: 35px;
    }
}
@media (max-width: 700px){
    .delivery__region{
        width: 48%;
    }
    .delivery__countries{
        height: 760px;
        padding: 10px 0 0 0;
    }
    .delivery__region-asia {
        height: 49%;
    }
    .delivery__region-africa{
        height: 13%;
    }
    .delivery__region-northamerica{
        height: 23%;
    }
    .delivery__region-southamerica{
        height: 10%;
    }
}
@media (max-width: 440px){
    .bulk__content-title{
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 0;
    }
    .bulk__content-text{
        font-size: 11px;
        line-height: 18px;
        padding: 4px 0 0;
        margin-bottom: 19px;
    }
    .bulk__post-item + .bulk__post-item {
        margin-left: 58px;
    }
    .bulk__post-title{
        font-size: 18px;
        margin-bottom: 6px;
    }
    .bulk__post-text{
        font-size: 14px;
        line-height: 16px;
    }
    .bulk__post{
        margin-bottom: 10px;
    }
    .delivery__inner{
        padding: 0;
    }
    .delivery__item-title{
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 3px;
    }
    .delivery__countries{
        height: 490px;
    }
    .delivery__item-country{
        margin-top: 0;
        img{
            width: 21px;
            height: 14px;
        }
    }
    .delivery__item-text{
        font-size: 11px;
        vertical-align: middle;
        margin-bottom: 3px;
    }
}