<section class="delivery">
    <div class="container">
        <div class="delivery__inner">
            <div class="delivery__content">
                <div class="bulk__content-title">
                    Delivery
                </div>
                <div class="bulk__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit. Velit proin lacus elementum sit in ullamcorper. Ornare commodo commodo pharetra turpis pulvinar ante aliquet. Potenti id auctor at hac sit adipiscing ac tellus sed. Fermentum, vulputate nec viverra a, enim aenean proin etiam. Cras at donec sed donec viverra imperdiet.
                </div>
                <div class="delivery__countries">
                    <div class="delivery__region delivery__region-europe">
                        <div class="delivery__item-title">
                            Europe
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/be.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Belgium
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/de.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Denmark
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/fr.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    France
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/gb.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    United Kingdom
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/lv.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Latvia
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/pl.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Poland
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/se.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Sweden
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/it.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Italy
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/no.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Norway
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/pt.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Portugal
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/rs.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Serbia
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/hu.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Hungary
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/ch.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Switzerland
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/si.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Slovenia
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/nl.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Netherlands
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery__region delivery__region-asia">
                        <div class="delivery__item-title">
                            Asia
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/cn.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    China
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/kr.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    South Korea
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/sg.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Singapore
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/jp.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Japan
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/in.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    India
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/il.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Israel
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/kw.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Kuwait
                                </div>
                            </div>
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/sa.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Saudi Arabia
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery__region delivery__region-africa">
                        <div class="delivery__item-title">
                            Africa
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/za.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    South Africa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery__region delivery__region-northamerica">
                        <div class="delivery__item-title">
                            North America
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/ca.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Canada
                                </div>
                            </div>
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/mx.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Mexico
                                </div>
                            </div>
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/us.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    United States
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery__region delivery__region-southamerica">
                        <div class="delivery__item-title">
                            South America
                        </div>
                        <div class="delivery__item-list">
                            <div class="delivery__item-country">
                                <img src="/assets/svg/f/4x3/br.svg" width="33px" height="22px" alt="">
                                <div class="delivery__item-text">
                                    Brazil
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bulk__content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ut elit vitae sit. Facilisis odio cras sem semper faucibus et faucibus amet. Adipiscing dui a faucibus velit id elit leo. Mauris mauris rhoncus mattis ut. Tincidunt vestibulum eget risus blandit.
                </div>
                <div class="bulk__post">
                    <div class="bulk__post-item">
                        <div class="bulk__post-title">
                            USPS
                        </div>
                        <div class="bulk__post-text">
                            $ 7.59
                            <span>per Carton</span>
                        </div>
                    </div>
                    <div class="bulk__post-item">
                        <div class="bulk__post-title">
                            EMS
                        </div>
                        <div class="bulk__post-text">
                            $ 8.59
                            <span>per Carton</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile__blog">
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/profile-blog_1.jpg);">
                    <div class="profile__blog-text">
                        What cigarettes are missing from the store for you?
                    </div>
                </a>
                <a class="profile__blog-item" href="#"
                    style="background-image: url(/assets/profile-blog_2.jpg);">
                    <div class="profile__blog-text">
                        How important is the strength in cigarettes?
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>