@import "../../../scss/vars";

.article{
    overflow-x: hidden;
    &__image{
        width: 100%;
        height: 580px;
        overflow-y: hidden;
        margin-bottom: 39px;
        img{
            width: inherit;
            height: 100%;
        }
    }
    &__title,
    &__text,
    &__subtitle{
        max-width: 1034px;
        width: 100%;
        line-height: 160%;
    }
    &__title{
        font-size: 40px;
        @include medium;
        margin: 0 auto 54px;
    }
    &__text{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin: 0 auto 78px;
    }
    &__subtitle{
        font-size: 34px;
        @include medium;
        margin: 0 auto 34px;
    }
}
.articles{
    &__inner{
        display: flex;
        margin-left: -20px;
        margin-bottom: 100px;
    }
    &__item{
        width: 24%;
        margin-left: 20px;
        &-img{
            width: 100%;
            height: 351px;
            img{
                width: inherit;
                height: inherit;
            }
        }
        &-text{
            max-width: 335px;
            min-height: 190px;
            margin-top: 30px;
            font-size: 24px;
            line-height: 160%;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
    }
}
.article__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    &-content{
        width: 50%;
        & > div{
            line-height: 160%;
        }
    }
    &-title{
        font-size: 34px;
        @include medium;
        margin-bottom: 31px;
        padding: 10px 5px 0 5px;
    }
    &-text{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 30px;
    }
    &-image{
        width: 45%;
        height: 749px;
        img{
            width: 100%;
            height: inherit;
        }
    }
    &-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #cecece;
            top: -10px;
            left: 0;
        }
        &:first-child::before{
            display: none;
        }
    }
    &-item{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 21px;
        color: $order;
        &.box-item{
            color: var(--label);
        }
    }
}
.useful_tips{
    &__rate{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    &__star,
    &__view,
    &__comment{
        margin-left: 30px;
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $order;
        img{
            margin-right: 14px;
        }
    }
}
.useful_tips__like{
    width: 24px;
    height: 19px;
    cursor: pointer;
}
.product__tabs{
    max-width: 1034px;
    width: 100%;
    margin: 62px auto 0;
    padding-bottom: 40px;
    &-top{
        display: flex;
    }
}
.tabs-top__item{
    display: inline;
    font-size: 28px;
    color: $order;
    @include medium;
    position: relative;
    cursor: pointer;
    margin-bottom: 26px;
    span{
        vertical-align: super;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    & + &{
        margin-left: 75px;
    }
}
.tabs-top__item.tabs-top__item--active{
    color: var(--label);
}
.tabs-bottom__comments{
    padding-bottom: 60px;
}
.tabs-bottom__item.tabs-bottom__item--active{
    display: block;
}
.product__recommend-wrapper{
    margin-bottom: 80px;
}
.story-item__gradient{
    display: none;
}

@media (max-width: 1366px){
    .article{
        &__title,
        &__text,
        &__subtitle{
            max-width: 770px;
        }
    }
    .articles{
        &-text{
            max-width: 250px;
        }
    }
    .article__title{
        margin-bottom: 42px;
    }
    .article__text{
        margin-bottom: 180px;
    }
    .articles__inner{
        margin-bottom: 90px;
    }
}
@media (max-width: 1266px){
    .container{
        padding: 0 60px;
    }
    .articles__item-text{
        font-size: 18px;
        max-width: 193px;
        margin-top: 20px;
    }
    .articles__item-img{
        height: 282px;
    }
    .article__box{
        flex-wrap: wrap;
    }
    .article__box-image{
        width: 100%;
        height: 416px;
        margin-bottom: 30px;
        order: 1;
    }
    .article__box-content{
        width: 100%;
        order: 2;
    }
    .article__text{
        margin-bottom: 90px;
    }
}
@media (max-width: 1024px){
    .article{
        &__title,
        &__text,
        &__subtitle{
            max-width: 598px;
        }
    }
    .product__recommend-wrapper{
        margin-bottom: 0;
    }
}
@media (max-width: 960px){
    .articles__inner{
        flex-wrap: wrap;
    }
    .article__image{
        height: 420px;
    }
    .article__title{
        font-size: 32px;
    }
    .article__box-title,
    .article__subtitle{
        font-size: 28px;
    }
    .article__text,
    .article__box-text,
    .article__box-item{
        font-size: 18px;
    }
    .articles__item{
        width: 47%;
        margin-bottom: 30px;
    }
    .articles__item-text{
        max-width: 90%;
        min-height: auto;
    }
    .tabs-top__item{
        font-size: 24px;
        & + &{
            margin-left: 25px;
        }
    }
}
@media (max-width: 800px){
    .container{
        padding: 0 30px;
    }
    .article__text{
        margin-bottom: 60px;
    }
}
@media (max-width: 690px){
    .articles__item{
        width: 100%;
    }
    .tabs-top__item{
        font-size: 20px;
        margin-bottom: 10px;
        span{
            font-size: 16px;
        }
    }
}
@media (max-width: 560px){
    .tabs-top__item{
        font-size: 16px;
        span{
            font-size: 14px;
        }
        & + &{
            margin-left: 16px;
        }
    }
}
@media (max-width: 440px){
    .container{
        padding: 0;
    }
    .article{
        &__image{
            height: 274px;
            margin-bottom: 25px;
            img{
                width: inherit;
                height: 100%;
            }
        }
        &__title,
        &__text,
        &__subtitle,
        .article__box-content{
            max-width: 85%;
            margin-left: 30px;
        }
    }
    .article__title{
        font-size: 25px;
    }
    .articles__item-text{
        max-width: 85%;
        width: 100%;
        margin-left: 30px;
    }
    .article__box-title,
    .article__subtitle{
        font-size: 20px;
    }
    .article__text,
    .article__box-text{
        font-size: 17px;
    }
    .article__box{
        margin-bottom: 70px;
    }
    .article__box-items{
        margin-left: -20px;
        width: 111%;
        &::before{
            top: -17px;
        }
    }
    .article__box-item{
        font-size: 15px;
        margin-bottom: 35px;
    }
    .article__box-image{
        height: 300px;
    }
    .articles__inner{
        margin-bottom: 0;
    }
    .articles__item{
        margin-bottom: 60px;
    }
    .articles__item-img{
        height: 309px;
    }
    .useful_tips{
        &__rate{
            margin-bottom: 26px;
        }
        &__star,
        &__view,
        &__comment{
            margin-left: 10px;
            font-size: 11px;
            img{
                margin-right: 5px;
            }
        }
    }
    .useful_tips__star img{
        width: 13px;
    }
    .useful_tips__view img{
        width: 16px;
    }
    .useful_tips__comment img{
        width: 14px;
    }
    .useful_tips__like{
        width: 15px;
        height: 12px;
    }
    .product__tabs{
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    .product__tabs-topwrapper{
        width: 115%;
        overflow-x: auto;
        margin-bottom: 8px;
        margin-left: -20px;
        margin-right: -25px;
        padding-left: 20px;
        &::-webkit-scrollbar { height: 0; }
    }
    .product__tabs-top{
        margin-top: 12px;
        width: 110%;
    }
    .tabs-top__item{
        font-size: 13px;
        margin-bottom: 0;
        span{
            vertical-align: middle;
            font-size: 13px;
            margin-left: 3px;
            font-weight: 500;
            color: var(--link);
        }
        & + &{
            margin-left: 13px;
        }
        &.tabs-top__item--active{
            span{
                color: $order;
            }
        }
    }
    .story-item__gradient{
        display: block;
        top: 0;
        height: 35px;
        position: absolute;
        right: 0;
        z-index: 3;
        width: 30px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .story-item__gradient--left{
        left: 0;
        right: auto;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .product__recommend-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
}