<!-- <p>blog-article works!</p> -->
<bread-crumbs></bread-crumbs>
<section class="article">
    <div class="container">
        <div class="article__image">
            <img src="/assets/images/about.jpg" alt="">
        </div>
        <div class="useful_tips__rate">
            <img class="useful_tips__like" src="/assets/icons/like.svg" alt="">
            <div class="useful_tips__star">
                <img src="/assets/icons/star.svg" alt="">
                <span>4.6</span>
            </div>
            <div class="useful_tips__view">
                <img src="/assets/icons/view.svg" alt="">
                <span>482</span>
            </div>
            <div class="useful_tips__comment">
                <img src="/assets/icons/comment.svg" alt="">
                <span>21</span>
            </div>
        </div>
        <div class="article__title">
            Odio a nec aliquam pulvinar at nulla dis in malesuada. Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae mattis nisl ultrices vestibulum
        </div>
        <div class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta lectus. Odio a nec aliquam pulvinar at nulla dis in malesuada. Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae mattis nisl ultrices vestibulum. Diam vitae dictum praesent dignissim purus tincidunt pharetra, placerat vestibulum. Consectetur pellentesque tristique etiam luctus. Gravida id pellentesque lobortis congue vitae. Sem et nec at elementum in. Maecenas at nunc ante vitae ullamcorper nibh non, ut. Scelerisque faucibus auctor purus mauris. Eget nunc, sit mattis integer pulvinar. Ac vitae cras non, non gravida vestibulum nulla tristique proin. Nibh nec massa ut nec amet ornare tempor. Nullam pretium lacus adipiscing nibh. Luctus leo id netus penatibus consectetur eget viverra. Luctus ultricies orci libero sollicitudin ac euismod risus netus. Risus urna ut faucibus augue adipiscing leo molestie massa lobortis. Suspendisse donec vitae, ipsum lacus quis aenean. Cursus gravida sed sollicitudin venenatis felis.
        </div>
        <div class="articles__inner">
            <a class="articles__item" href="#">
                <div class="articles__item-img">
                    <img src="/assets/articles/article_1.jpg" alt="">
                </div>
                <div class="articles__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta lectus.
                </div>
            </a>
            <a class="articles__item" href="#">
                <div class="articles__item-img">
                    <img src="/assets/articles/article_2.jpg" alt="">
                </div>
                <div class="articles__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta
                    lectus.
                </div>
            </a>
            <a class="articles__item" href="#">
                <div class="articles__item-img">
                    <img src="/assets/articles/article_3.jpg" alt="">
                </div>
                <div class="articles__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta
                    lectus.
                </div>
            </a>
            <a class="articles__item" href="#">
                <div class="articles__item-img">
                    <img src="/assets/articles/article_4.jpg" alt="">
                </div>
                <div class="articles__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta
                    lectus.
                </div>
            </a>
        </div>
        <div class="article__box">
            <div class="article__box-content">
                <div class="article__box-title">
                    Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae
                </div>
                <div class="article__box-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta lectus. Odio a nec aliquam pulvinar at nulla dis in malesuada. Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida.
                </div>
                <div class="article__box-info">
                    <div class="article__box-items">
                        <div class="article__box-item">
                            Maecenas at nunc
                        </div>
                        <div class="article__box-item box-item">
                            Maecenas at nunc
                        </div>
                    </div>
                    <div class="article__box-items">
                        <div class="article__box-item">
                            Maecenas at nunc
                        </div>
                        <div class="article__box-item box-item">
                            Maecenas at nunc
                        </div>
                    </div>
                    <div class="article__box-items">
                        <div class="article__box-item">
                            Maecenas at nunc
                        </div>
                        <div class="article__box-item box-item">
                            Maecenas at nunc
                        </div>
                    </div>
                    <div class="article__box-items">
                        <div class="article__box-item">
                            Maecenas at nunc
                        </div>
                        <div class="article__box-item box-item">
                            Maecenas at nunc
                        </div>
                    </div>
                    <div class="article__box-items">
                        <div class="article__box-item">
                            Maecenas at nunc
                        </div>
                        <div class="article__box-item box-item">
                            Maecenas at nunc
                        </div>
                    </div>
                    <div class="article__box-items">
                        <div class="article__box-item">
                            Maecenas at nunc
                        </div>
                        <div class="article__box-item box-item">
                            Maecenas at nunc
                        </div>
                    </div>
                </div>
            </div>
            <div class="article__box-image">
                <img src="/assets/articles/article_main.jpg" alt="">
            </div>
        </div>
        <div class="article__subtitle">
            Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae
        </div>
        <div class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In penatibus condimentum sed euismod sem ultrices porta lectus. Odio a nec aliquam pulvinar at nulla dis in malesuada. Leo dignissim fringilla tristique orci elit tincidunt vivamus suscipit gravida. Ut sit vitae mattis nisl ultrices vestibulum. Diam vitae dictum praesent dignissim purus tincidunt pharetra, placerat vestibulum. Consectetur pellentesque tristique etiam luctus. Gravida id pellentesque lobortis congue vitae. Sem et nec at elementum in. Maecenas at nunc ante vitae ullamcorper nibh non, ut. Scelerisque faucibus auctor purus mauris. Eget nunc, sit mattis integer pulvinar. Ac vitae cras non, non gravida vestibulum nulla tristique proin. Nibh nec massa ut nec amet ornare tempor. Nullam pretium lacus adipiscing nibh. Luctus leo id netus penatibus consectetur eget viverra. Luctus ultricies orci libero sollicitudin ac euismod risus netus. Risus urna ut faucibus augue adipiscing leo molestie massa lobortis. Suspendisse donec vitae, ipsum lacus quis aenean. Cursus gravida sed sollicitudin venenatis felis.
        </div>
        <!-- START TABS -->
        <div class="product__tabs">
            <div class="product__tabs-topwrapper">
                <div class="story-item__gradient story-item__gradient--left"></div>
                <div class="story-item__gradient"></div>
                <div class="product__tabs-top">
                    <div class="tabs-top__item">
                        Comments
                        <span>21</span>
                    </div>
                    <div class="tabs-top__item">
                        Reviews
                        <span>3</span>
                    </div>
                    <div class="tabs-top__item">
                        Question — answer
                        <span>7</span>
                    </div>
                </div>
            </div>
            <div class="product__tabs-bottom">
                <div class="tabs-bottom__item">
                    <product-comments></product-comments>
                </div>
                <div class="tabs-bottom__item">
                    <product-reviews></product-reviews>
                </div>
                <div class="tabs-bottom__item">
                    <product-qa></product-qa>
                </div>
            </div>
        </div>
        <!-- END TABS -->
        <div class="product__recommend-wrapper">
            <home-recommend></home-recommend>
        </div>
        <go-up></go-up>
    </div>
</section>