<section class="profile">
    <div class="container">
        <div class="profile__inner">

            <!-- START PROFILE SIDEBAR SECTION -->

            <div class="profile__sidebar">
                <div class="profile__sidebar-top">
                    <a class="profile__sidebar-image" href="#">
                        <img src="/assets/images/profile.jpg" alt="">
                    </a>
                    <div class="profile__sidebar-lang">
                        <img class="icon-arrow-down" src="/assets/icons/arrow-down.svg" alt=""> <!--TODO FLAG COMPONENT-->
                        <img class="lang-image" src="../images/flag.jpg" alt="">
                        <div class="profile__sidebar-dropdown">
                            <div class="sidebar-dropdown__top">
                                <div class="sidebar-dropdown__country">
                                    United Kingdom
                                </div>
                                <div class="profile__sidebar-lang">
                                    <img class="icon-arrow-down" src="/assets/icons/arrow-down.svg" alt="">
                                    <img class="lang-image" src="../images/flag.jpg" alt="">
                                </div>
                            </div>
                            <div class="sidebar-dropdown__bottom">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <img class="lang-image" src="../images/flag.jpg" alt="">
                                <div class="sidebar-dropdown__gradient"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__sidebar-name">
                    Petit
                    Claudette
                </div>
                <nav class="profile__sidebar-menu">
                    <ul class="profile__sidebar-list">
                        <li class="profile__sidebar-item profile__sidebar-item--active">
                            <a href="#">Main</a>
                        </li>
                        <li class="profile__sidebar-item">
                            <a href="#">Personal information</a>
                        </li>
                        <li class="profile__sidebar-item">
                            <a href="#">Favourites</a>
                        </li>
                        <li class="profile__sidebar-item">
                            <a href="#">Story</a>
                        </li>
                        <li class="profile__sidebar-item">
                            <a href="#">Orders</a>
                        </li>
                        <li class="profile__sidebar-item profile__sidebar-logout">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </nav>
                <a class="profile__sidebar-link" href="#">
                    Delete an account
                </a>
            </div>
            <div class="sidebar-dropdown__gradient sidebar-item__gradient sidebar-item__gradient--left"></div>
            <div class="sidebar-dropdown__gradient sidebar-item__gradient"></div>

            <!-- END PROFILE SIDEBAR SECTION -->

            <router-outlet></router-outlet>

        </div>
    </div>
</section>
