@import "../../../../scss/vars";

.profile{
    background-color: var(--header);
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}

// START PROFILE SIDEBAR SECTION

.profile__sidebar{
    min-width: 263px;
    padding: 0 30px 0 0;
    margin-right: 110px;
    a,
    span{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 140%;
    }
    &-top{
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    &-image{
        width: 126px;
        height: 126px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 24px;
        position: relative;
        &:hover::before{
            position: absolute;
            content: '';
            background-image: url(/src/assets/icons/add-photo.svg);
            width: 36px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include bgi;
            z-index: 3;
        }
        &:hover::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: var(--label);
            opacity: .2;
            z-index: 2;
        }
        img{
            width: inherit;
            height: inherit;
            border-radius: 50%;
        }
    }
    &-lang{
        position: relative;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        position: relative;
        margin-right: 30px;
        .lang-image{
            width: inherit;
            height: inherit;
            border-radius: 50%;
            margin-bottom: 5px;
            overflow: hidden;
        }
    }
    &-name{
        font-size: 24px;
        @include medium;
        line-height: 37px;
        margin-bottom: 14px;
        max-width: 150px;
    }
    &-item{
        margin-bottom: 14px;
        a{
            color: $grey;
        }
        span{
            color: var(--label);
            margin-left: 20px;
        }
    }
    &-link{
        color: var(--link);
        margin-top: 100px;
    }
    &-dropdown{
        display: none;
        position: absolute;
        top: -27px;
        left: -135px;
        width: 225px;
        background-color: var(--bg);
        padding: 21px 23px;
        z-index: 5;
    }
}
.sidebar-dropdown__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.sidebar-dropdown__country{
    font-family: Roboto;
    font-weight: 400;
    max-width: 90px;
}
.sidebar-dropdown__bottom{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    width: inherit;
    height: 222px;
    overflow-y: scroll;
    .lang-image{
        margin-left: 10px;
        margin-bottom: 20px;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid transparent;
        &:hover,
        &:active{
            border-color: $blue;
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}
.sidebar-dropdown__gradient{
    height: 40px;
    position: absolute;
    bottom: 21px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    z-index: 6;
}
.icon-arrow-down{
    position: absolute;
    right: -23px;
    top: 15px;
    width: 12px;
    height: 7px;
    cursor: pointer;
}
.profile__sidebar-item.profile__sidebar-item--active{
    a{
        color: var(--label);
    }
}

// END PROFILE SIDEBAR SECTION

@media (max-width: 1730px){
    .profile{
        padding: 61px 0;
    }
    .profile__inner{
        justify-content: flex-start;
    }
}
@media (max-width: 1366px){
    .profile__sidebar{
        margin-right: 0;
    }
}
@media (max-width: 1280px){
    .profile .container{
        padding: 0 58px;
    }
}
@media (max-width: 1200px){
    .profile__sidebar-link{
        margin-top: 82px;
        font-size: 16px;
    }
    .profile__sidebar-name{
        max-width: 120px;
        font-size: 20px;
        line-height: 28px;
    }
    .profile__sidebar{
        min-width: 231px;
        a,
        span{
            font-size: 16px;
            line-height: 22px;
        }
        span{
            margin-left: 15px;
        }
    } 
    .profile__sidebar-item{
        margin-bottom: 6px;
    }
    .profile__sidebar-image{
        width: 102px;
        height: 102px;
        &:hover::before{
            width: 29px;
            height: 27px;
        }
    }
    .profile__sidebar-top{
        margin-bottom: 26px;
    }
}
@media (max-width: 850px){
    .profile__sidebar-link{
        margin-top: 30px;
    }
}
@media (max-width: 660px){
    .profile{
        background-color: var(--bg);
        padding-bottom: 0;
        .container{
            padding: 0;
        }
    }
    .profile__sidebar{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 100%;
        padding: 0 17px;
        margin-bottom: 30px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &-link{
            margin: 6px 0 0 20px;
            width: auto;
            padding-right: 11px;
            white-space: nowrap;
        }
    }
    .profile__sidebar::-webkit-scrollbar { width: 0; }
    .profile__sidebar-list{
        min-width: 445px;
        width: 100%;
    }
    .profile__sidebar-top,
    .profile__sidebar-name{
        display: none;
    }
    .profile__inner{
        flex-wrap: wrap;
    }
    .profile__sidebar-item{
        display: inline-block;
        margin-bottom: 0;
        & + &{
            margin-left: 17px;
        }
    }
    .profile__sidebar-logout,
    .profile__sidebar-link{
        display: none;
    }
}
@media (max-width: 580px){
    .profile__sidebar{
        margin-bottom: 10px;
    }
}
@media (max-width: 440px){
    .profile{
        padding-top: 0;
        &__inner{
            display: block;
        }
    }
    .profile__sidebar-item.profile__sidebar-item--active{
        a{
            color: var(--label);
        }
    }
    .profile__sidebar{
        margin-top: 10px;
        margin-bottom: 0;
       a {
            font-size: 11px;
            line-height: 15px;
        } 
    }
    .profile__sidebar-list{
        min-width: 320px;
        width: 100%;
    }
}
@media (max-width: 340px){
    .profile__inner{
        position: relative;
    }
    .sidebar-item__gradient{
        top: 2px;
        right: -2px;
        left: auto;
        width: 50px;
        height: 25px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .sidebar-item__gradient--left{
        display: none;
        left: -2px;
        right: auto;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
}

@media (min-width: 341px){
    .sidebar-dropdown__gradient.sidebar-item__gradient{
        display: none;
    }
}