<form class="question__form" [formGroup]="qForm">
    <textarea formControlName="questionArea" name="question-textarea" placeholder="Write a question"></textarea>
    <div class="tab-textarea">
        <img src="/assets/icons/smile.svg" alt="">
        <div class="smile-boxwrapper">
            <div class="smile-box">
                <div class="smile-boxinner">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                </div>
                <div class="sidebar-dropdown__gradient"></div>
            </div>
        </div>
    </div>
</form>
<div class="tabs-bottom__comments">
    <div class="tabs-bottom__comment-wrapper">
        <div class="tabs-bottom__comment">
            <div class="comment__user">
                <div class="comment__user-avatar">
                    <img src="/assets/users/user_1.jpg" alt="">
                </div>
                <div class="comment__user-info">
                    <div class="comment__user-name">
                        <span>Hoover Lauren</span>
                        <img src="/assets/icons/reply.svg" alt="">
                    </div>
                    <div class="comment__user-rate">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="comment__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit. Non sit consectetur cras aliquam turpis mattis nisi, maecenas. Viverra sed convallis nisl iaculis eget. Viverra neque et integer sed accumsan. Pellentesque fusce molestie iaculis turpis nulla. Vel risus vitae auctor placerat felis euismod a nunc. Sit tempor adipiscing purus id sagittis, vulputate laoreet elit nunc. Aenean consectetur mauris blandit morbi cras nisl ac ut. Pellentesque eu consectetur cursus eget sociis magna tristique vitae, egestas. Massa faucibus tempus sed et, quam tristique. Tristique pellentesque aliquet at eu. Lorem convallis porttitor consectetur diam viverra. Fringilla risus, faucibus est tincidunt nunc dictum.
                <img src="/assets/icons/emoji-1.svg" alt="">
                <img src="/assets/icons/emoji-2.svg" alt="">
            </div>
        </div>
        <div class="comment__admin">
            <div class="comment__admin-title">
                Admin
            </div>
            <div class="comment__text comment__admin-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit. Non sit consectetur cras aliquam turpis mattis nisi, maecenas. Viverra sed convallis nisl iaculis eget. Viverra neque et integer sed accumsan. Pellentesque fusce molestie iaculis turpis nulla. Vel risus vitae auctor placerat felis euismod a nunc. Sit tempor adipiscing purus id sagittis, vulputate laoreet elit nunc. Aenean consectetur mauris blandit morbi cras nisl ac ut.
            </div>
        </div>
    </div>
    <div class="favourites__content-more">
        <img src="/assets/icons/sigarettes.svg" alt="">
    </div>
</div>