<div class="orders__content">
    <div class="story-item__gradient story-item__gradient--left"></div>
    <div class="story-item__gradient"></div>
    <div class="favourites__content-inner">
        <div class="favourites__content-title">
            Orders
            <span>10</span>
        </div>
        <div class="story__content-wrapper">
            <div class="favourites__content-dates">
                <div class="favourites__content-date favourites__content-date--active">
                    2021
                </div>
                <div class="favourites__content-date">
                    2022
                </div>
                <div class="favourites__content-date">
                    2023
                </div>
            </div>
            <div class="favourites__content-agos">
                <div class="favourites__content-date favourites__content-ago">
                    Yesterday
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    Week ago
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    Month ago
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    3 Month ago
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    6 Month ago
                </div>
            </div>
        </div>
    </div>
    <div class="favourites__content-agoswrapper">
        <div class="favourites__content-agos favourites__content-agos--small">
            <div class="favourites__content-date favourites__content-ago">
                Yesterday
            </div>
            <div class="favourites__content-date favourites__content-ago">
                Week ago
            </div>
            <div class="favourites__content-date favourites__content-ago">
                Month ago
            </div>
            <div class="favourites__content-date favourites__content-ago">
                3 Month ago
            </div>
            <div class="favourites__content-date favourites__content-ago">
                6 Month ago
            </div>
        </div>
    </div>
    <div class="orders__content-items">
        <div class="orders__content-box">
            <div class="story-item__gradient story-item__gradient--left"></div>
            <div class="story-item__gradient"></div>
            <div class="orders__content-info">
                <a class="orders__content-repeat" href="#">
                    Repeat
                </a>
                <div class="orders__content-price">
                    $ 336.7
                </div>
                <div class="orders__content-calendar">
                    2 January
                </div>
                <div class="orders__content-number">
                    Order
                    <span><a href="#">13671381</a></span>
                </div>
            </div>
            <div class="orders__content-wrapper">
                <div class="orders__content-list">
                    <ul>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_14.jpg" alt="">
                            <span>1</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_15.jpg" alt="">
                            <span>18</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_2.jpg" alt="">
                            <span>12</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_4.jpg" alt="">
                            <span>14</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_6.jpg" alt="">
                            <span>3</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_8.jpg" alt="">
                            <span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="orders__content-box">
            <div class="story-item__gradient story-item__gradient--left"></div>
            <div class="story-item__gradient"></div>
            <div class="orders__content-info">
                <a class="orders__content-repeat" href="#">
                    Repeat
                </a>
                <div class="orders__content-price">
                    $ 336.7
                </div>
                <div class="orders__content-calendar">
                    2 January
                </div>
                <div class="orders__content-number">
                    Order
                    <span><a href="#">13671381</a></span>
                </div>
            </div>
            <div class="orders__content-wrapper">
                <div class="orders__content-list">
                    <ul>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_14.jpg" alt="">
                            <span>1</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_15.jpg" alt="">
                            <span>18</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_2.jpg" alt="">
                            <span>12</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_4.jpg" alt="">
                            <span>14</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="orders__content-box">
            <div class="story-item__gradient story-item__gradient--left"></div>
            <div class="story-item__gradient"></div>
            <div class="orders__content-info">
                <a class="orders__content-repeat" href="#">
                    Repeat
                </a>
                <div class="orders__content-price">
                    $ 336.7
                </div>
                <div class="orders__content-calendar">
                    2 January
                </div>
                <div class="orders__content-number">
                    Order
                    <span><a href="#">13671381</a></span>
                </div>
            </div>
            <div class="orders__content-wrapper">
                <div class="orders__content-list">
                    <ul>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_14.jpg" alt="">
                            <span>1</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_15.jpg" alt="">
                            <span>18</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_2.jpg" alt="">
                            <span>12</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_4.jpg" alt="">
                            <span>14</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="orders__content-box">
            <div class="story-item__gradient story-item__gradient--left"></div>
            <div class="story-item__gradient"></div>
            <div class="orders__content-info">
                <a class="orders__content-repeat" href="#">
                    Repeat
                </a>
                <div class="orders__content-price">
                    $ 336.7
                </div>
                <div class="orders__content-calendar">
                    2 January
                </div>
                <div class="orders__content-number">
                    Order
                    <span><a href="#">13671381</a></span>
                </div>
            </div>
            <div class="orders__content-wrapper">
                <div class="orders__content-list">
                    <ul>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_14.jpg" alt="">
                            <span>1</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_15.jpg" alt="">
                            <span>18</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_2.jpg" alt="">
                            <span>12</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_4.jpg" alt="">
                            <span>14</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="orders__content-box">
            <div class="story-item__gradient story-item__gradient--left"></div>
            <div class="story-item__gradient"></div>
            <div class="orders__content-info">
                <a class="orders__content-repeat" href="#">
                    Repeat
                </a>
                <div class="orders__content-price">
                    $ 336.7
                </div>
                <div class="orders__content-calendar">
                    2 January
                </div>
                <div class="orders__content-number">
                    Order
                    <span><a href="#">13671381</a></span>
                </div>
            </div>
            <div class="orders__content-wrapper">
                <div class="orders__content-list">
                    <ul>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_14.jpg" alt="">
                            <span>1</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_15.jpg" alt="">
                            <span>18</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_2.jpg" alt="">
                            <span>12</span>
                        </li>
                        <li class="orders__content-position">
                            <img src="/assets/content/content_4.jpg" alt="">
                            <span>14</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>