@import "../../../../scss/vars";

.orders__content{
    width: 100%;
}
.favourites{
    &__content{
        &-inner{
            margin-bottom: 38px;
            display: flex;
            align-items: flex-end;
        }
        &-title{
            font-size: 36px;
            @include medium;
            position: relative;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                vertical-align: super;
            }
        }
        &-dates{
            margin-left: 50px;
            margin-bottom: 4px;
        }
        &-date{
            display: inline-block;
            margin-left: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 22px;
            color: $grey;
            cursor: pointer;
        }
    }
}
.favourites__content-date.favourites__content-date--active{
    color: var(--label);
}
.story__content-wrapper{
    display: flex;
}
.favourites__content-agos{
    margin: 0 0 0 40px;
}
.orders__content{
    &-box{
        display: flex;
        width: max-content;
        margin-bottom: 35px;
        border: 1px solid transparent;
    }
    &-repeat{
        display: none;
        position: absolute;
        top: 20px;
        left: 29px;
        color: $blue;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        z-index: 3;
    }
    &-info{
        width: 375px;
        background-color: var(--bg);
        padding: 70px 100px;
        position: relative;
    }
    &-price,
    &-calendar{
        @include medium;
        margin-bottom: 4px;
    }
    &-price{
        color: $orange;
        font-size: 36px;
    }
    &-calendar{
        font-size: 24px;
        color: var(--label);
    }
    &-number{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: $order;
        margin-top: 7px;
        span{
            color: var(--label);
            margin-left: 15px;
        }
    }
    &-wrapper{
        position: relative;
        background-color: var(--order);
        width: 790px;
        padding: 0 37px;
    }
    &-list{
        z-index: 4;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        left: 29px;
        right: 29px;
        position: absolute;
        bottom: 25px;
        ul{
            display: flex;
        }
    }
}
.orders__content-box:hover,
.orders__content-box:active{
    border-color: $orange;
    .orders__content-repeat{
        display: block;
    }
}
.orders__content-position{
    text-align: center;
    padding: 23px 50px;
    img{
        height: 128px;
        @include bgi;
        margin: 0 auto;
    }
    span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: var(--label);
    }
}
.orders__content-list::-webkit-scrollbar {
    height: 3px;
    background-color: var(--header);
}
.orders__content-list::-webkit-scrollbar-thumb {
    background-color: var(--link);
}
.orders__content-list{
    scrollbar-arrow-color: transparent;
}
.story-item__gradient,
.favourites__content-agos--small{
    display: none;
}

@media (max-width: 1730px){
    .orders__content-wrapper{
        padding: 0;
        width: 495px;
    }
    .orders__content-list{
        right: 12px;
        left: 12px;
    }
    .favourites__content-inner{
        align-items: center;
    }
    .story__content-wrapper{
        display: block;
    }
    .favourites__content-agos {
        margin-left: 50px;
    }
}
@media (max-width: 1460px){
    .favourites__content-title{
        font-size: 30px;
        span{
            font-size: 16px;
        }
    }
    .favourites__content-date{
        font-size: 20px;
    }
    .favourites__content-inner{
        margin-bottom: 24px;
    }
}
@media (max-width: 1345px){
    .orders__content-box{
        margin-bottom: 20px;
    }
    .orders__content-info{
        width: 273px;
        padding: 47px 65px;
    }
    .orders__content-price{
        font-size: 30px;
        margin-bottom: 0;
    }
    .orders__content-calendar{
        font-size: 22px;
        margin: 0;
    }
    .orders__content-number{
        margin: 0;
    }
    .orders__content-position{
        padding: 11px 36px;
        img{
            height: 94px;
        }
    }
}
@media (max-width: 1280px){
    .favourites__content-inner{
        flex-wrap: wrap;
        margin: 0 0 14px 0;
    }
    .story__content-wrapper{
        width: 100%;
    }
    .favourites__content-title{
        min-width: auto;
        margin-bottom: 13px;
    }
    .favourites__content-dates,
    .favourites__content-agos,
    .favourites__content-date,
    .favourites__content-ago{
        margin-left: 0;
    }
    .favourites__content-dates{
        margin-bottom: 10px;
    }
    .favourites__content-date + .favourites__content-date{
        margin-left: 10px;
    }
    .favourites__content-ago + .favourites__content-ago{
        margin-left: 20px;
    }
}
@media (max-width: 1140px){
    .orders__content-wrapper {
        width: 396px;
    }
    .orders__content-items,
    .orders__content{
        margin-left: 0;
    }
    .orders__content-list{
        padding-left: 17px;
        padding-right: 17px;
    }
    .orders__content-repeat{
        top: 8px;
        left: 12px;
    }
}
@media (max-width: 1020px){
    .orders__content-box{
        flex-wrap: wrap;
        width: 100%;
    }
    .orders__content-info{
        width: 520px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .orders__content-wrapper{
        width: 520px;
        padding: 20px;
    }
    .orders__content-list{
        position: initial;
    }
}
@media (max-width: 870px){
    .orders__content-info,
    .orders__content-wrapper{
        width: 375px;
    }
}
@media (max-width: 800px){
    .favourites__content-title,
    .favourites__content-title span{
        font-size: 20px;
    }
    .favourites__content-title span{
        vertical-align: revert;
        margin-left: 6px;
        font-family: 'Golos-Medium', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $grey;
    }
    .favourites__content-dates{
        margin-bottom: 0;
        margin-left: 0;
    }
    .favourites__content-date{
        font-size: 14px;
        & + &{
            margin-left: 10px;
        }
    }
    .favourites__content-item{
        margin-left: 10px;
        max-width: 200px;
    }
    .story__content-title{
        font-size: 16px;
    }
}
@media (max-width: 768px){
    .orders__content-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    .orders__content-repeat{
        display: block;
        position: initial;
        order: 4;
        font-size: 14px;
    }
    .orders__content-price{
        font-size: 16px;
    }
    .orders__content-calendar{
        font-size: 14px;
    }
    .orders__content-position{
        padding: 13px 20px;
        img{
            height: 68px;
        }
        span{
            font-size: 13px;
        }
    }
    .orders__content-number{
        font-size: 12px;
        span{
            margin-left: 0;
        }
    }
}
@media (max-width: 725px){
    .orders__content-info,
    .orders__content-wrapper{
        width: 305px;
    }
}
@media (max-width: 660px){
    .orders__content{
        padding: 0 10px;
    }
    .orders__content-info,
    .orders__content-wrapper{
        width: 500px;
    }
}
@media (max-width: 525px){
    .orders__content-info,
    .orders__content-wrapper{
        width: 400px;
    }
}
@media (max-width: 440px){
    .orders__content-items{
        margin-left: -10px;
        margin-right: -10px;
        position: relative;
    }
    .orders__content-wrapper{
        background-color: transparent;
        padding: 0 20px 0 0;
        min-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
    }
    .orders__content-list{
        width: max-content;
        min-width: max-content;
        padding: 0;
        &::-webkit-scrollbar { display: none; }
    }
    .orders__content-price,
    .orders__content-calendar,
    .orders__content-repeat{
        font-size: 13px;
    }
    .orders__content-number{
        font-size: 11px;
        span{
            font-size: 11px;
            margin-left: 10px;
        }
    }
    .orders__content-box{
        position: relative;
        margin-bottom: 0;
        & + &{
            border-top: 5px solid var(--header);
        }
    }
    .orders__content-box:hover,
    .orders__content-box:active{
        border-color: transparent;
    }
    .orders__content-info{
        padding: 8px 10px;
        width: 100%;
    }
    .favourites__content-inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .story__content-wrapper{
        width: auto;
    }
    .favourites__content-title,
    .favourites__content-title span{
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
    }
    .favourites__content-date,
    .story__content-title{
        font-size: 11px;
    }
    .favourites__content-item{
        display: none;
    }
    .favourites__content-agoswrapper{
        position: relative;
        min-width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar { width: 0; }
    }
    .favourites__content-agos{
        display: none;
    }
    .favourites__content-agos.favourites__content-agos--small{
        display: block;
        min-width: max-content;
        width: max-content;
        margin-bottom: 8px;
        white-space: nowrap;
    }
    .story-item__gradient{
        display: block;
        top: 140px;
        height: 25px;
        position: absolute;
        content: '';
        right: -2px;
        z-index: 3;
        width: 50px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .story-item__gradient--left{
        display: none;
        width: 25px;
        left: 9px;
        right: auto;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
}
.orders__content-box .story-item__gradient{
    top: 40px;
    height: 70%;
}
.orders__content-box .story-item__gradient--left{
    width: 50px;
    left: -3px;
}