@import "../../../../scss/vars";

.rating__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.rating__overall{
    font-size: 60px;
    @include bold;
    margin-right: 82px;
    text-align: center;
    span{
        display: block;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}
.rating__main{
    &-level{
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        img{
            width: 20px;
            height: 19px;
            @include bgi;
            margin-right: 13px;
        }
        span{
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
    }
    &-scale{
        width: 311px;
        height: 19px;
        background-color: var(--order);
        position: relative;
        margin: 0 25px;
        span{
            background-color: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
            z-index: 2;
        }
    }
}
.rating__reviews{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 29px;
}
.rating__sort{
    display: flex;
    &-inner{
        display: flex;
    }
    &-by{
        @include medium;
        margin-right: 28px;
    }
    &-item{
        color: $grey;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        cursor: pointer;
        & + &{
            margin-left: 28px;
        }
    }
}
.rating__sort-item.rating__sort-item--active{
    color: $orange;
}
.rating__evaluation{
    span{
        @include medium;
        margin-right: 28px;
    }
    ul{
        display: inline-block;
    }
    li{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        & + li{
            margin-left: 26px;
        }
        img{
            margin-right: 4px;
        }
    }
}
.rating__text{
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 41px;
    a{
        color: $orange;
    }
}
.rating__form{
    position: relative;
    margin-bottom: -35px;
    textarea{
        margin-bottom: 14px;
        width: 100%;
        background-color: var(--bg);
        color: var(--label);
        border: 1px solid $grey;
        height: 190px;
        padding: 21px 29px;
        font-size: 24px;
        line-height: 28px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        &::placeholder{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: $order;
        }
    }
    .rating__btn{
        margin: 6px 0 12px;
        border-color: $yellow;
        color: var(--label);
        &:hover{
            background-color: $yellow;
            color: #fff;
        }
        &:active{
            background-color: #F19F00;
            border-color: #F19F00;
            color: #fff;
        }
    }
}

.tab-textarea{
    position: absolute;
    top: 125px;
    right: 5px;
    width: 65px;
    height: 65px;
    padding: 20px;
    z-index: 4;
    img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        @include bgi;
        cursor: pointer;
    }
}
.smile-boxwrapper{
    display: none;
    position: absolute;
    bottom: 63px;
    right: -5px;
    width: 312px;
    height: 334px;
    background-color: var(--bg);
    border: 1px solid #7F7F7F;
    padding: 20px 15px 20px 10px;
    z-index: 5;
}
.smile-box{
    width: 289px;
    height: 294px;
    overflow-y: scroll;
    scrollbar-arrow-color: transparent;
    &::-webkit-scrollbar{
        width: 3px;
        background-color: transparent;
        padding-right: 13px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--link);
    }
    img{
        width: 24px;
        height: 24px;
        margin-left: 10px;
        cursor: pointer;
    }
}
.sidebar-dropdown__gradient{
    width: 290px;
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    z-index: 6;
}
.tab-textarea:hover .smile-boxwrapper{
    display: block;
}
.comment__user{
    display: flex;
    align-items: center;
    margin-top: 55px;
    position: relative;
    &-avatar{
        width: 66px;
        height: 66px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        img{
            width: inherit;
            height: inherit;
            @include bgi;
        }
    }
    &-name{
        margin-bottom: 4px;
        span{
            font-size: 20px;
            line-height: 24px;
            @include medium;
            margin-bottom: 6px;
        }
        img{
            display: none;
            margin-left: 10px;
            cursor: pointer;
        }
    }
    &-rate{
        img{
            margin-right: 4px;
            width: 20px;
            height: 19px;
            @include bgi;
        }
    }
    &-handrate{
        display: inline-block;
        margin-left: 25px;
        img{
            cursor: pointer;
        }
    }
    &-date{
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: $grey;
    }
}
.comment__text,
.comment__like{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 18px 0 12px;
}
.comment__text{
    img{
        width: 24px;
        height: 24px;
        margin-left: 2px;
    }
    &-advantages,
    &-disadvantages{
        span{
            display: block;
            font-size: 22px;
            line-height: 35px;
            @include medium;
            padding: 10px 0 11px;
        }
    }
}
.comment__like{
    font-weight: 400;
    margin: 12px 16px 13px;
    color: $order;
    display: flex;
    align-items: center;
    span{
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: transparent;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        &:hover{
            background-color: var(--comment);
        }
        img{
            width: 12px;
        }
    }
}
.comment__btn-minus{
    img{
        height: 2px;
    }
}
.comment__btn-plus{
    img{
        height: 12px;
    }
}
.comment__like--negative{
    color: $red;
}
.comment__like--positive{
    color: $green;
}
.tabs-bottom__comment:hover{
    .comment__user-name img{
        display: inline-block;
    }
}
.tabs-bottom__comment.comment__answer{
    padding-left: 26px;
    position: relative;
    margin-bottom: 80px;
    &::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 118%;
        background-color: var(--status);
        left: 0;
        top: -45px;
    }
    .comment__user{
        margin-top: 13px;
    }
    .comment__like{
        margin-left: 0;
        .comment__btn-plus{
            margin-left: 0;
        }
    }
}
.favourites__content-more{
    display: none;
    width: 25px;
    margin: 12px auto 25px;
    cursor: pointer;
    img{
        width: inherit;
        @include bgi;
    }
}

@media (max-width: 1020px){
    .rating__reviews{
        flex-wrap: wrap;
    }
    .rating__evaluation{
        order: 1;
        width: 100%;
        margin-bottom: 18px;
    }
    .rating__sort{
        order: 2;
    }
}
@media (max-width: 960px){
    .rating__inner{
        margin-bottom: 17px;
    }
    .rating__main-scale{
        width: 250px;
    }
    .rating__overall{
        margin-right: 45px;
    }
    .comment__text{
        font-size: 18px;
        img{
            width: 19px;
            height: 19px;
        }
    }
    .comment__like{
        font-size: 20px;
    }
    .rating__form textarea{
        font-size: 21px;
        line-height: 140%;
    }
}
@media (max-width: 680px){
    .rating__inner{
        margin-top: 18px;
    }
    .rating__main-scale{
        width: 140px;
        height: 14px;
        margin: 0 6px;
    }
    .rating__main-level{
        margin-bottom: 10px;
        span{
            font-size: 16px;
        }
        img{
            margin-right: 5px;
        }
    }
    .rating__overall{
        font-size: 38px;
        margin-right: 30px;
        span{
            font-size: 16px;
        }
    }
    .rating__text,
    .rating__sort,
    .rating__evaluation,
    .comment__user-date,
    .comment__text-advantages span{
        font-size: 16px;
        line-height: 140%;
    }
    .rating__evaluation li + li{
        margin-left: 16px;
    }
    .rating__form textarea,
    .comment__user-name span,
    .comment__like{
        font-size: 18px;
    }
    .comment__text{
        font-size: 16px;
        img{
            width: 16px;
            height: 16px;
        }
    }
    .comment__user-rate img{
        width: 17px;
        height: 16px;
    }
    .favourites__content-more{
        margin-bottom: 0;
    }
}
@media (max-width: 440px){
    .rating__main-scale{
        width: 82px;
        height: 8px;
    }
    .rating__reviews{
        margin-bottom: 0;
    }
    .rating__main-level{
        span{
            font-size: 11px;
        }
        img{
            width: 10px;
            height: 10px;
        }
    }
    .rating__overall{
        font-size: 30px;
        span{
            font-size: 13px;
        }
    }
    .rating__text,
    .rating__sort{
        font-size: 13px;
        margin-bottom: 12px;
    }
    .comment__text-advantages span{
        font-size: 13px;
        padding: 10px 0 5px;
    }
    .rating__evaluation{
        font-size: 11px;
        margin-right: 10px;
        li{
            img{
                width: 10px;
                height: 10px;
                margin-right: 2px;
            }
        }
    }
    .rating__evaluation li + li{
        margin-left: 10px;
    }
    .rating__sort-by{
        margin-right: 14px;
    }
    .rating__sort-item + .rating__sort-item{
        margin-left: 14px;
    }
    .comment__user-rate.comment__user-handrate{
        margin-left: 16px;
        img{
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
    }
    .comment__user-date{
        font-size: 11px;
    }
    .rating__form .rating__btn{
        margin-top: -5px;
    }
    .rating__form textarea{
        height: 103px;
        font-size: 13px;
        padding: 8px 13px;
        margin-bottom: 8px;
    }
    .tab-textarea{
        top: 76px;
        right: 8px;
        width: 23px;
        height: 23px;
        padding: 0;
        img{
            width: 17px;
            height: 17px;
            margin: 3px;
        }
    }
    .tabs-bottom__comments{
        margin-top: 30px;
    }
    .smile-boxwrapper{
        bottom: 22px;
        right: -8px;
        width: 208px;
        height: 228px;
    }
    .smile-box{
        width: 190px;
        height: 185px;
    }
    .comment__like,
    .comment__user-name span{
        font-size: 11px;
        line-height: 140%;
    }
    .comment__user-name{
        margin-bottom: 0;
        height: 14px;
        img{
            display: none;
        }
    }
    .comment__like{
        margin: 0 9px 12px;
        span{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            width: 22px;
            height: auto;
            img {
                width: 8px;
            }
        } 
    }
    .comment__user{
        margin-top: 0;
    }
    .comment__btn-plus img {
        height: 8px;
    }
    .comment__text{
        font-size: 11px;
        margin: 7px 0;
        img{
            width: 8px;
            height: 8px;
        }
    }
    .comment__user-rate img{
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }
    .comment__user-avatar{
        margin-right: 5px;
        width: 28px;
        height: 28px;
    }
    .tabs-bottom__comment.comment__answer{
        padding-left: 9px;
        margin-top: 0;
        margin-bottom: 0;
        &::before {
            width: 2px;
            top: -30px;
        }
    }
    .tabs-bottom__comment:hover{
        .comment__user-name{
            img{
                display: none;
            }
        }
    }
    .sidebar-dropdown__gradient{
        width: 195px;
    }
    .favourites__content-more{
        display: block;
        width: 15px;
        img{
            width: inherit;
        }
    }
}