<div class="rating__inner">
    <div class="rating__overall">
        4.4
        <span>Overall rating</span>
    </div>
    <div class="rating__main">
        <div class="rating__main-level">
            <img src="/assets/icons/star.svg" alt="">
            <span>5</span>
            <div class="rating__main-scale">
                <span style="width: 80%;"></span>
            </div>
            <span>2 reviews</span>
        </div>
        <div class="rating__main-level">
            <img src="/assets/icons/star.svg" alt="">
            <span>4</span>
            <div class="rating__main-scale">
                <span style="width: 0%;"></span>
            </div>
            <span></span>
        </div>
        <div class="rating__main-level">
            <img src="/assets/icons/star.svg" alt="">
            <span>3</span>
            <div class="rating__main-scale">
                <span style="width: 20%;"></span>
            </div>
            <span>1 review</span>
        </div>
        <div class="rating__main-level">
            <img src="/assets/icons/star.svg" alt="">
            <span>2</span>
            <div class="rating__main-scale">
                <span style="width: 0%;"></span>
            </div>
            <span></span>
        </div>
        <div class="rating__main-level">
            <img src="/assets/icons/star.svg" alt="">
            <span>1</span>
            <div class="rating__main-scale">
                <span style="width: 0%;"></span>
            </div>
            <span></span>
        </div>
    </div>
</div>
<div class="rating__reviews">
    <div class="rating__sort">
        <div class="rating__sort-by">
            Sort by
        </div>
        <div class="rating__sort-inner">
            <div class="rating__sort-item rating__sort-item--active">
                Date
            </div>
            <div class="rating__sort-item">
                Rating
            </div>
            <div class="rating__sort-item">
                Popularity
            </div>
        </div>
    </div>
    <div class="rating__evaluation">
        <span>Evaluation</span>
        <ul>
            <li>
                <img src="/assets/icons/star.svg" alt="">
                5
            </li>
            <li>
                <img src="/assets/icons/star-grey.svg" alt="">
                4
            </li>
            <li>
                <img src="/assets/icons/star-grey.svg" alt="">
                3
            </li>
            <li>
                <img src="/assets/icons/star-grey.svg" alt="">
                2
            </li>
            <li>
                <img src="/assets/icons/star-grey.svg" alt="">
                1
            </li>
        </ul>
    </div>
</div>
<div class="rating__text">
    To add a reviews, you need to <a href="#">log in</a> to the site.
</div>
<form class="rating__form" [formGroup]="reviewForm">
    <textarea formControlName="feelings" name="feelings-textarea" placeholder="Write your feelings and experience of using"></textarea>
    <div class="tab-textarea">
        <img src="/assets/icons/smile.svg" alt="">
        <div class="smile-boxwrapper">
            <div class="smile-box">
                <div class="smile-boxinner">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                    <img src="/assets/icons/emoji-2.svg" alt="">
                </div>
                <div class="sidebar-dropdown__gradient"></div>
            </div>
        </div>
    </div>
    <textarea formControlName="advantages" name="advantages-textarea" placeholder="Write advantages"></textarea>
    <textarea formControlName="disadvantages" name="disadvantages-textarea" placeholder="Write disadvantages"></textarea>
    <button class="rating__btn btn">Send</button>
    <div class="comment__user-rate comment__user-handrate">
        <img src="/assets/icons/star.svg" alt="">
        <img src="/assets/icons/star.svg" alt="">
        <img src="/assets/icons/star-grey.svg" alt="">
        <img src="/assets/icons/star-grey.svg" alt="">
        <img src="/assets/icons/star-grey.svg" alt="">
    </div>
</form>
<div class="tabs-bottom__comments">
    <div class="tabs-bottom__comment-wrapper">
        <div class="tabs-bottom__comment">
            <div class="comment__user">
                <div class="comment__user-avatar">
                    <img src="/assets/users/user_1.jpg" alt="">
                </div>
                <div class="comment__user-info">
                    <div class="comment__user-name">
                        <span>Hoover Lauren</span>
                        <img src="/assets/icons/reply.svg" alt="">
                    </div>
                    <div class="comment__user-rate">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                    </div>
                </div>
                <div class="comment__user-date">
                    21.01.2021
                </div>
            </div>
            <div class="comment__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit. Non sit consectetur cras aliquam turpis mattis nisi, maecenas. Viverra sed convallis nisl iaculis eget. Viverra neque et integer sed accumsan. Pellentesque fusce molestie iaculis turpis nulla. Vel risus vitae auctor placerat felis euismod a nunc. Sit tempor adipiscing purus id sagittis, vulputate laoreet elit nunc. Aenean consectetur mauris blandit morbi cras nisl ac ut. Pellentesque eu consectetur cursus eget sociis magna tristique vitae, egestas. Massa faucibus tempus sed et, quam tristique. Tristique pellentesque aliquet at eu. Lorem convallis porttitor consectetur diam viverra. Fringilla risus, faucibus est tincidunt nunc dictum.
                <img src="/assets/icons/emoji-1.svg" alt="">
                <img src="/assets/icons/emoji-2.svg" alt="">
                <div class="comment__text-advantages">
                    <span>Advantages</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit.
                </div>
                <div class="comment__text-advantages">
                    <span>Disadvantages</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit.
                </div>
            </div>
            <div class="comment__like comment__like--positive">
                <span class="comment__btn comment__btn-plus">
                    <img src="/assets/icons/plus.svg" alt="">
                </span>
                11
                <span class="comment__btn comment__btn-minus">
                    <img src="/assets/icons/minus.svg" alt="">
                </span>
            </div>
        </div>
        <div class="tabs-bottom__comment comment__answer">
            <div class="comment__user">
                <div class="comment__user-avatar">
                    <img src="/assets/users/user_2.jpg" alt="">
                </div>
                <div class="comment__user-info">
                    <div class="comment__user-name">
                        <span>Robinson Daisy</span>
                        <img src="/assets/icons/reply.svg" alt="">
                    </div>
                    <div class="comment__user-rate">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star-empty.svg" alt="">
                        <img src="/assets/icons/star-empty.svg" alt="">
                    </div>
                </div>
                <div class="comment__user-date">
                    19.01.2021
                </div>
            </div>
            <div class="comment__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit. Non sit consectetur cras aliquam turpis mattis nisi, maecenas. Viverra sed convallis nisl iaculis eget. Viverra neque et integer sed accumsan. Pellentesque fusce molestie iaculis turpis nulla. Vel risus vitae auctor placerat felis euismod a nunc.
            </div>
            <div class="comment__like comment__like--positive">
                <span class="comment__btn comment__btn-plus">
                    <img src="/assets/icons/plus.svg" alt="">
                </span>
                3
                <span class="comment__btn comment__btn-minus">
                    <img src="/assets/icons/minus.svg" alt="">
                </span>
            </div>
        </div>
    </div>
    <div class="tabs-bottom__comment-wrapper">
        <div class="tabs-bottom__comment">
            <div class="comment__user">
                <div class="comment__user-avatar">
                    <img src="/assets/users/user_4.jpg" alt="">
                </div>
                <div class="comment__user-info">
                    <div class="comment__user-name">
                        <span>Bates Osborn</span>
                        <img src="/assets/icons/reply.svg" alt="">
                    </div>
                    <div class="comment__user-rate">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                        <img src="/assets/icons/star.svg" alt="">
                    </div>
                </div>
                <div class="comment__user-date">
                    18.01.2021
                </div>
            </div>
            <div class="comment__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit. Non sit consectetur cras aliquam turpis mattis nisi, maecenas.
                <div class="comment__text-advantages">
                    <span>Advantages</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit.
                </div>
                <div class="comment__text-advantages">
                    <span>Disadvantages</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit a eu adipiscing. Odio volutpat nunc nec egestas purus pulvinar. Pharetra libero laoreet morbi consequat ac phasellus sit.
                </div>
            </div>
            <div class="comment__like">
                <span class="comment__btn comment__btn-plus">
                    <img src="/assets/icons/plus.svg" alt="">
                </span>
                0
                <span class="comment__btn comment__btn-minus">
                    <img src="/assets/icons/minus.svg" alt="">
                </span>
            </div>
        </div>
    </div>
    <div class="favourites__content-more">
        <img src="/assets/icons/sigarettes.svg" alt="">
    </div>
</div>