@font-face{
	font-family: Golos-Regular;
	src: url('../assets/fonts/Golos-Regular.woff2') format('woff2'),
	     url('../assets/fonts/Golos-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: Golos-Medium;
	src: url('../assets/fonts/Golos-Medium.woff2') format('woff2'),
	     url('../assets/fonts/Golos-Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}

@font-face{
	font-family: Golos-Bold;
	src: url('../assets/fonts/Golos-Bold.woff2') format('woff2'),
	     url('../assets/fonts/Golos-Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}