html,
body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    text-size-adjust: 100%;
}
body{
    min-width: 320px;
    font-family: Golos-Regular, sans-serif;
    font-size: 100%;
	line-height: 1.4;
    font-size: 18px;
    font-weight: 400;
    color: var(--label);
    position: relative;
    overflow-x: hidden;
    background-color: var(--bg);
}
*{
	margin: 0;
    padding: 0;
    border: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    outline: none;
}
nav,
footer,
header,
aside{
    display: block;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:focus,
    &:active{
        outline: none;
    }
    &:visited,
    &:hover{
        text-decoration: none;
    }
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    object-fit: cover;
}
input,
button,
textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px var(--bg) inset !important;
    -webkit-text-fill-color: var(--label);
}
button{
    cursor: pointer;
    text-align: center;
    outline: none;
    &::-moz-focus-inner{
        padding:0;
        border:0;
    }
}
textarea{
    resize: none;
}
select{
    option{
        background-color: var(--bg);
        color: $grey;
        font-size: 20px;
        line-height: 23px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
    }
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin: 0;
}


// ---*******************---

// MAIN STYLES

.container{
    max-width: 1760px;
    margin: 0 auto;
    padding: 0px 100px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}

.title{
    font-size: 36px;
    line-height: 50px;
    @include medium;
    margin-bottom: 20px;
}
.btn{
    height: 47px;
    border: 1px solid var(--label);
    padding: 9px 29px 14px;
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
}
.btn__no-border{
    border: none;
    padding: 0;
}

form{
    width: 100%;
    input,
    select{
        width: inherit;
        height: 47px;
        border: 1px solid $grey;
        padding: 10px 19px 12px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 23px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: var(--label);
        background-color: transparent;
        &::placeholder{
            font-size: 20px;
            line-height: 23px;
            color: $grey;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
    }
    input.ng-valid,
    input.ng-invalid{
        border-color: $green;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            top: 5px;
            right: 13px;
            width: 17px;
            height: 11px;
            background-image: url(../assets/icons/check.svg);
        }
    }
    input.ng-invalid{
        border-color: $red;
        &::before{
            width: 6px;
            height: 23px;
            background-image: url(../assets/icons/invalid.svg);
        }
    }
}

.breadcrumbs__items{
    background-color: transparent;
    padding-top: 37px;
    padding-bottom: 42px;
    width: 100%;
    overflow-x: hidden;
    li{
        display: inline-block;
        & + li{
            padding-left: 32px;
        }
        a,
        span{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: $grey;
        }
    }
}

.ngx-slider{
    margin-top: 15px !important;
    margin-left: 30px !important;
    .ngx-slider-bar{
        height: 1px !important;
        background: $grey !important;
        border-radius: 0;
    }
    .ngx-slider-pointer{
        border: 1px solid $orange !important;
        height: 15px !important;
        width: 15px !important;
        background: var(--bg) !important;
        border-radius: 0 !important;
        &::after{
            display: none !important;
        }
    }
    .ngx-slider-bar-wrapper{
        padding-top: 9px !important;
    }
    .ngx-slider-selection{
        background-color: $orange !important;
    }
    .ngx-slider-floor,
    .ngx-slider-ceil{
        display: none !important;
    }
    .ngx-slider-model-value,
    .ngx-slider-model-high{
        font-family: Roboto;
        font-weight: 300;
        font-size: 20px !important;
        color: var(--label) !important;
        bottom: -28px !important;
    }
}

.go-up{
    position: fixed;
    bottom: 10%;
    right: 3.5%;
    width: 29px;
    height: 16px;
    z-index: 15;
    img{
        width: inherit;
        height: inherit;
        @include bgi;
    }
}

@media (max-width: 1730px){
    .container{
        padding: 0 100px;
    }
}
@media (max-width: 1530px){
    .title{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 10px;
    }
    form input{
        height: 44px;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 21px;
        padding: 9px 19px 11px;
        &::placeholder{
            font-size: 18px;
            line-height: 21px;
        }
    }
    .btn{
        height: 44px;
        font-size: 18px;
        line-height: 21px;
        padding-top: 9px;
        padding-bottom: 12px;
    }
}
@media (max-width: 1366px){
    .go-up {
        right: 3%;
        width: 19px;
        height: 10px;
    }
    .ngx-slider{
        width: 80% !important;
        .ngx-slider-model-value,
        .ngx-slider-model-high{
            font-size: 18px !important;
        }
    }
}
@media (max-width: 1140px){
    .breadcrumbs__cart{
        .container{
            padding: 0 60px;
        }
    }
}
@media (max-width: 1120px){
    .breadcrumbs .container{
        padding: 0 60px;
    }
}
@media (max-width: 800px){
    .breadcrumbs{
        .container{
            padding: 0 20px;
        }
    }
    .breadcrumbs__items{
        padding-top: 17px;
        padding-bottom: 20px;
    }
    .go-up{
        right: 2%;
    }
}
@media (max-width: 580px){
    .container{
        padding: 0 27px;
    }
}
@media (max-width: 440px){
    .title{
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    .btn{
        font-size: 11px;
        line-height: 13px;
        padding: 7px 17px 10px;
        height: 30px;
    }
    .go-up{
        display: none;
    }
    .breadcrumbs{
        display: none;
    }
    .ngx-slider{
        width: 98% !important;
        margin: -15px 0 0 35px !important;
        .ngx-slider-model-value,
        .ngx-slider-model-high{
            font-size: 11px !important;
            bottom: -15px !important;
        }
        .ngx-slider-pointer{
            height: 11px !important;
            width: 11px !important;
            top: -12px !important;
        }
    }
    .sidebar-item__range{
        margin-bottom: -20px;
    }
}