@media (max-width: 1770px){

    // start favourites&story&orders styles
    // .order__content{
    //     margin-left: 40px;
    // }
    // .order__content-status{
    //     margin-right: 0;
    // }
    // .order__content-repeat{
    //     margin-left: 0;
    // }
    // end favourites&story&orders styles

    // start product styles
    // .product__image{
    //     width: 474px;
    //     height: 474px;
    //     margin-right: 47px;
    //     img{
    //         padding: 43px;
    //     }
    // }
    // .product__slider-image{
    //     width: 131px;
    //     height: 131px;
    //     img{
    //         padding: 12px;
    //     }
    // }
    // .product__slider{
    //     margin-right: 43px;
    //     width: 131px;
    //     height: 100%;
    // }
    // .product__slider-arrow{
    //     width: 21px;
    //     // height: 12px;
    // }
    // .slider-arrow_up{
    //     margin-bottom: 14px;
    // }
    // .slider-arrow_down{
    //     margin-top: 11px;
    // }
    // .product__slider-image+.product__slider-image {
    //     margin-top: 15px;
    // }
    // .product__info{
    //     padding: 8px 0 0;
    // }
    // .product__info-main{
    //     font-size: 16px;
    //     line-height: 19px;
    // }
    // end product styles

}
// @media (max-width: 1750px){

//     // start header styles
//     .header-bottom__menu{
//         margin-right: 56px;
//     }
//     // end header styles

// }
@media (max-width: 1730px){
    // .container{
    //     padding: 0 100px;
    // }

    // start header styles
    // .bottom__menu-item{
    //     margin-left: 38px;
    //     & + &{
    //         margin-left: 38px;
    //     }
    // }
    // .header-bottom__logo{
    //     margin-right: 0;
    // }
    // .header-bottom__search{
    //     max-width: 415px;
    // }
    // .header-bottom__menu{
    //     margin-right: 66px;
    // }
    // .header-bottom__links{
    //     margin-left: 71px;
    // } 
    // .header-bottom__search{
    //     max-width: inherit;
    // }
    // .header-bottom__searchwrapper{
    //     max-width: 415px;
    // }
    // end header styles

    // start loginweb styles
    // .login__image{
    //     width: 75%;
    //     height: auto;
    //     img{
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    // .login__link{
    //     margin-left: 27px;
    // }
    // end loginweb styles

    // start profile styles
    // .profile{
    //     padding: 61px 0;
    // }
    // .profile__content{
    //     width: auto;
    // }
    // .profile__content-item{
    //     width: 375px;
    //     padding-bottom: 34px;
    // }
    // .profile__content-box{
    //     padding: 23px 28px 27px;
    // }
    // .profile__content-price span{
    //     display: none;
    // }
    // .profile__content-like--big{
    //     display: none;
    // }
    // .profile__content-like--small{
    //     display: block;
    // }
    // .profile__content-name {
    //     margin-right: 0;
    // }
    // end profile styles

    // start favourites&story&orders styles
    // .story__content-wrapper{
    //     display: block;
    // }
    // .story .favourites__content-inner{
    //     align-items: center;
    // }
    // .favourites__content-agos {
    //     margin-left: 50px;
    // }
    // .orders__content-wrapper{
    //     padding: 0;
    //     width: 495px;
    // }
    // .orders__content-list{
    //     right: 12px;
    //     left: 12px;
    // }
    // .orders .favourites__content-inner{
    //     align-items: center;
    // }
    // end favourites&story&orders styles

    // start cart styles
    // .cart__inner{
    //     justify-content: center;
    // }
    // .cart__content{
    //     max-width: 750px;
    //     margin-right: 97px;
    // }
    // .cart__position{
    //     width: 100%;
    // }
    // .btn__payment{
    //     margin-bottom: 20px;
    //     margin-right: 20px;
    // }
    // .btn__payment + .btn__payment {
    //     margin-left: 0;
    // }
    // .order__content-contacts{
    //     flex-wrap: wrap;
    // }
    // .order__content-contact{
    //     margin-bottom: 28px;
    //     li{
    //         line-height: 23px;
    //     }
    // }
    // .order__content-contact.contact-country {
    //     min-width: 100%;
    //     margin-right: 0;
    //     margin-bottom: 0;
    // }
    // .order__content-country{
    //     flex-wrap: wrap;
    //     justify-content: flex-start;
    // }
    // .cart .order__content-box{
    //     padding-bottom: 0;
    //     position: initial;
    // }
    // end cart styles

    // start page-404 styles
    // .page-404__image{
    //     max-width: 900px;
    // }
    // end page-404 styles

}
@media (max-width: 1630px){

    // start personal-info styles
    // .personal-info__form{
    //     flex-wrap: wrap;
    // }
    // .personal-info__item+.personal-info__item {
    //     margin-left: 0;
    //     margin-top: 24px;
    // }
    // .personal-info__content{
    //     max-width: 674px;
    //     margin-left: 120px;
    // }
    // .personal-info__btn{
    //     display: none;
    //     &.personal-info__btn--small{
    //         display: inline-block;
    //     }
    // }
    // .personal-info__content{
    //     padding: 56px 83px 72px;
    // }
    // end personal-info styles

    // start bulk&delivery&faqs styles
    // .faqs .profile__blog{
    //     display: none;
    // }
    // .faqs__inner{
    //     justify-content: center;
    // }
    // .faqs__content{
    //     margin-left: 0;
    // }
    // end bulk&delivery&faqs styles

}
@media (max-width: 1530px){

    // start header styles
    // .header-bottom__search{
    //     margin-right: 25px;
    //     input,
    //     button{
    //         height: 44px;
    //     }
    //     button{
    //         top: 2px;
    //     }
    // }
    // end header styles

    // start loginweb styles
    // .login__image{
    //     width: 65%;
    //     height: 489px;
    // }
    // // .title{
    // //     font-size: 24px;
    // //     line-height: 33px;
    // //     margin-bottom: 10px;
    // // }
    // .login__text{
    //     font-size: 16px;
    //     font-family: 'Roboto', sans-serif;
    //     font-weight: 300;
    // }
    // // form input{
    // //     height: 44px;
    // //     margin-bottom: 15px;
    // //     font-size: 18px;
    // //     line-height: 21px;
    // //     padding: 9px 19px 11px;
    // //     &::placeholder{
    // //         font-size: 18px;
    // //         line-height: 21px;
    // //     }
    // // }
    // .login .form {
    //     margin-bottom: 18px;
    // }
    // .login__link{
    //     font-size: 18px;
    //     line-height: 21px;
    // }
    // .login__inner{
    //     padding: 49px 0;
    // }
    // end loginweb styles

    // start footer styles
    // .footer__inner{
    //     flex-wrap: wrap;
    // }
    // .footer__design{
    //     width: 100%;
    //     margin-top: 18px;
    // }
    // end footer styles

    // start profile styles
    .profile__blog{
        display: none;
    }
    // .profile__inner{
    //     justify-content: flex-start;
    // }
    // .profile__content{
    //     margin-left: 40px;
    // }
    // .profile__content-inner{
    //     margin-bottom: 24px;
    // }
    // .profile__content-title{
    //     font-size: 24px;
    //     line-height: 34px;
    //     span{
    //         font-size: 16px;
    //         line-height: 19px;
    //     }
    // }
    // end profile styles

    // start favourites&story&orders styles
    // .order__content-inner{
    //     width: 40%;
    // }
    // .order__content-box{
    //     width: 506px;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     li{
    //         line-height: 23px;
    //     }
    // }
    // .order__content-contacts,
    // .order__content-country,
    // .order__content-info{
    //     display: block;
    // }
    // .order__content-info{
    //     margin-bottom: 0;
    // }
    // .order__content-status,
    // .order__content-summ{
    //     display: inline-block;
    //     vertical-align: middle;
    //     margin-bottom: 10px;
    // }
    // .order__content-summ{
    //     margin-right: 25px;
    //     font-size: 20px;
    // }
    // .order__content-about{
    //     font-size: 18px;
    //     margin-bottom: 5px;
    // }
    // .order__content-repeat{
    //     margin: 50px 0 42px;
    // }
    // .order__content-contact{
    //     min-width: 100%;
    // }
    // .order__content-contact.contact-country{
    //     margin-top: 28px;
    // }
    // .order__content-top{
    //     margin-bottom: 36px;
    // }
    // end favourites&story&orders styles

    // start bulk&delivery&faqs&contacts&about styles
    // .bulk__inner,
    // .delivery__inner,
    // .contacts__inner,
    // .about__inner{
    //     justify-content: center;
    // }
    // .delivery__content,
    // .contacts__content,
    // .about__content{
    //     margin-left: 0;
    // }
    // end bulk&delivery&faqs&contacts&about styles

    // start cart styles
    // .cart__content{
    //     max-width: 506px;
    // }
    // .cart{
    //     padding-top: 0;
    //     form input{
    //         height: 47px;
    //         font-size: 20px;
    //         line-height: 23px;
    //         padding: 10px 19px 12px;
    //         &::placeholder{
    //             font-size: 20px;
    //             line-height: 23px;
    //         }
    //     }
    // }
    // .cart .personal-info__subtitle{
    //     font-size: 22px;
    // }
    // .cart .input__inner{
    //     width: 100%;
    // }
    // .cart__inner{
    //     justify-content: flex-start;
    // }
    // .btn__payment {
    //     font-size: 30px;
    //     line-height: 36px;
    //     padding: 22px 36px 25px;
    // }
    // .form__payment-text{
    //     font-size: 16px;
    //     margin-top: 6px;
    // }
    // .personal-info__item + .personal-info__item{
    //     margin-top: 3px;
    // }
    // .personal-info__warning{
    //     padding-left: 12px;
    // }
    // .personal-info__warning::before{
    //     left: 0;
    // }
    // end cart styles

    // start page-404 styles
    // .page-404__inner{
    //     padding: 49px 0;
    // }
    // .page-404__image{
    //     max-width: 735px;
    // }
    // .page-404__content-title{
    //     font-size: 90px;
    //     line-height: 108px;
    // }
    // .page-404__content-subtitle {
    //     font-size: 24px;
    //     line-height: 29px;
    // }
    // .page-404__content-text {
    //     font-size: 16px;
    //     line-height: 19px;
    //     margin-bottom: 28px;
    // }
    // .page-404__content-link{
    //     font-size: 16px;
    //     line-height: 19px;
    // }
    // .page-404__content-link + .page-404__content-link {
    //     margin-left: 73px;
    // }
    // end page-404 styles

    // .btn{
    //     height: 44px;
    //     font-size: 18px;
    //     line-height: 21px;
    //     padding-top: 9px;
    //     padding-bottom: 12px;
    // }
}
@media (max-width: 1460px){

    // start favourites&story&orders styles
    // .story {
    //     .favourites__content-date{
    //         font-size: 20px;
    //     }
    //     .favourites__content-title{
    //         font-size: 30px;
    //         min-width: 130px;
    //         span{
    //             font-size: 16px;
    //         }
    //     }
    //     .story__content{
    //         margin-left: 40px;
    //     }
    //     .favourites__content-inner{
    //         margin-left: 10px;
    //     }
    // }
    // .story__content-title{
    //     font-size: 22px;
    // }
    // .orders__content{
    //     margin-left: 30px;
    // }
    // .orders{
    //     .favourites__content-title{
    //         font-size: 30px;
    //         span{
    //             font-size: 16px;
    //             right: -25px;
    //         }
    //     }
    //     .favourites__content-date{
    //         font-size: 20px;
    //     }
    //     .favourites__content-inner{
    //         margin-bottom: 24px;
    //     }
    // }
    // .order__content{
    //     margin-left: 10px;
    // }
    // end favourites&story&orders styles
}

// @media (max-width: 1385px){

//     // start header styles
//     .header-bottom__links{
//         margin-left: 40px;
//     }
//     // end header styles

// }