@media (max-width: 1366px){

    // start header styles
    // .top__menu-item a,
    // .top__menu-item span{
    //     font-size: 16px;
    //     line-height: 19px;
    // }
    // .bottom__menu-item a,
    // .bottom__menu-item span{
    //     font-size: 18px;
    //     line-height: 22px;
    // }
    // .header-bottom__inner{
    //     min-height: 96px;
    // }
    // .icon-moon{
    //     width: 17px;
    // }
    // .header .icon-heart{
    //     width: 21px;
    // }
    // .icon-basket img{
    //     width: 23px;
    // }
    // .header-bottom__logo{
    //     width: 51px;
    // }
    // end header styles

    // start favourites&story&orders styles
    .favourites__content,
    .favourites__content-items{
        margin-left: 0;
    }
    .favourites__content-inner{
        margin-left: 20px;
    }
    .favourites__content-item{
        max-width: 276px;
        margin-bottom: 50px;
    }
    .favourites__content-top{
        height: 277px;
    }
    .favourites__content-image{
        width: 136px;
        height: 222px;
        margin: 27px auto -34px;
    }
    .favourites__content-rate{
        align-items: flex-end;
    }
    .favourites__content-star{
        display: block;
        span{
            display: block;
            margin: 0;
        }
        img{
            margin: 0 3px;
        }
    }
    .favourites__content-bottom{
        padding-top: 13px;
    }
    // .story {
    //     .story__content {
    //         margin-left: 10px;
    //     }
    // }
    // .orders__content {
    //     margin-left: 10px;
    // }
    // .order__content-inner{
    //     width: 35%;
    // }
    // .order__content-summ{
    //     display: block;
    // }
    // .order__content-repeat{
    //     margin: 20px 0 37px;
    // }
    // .order .order__content-box{
    //     width: 405px;
    // }
    // end favourites&story&orders styles

    // start home styles
    // .home__title-main{
    //     font-size: 30px;
    // }
    // .home__subtitle,
    // .home__title{
    //     font-size: 24px;
    // }
    // .home__subtitle{
    //     margin-bottom: 95px;
    // }
    // .useful_tips{
    //     margin-bottom: 50px;
    // }
    // .useful_tips__item{
    //     width: 276px;
    // }
    // .useful_tips__image{
    //     height: 276px;
    // }
    // .useful_tips__text{
    //     font-size: 16px;
    //     line-height: 21px;
    //     padding-top: 14px;
    //     padding-bottom: 14px;
    // }
    // end home styles

    // start shop styles
    // .form__sidebar-item.form__sidebar-color{
    //     display: block;
    // }
    // .shop__sidebar form{
    //     width: 240px;
    // }
    // .sidebar-item__wrapper{
    //     margin-top: 0;
    // }
    // .shop__sidebar-item{
    //     font-size: 16px;
    //     margin-bottom: 7px;
    // }
    // .shop__sidebar-title{
    //     font-size: 24px;
    //     span{
    //         font-size: 16px;
    //         right: -30px;
    //     }
    // }
    // .label__title{
    //     font-size: 22px;
    // }
    // .shop__content{
    //     margin-left: 290px;
    // }
    // .shop__content-top>div{
    //     font-size: 18px;
    // }
    // .shop__content-found{
    //     display: none;
    // }
    // .shop__content-top{
    //     margin-left: 183px;
    // }
    // .range{
    //     width: 180px;
    // }
    // end shop styles

    // start thank-you styles
    // .thank-you__inner{
    //     padding: 101px 0 135px;
    // }
    // .thank-you__image{
    //     width: 43px;
    //     height: 43px;
    //     margin-bottom: 18px;
    // }
    // .thank-you__title{
    //     font-size: 30px;
    //     margin-bottom: 14px;
    // }
    // .thank-you__text{
    //     font-size: 22px;
    //     line-height: 26px;
    //     margin-bottom: 26px;
    // }
    // .thank-you__link{
    //     font-size: 16px;
    //     line-height: 19px;
    // }
    // end thank-you styles

    // start search styles
    .search__title,
    .search__subtitle{
        font-size: 22px;
        line-height: 26px;
    }
    .search__items{
        max-width: 1200px;
        margin-left: -49px;
        justify-content: center;
    }
    .search .favourites__content-item{
        margin-left: 49px;
    }
    .search .favourites__content-price{
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 15px;
        span{
            font-size: 18px;
            line-height: 21px;
        }
    }
    .search .favourites__content-name{
        font-size: 16px;
        line-height: 19px;
    }
    // end search styles

    // .go-up {
    //     bottom: 40%;
    //     right: 3%;
    //     width: 19px;
    //     height: 10px;
    // }

}
@media (max-width: 1345px){

    // start header styles
    // .header-bottom .container{
    //     padding: 0 60px;
    // }
    // .header-bottom__inner{
    //     flex-wrap: wrap;
    // }
    // .header-bottom__search{
    //     width: 100%;
    //     order: 6;
    //     margin: 47px auto 0;
    //     input{
    //         border-color: #000;
    //         width: 595px;
    //         color: #000;
    //         padding-left: 16px;
    //         font-weight: 400;
    //     }
    //     button{
    //         display: none;
    //     }
    // }
    // .icon-search{
    //     display: inline-block;
    //     width: 17px;
    // }
    // .header-bottom__links{
    //     max-width: 215px;
    //     margin-left: 22%;
    // }
    // .header-bottom__login{
    //     margin-left: 57px;
    // }
    // end header styles

    // start favourites&story&orders styles
    // .orders__content-box{
    //     margin-bottom: 20px;
    // }
    // .orders__content-info{
    //     width: 273px;
    //     padding: 47px 65px;
    // }
    // .orders__content-price{
    //     font-size: 30px;
    //     margin-bottom: 0;
    // }
    // .orders__content-calendar{
    //     font-size: 22px;
    //     margin: 0;
    // }
    // .orders__content-number{
    //     margin: 0;
    // }
    // .orders__content-position{
    //     padding: 11px 36px;
    //     img{
    //         height: 94px;
    //     }
    // }
    // end favourites&story&orders styles

    // start page-404 styles
    // .page-404 .container{
    //     padding: 0 60px;
    // }
    // end page-404 styles

}
@media (max-width: 1280px){

    // start profile styles
    // .profile .container{
    //     padding: 0 60px;
    // }
    // end profile styles

    // start personal-info styles
    // .personal-info__content{
    //     margin-left: 0;
    // }
    // end personal-info styles

    // start favourites&story&orders styles
    // .story,
    // .orders{
    //     .favourites__content-inner{
    //         flex-wrap: wrap;
    //         margin: 0 0 14px 0;
    //     }
    //     .story__content-wrapper{
    //         width: 100%;
    //     }
    //     .favourites__content-title{
    //         min-width: auto;
    //         margin-bottom: 13px;
    //     }
    //     .favourites__content-dates,
    //     .favourites__content-agos,
    //     .favourites__content-date,
    //     .favourites__content-ago{
    //         margin-left: 0;
    //     }
    //     .favourites__content-dates{
    //         margin-bottom: 10px;
    //     }
    //     .favourites__content-date + .favourites__content-date{
    //         margin-left: 10px;
    //     }
    //     .favourites__content-ago + .favourites__content-ago{
    //         margin-left: 20px;
    //     }
    // }
    // end favourites&story&orders styles

}
@media (max-width: 1266px){

    // start footer styles
    // .footer .container{
    //     padding: 0 60px;
    // }
    // .footer__rights{
    //     width: 40%;
    // }
    // .footer__contact-us,
    // .footer__design{
    //     margin-top: 14px;
    //     width: 60%;
    // }
    // .footer__contact-us{
    //     order: 1;
    //     margin-top: 0;
    // }
    // .footer__design{
    //     order: 3;
    // }
    // .footer__policy{
    //     order: 2;
    //     width: 40%;
    //     margin-top: 14px;
    //    a{
    //         margin-left: 0; 
    //     } 
    // }
    // .footer__inner{
    //     font-size: 18px;
    //     line-height: 22px;
    // }
    // end footer styles

    // start favourites&story&orders styles
    // .orders .container{
    //     padding: 0 60px;
    // }
    // end favourites&story&orders styles

    // start bulk&delivery&faqs styles
    // .faqs{
    //     padding: 0;
    //     .container{
    //         padding: 0 59px;
    //     }
    // } 
    // .faqs__content{
    //     max-width: 904px;
    // }
    // .faqs__content-tab{
    //     padding: 35px 67px 46px;
    // }
    // end bulk&delivery&faqs styles

    // start product styles
    // .product .container{
    //     padding: 0 60px;
    // }
    // .product__image{
    //     width: 441px;
    //     height: 441px;
    //     img{
    //         padding: 39px;
    //     }
    // }
    // .product__item{
    //     flex-wrap: wrap;
    //     margin-bottom: 56px;
    // }
    // .product__slider{
    //     width: 100%;
    //     flex-direction: row;
    //     order: 3;
    //     margin-top: -46px;
    // }
    // .product__slider-images{
    //     flex-direction: row;
    // }
    // .product__slider-image{
    //     width: 101px;
    //     height: 101px;
    //     img{
    //         padding: 9px;
    //     }
    // }
    // .product__slider-image+.product__slider-image {
    //     margin-top: 0;
    //     margin-left: 18px;
    // }
    // .product__slider-arrow{
    //     margin: auto 11px;
    //     transform: rotate(-90deg);
    // }
    // .slider-arrow_up{
    //     margin-right: 14px;
    // }
    // .slider-arrow_down{
    //     margin-left: 11px;
    // }
    // .product__info{
    //     padding-top: 0;
    // }
    // .product__tabs{
    //     max-width: 904px;
    // }
    // end product styles

    // start cart styles
    // .cart__content{
    //     margin-right: 40px;
    // }
    // end cart styles

}
@media (max-width: 1200px){

    // start profile styles
    // .profile__sidebar-link{
    //     margin-top: 82px;
    //     font-size: 16px;
    // }
    // .profile__sidebar-name{
    //     max-width: 120px;
    //     font-size: 20px;
    //     line-height: 28px;
    // }
    // .profile__sidebar{
    //     min-width: 231px;
    //     a,
    //     span{
    //         font-size: 16px;
    //         line-height: 22px;
    //     }
    //     span{
    //         margin-left: 15px;
    //     }
    // } 
    // .profile__sidebar-item{
    //     margin-bottom: 6px;
    // }
    // .profile__sidebar-image{
    //     width: 102px;
    //     height: 102px;
    //     &:hover::before{
    //         width: 29px;
    //         height: 27px;
    //     }
    // }
    // .profile__sidebar-top{
    //     margin-bottom: 26px;
    // }
    // .profile__content-item{
    //     width: 288px;
    //     padding: 25px 19px;
    // }
    // .profile__content-inner{
    //     justify-content: center;
    // }
    // .profile__content-show--big{
    //     display: none;
    // }
    // .profile__content-show--small{
    //     display: block;
    //     text-align: center;
    //     margin-top: 24px;
    // }
    // .profile__content-box{
    //     padding: 17px 18px 26px;
    // }
    // .profile__content-price{
    //     font-size: 27px;
    //     line-height: 32px;
    // }
    // .profile__content-name{
    //     font-size: 16px;
    //     line-height: 19px;
    // }
    // end profile styles

    // start page-404 styles
    // .page-404__image{
    //     max-width: 490px;
    //     height: 489px;
    //     img{
    //         height: inherit;
    //     }
    // }
    // end page-404 styles

}
@media (max-width: 1140px){
    // start favourites&story&orders styles
    // .orders__content-wrapper {
    //     width: 396px;
    // }
    // .orders__content-items,
    // .orders__content{
    //     margin-left: 0;
    // }
    // .orders__content-list{
    //     padding-left: 17px;
    //     padding-right: 17px;
    // }
    // .orders__content-repeat{
    //     top: 8px;
    //     left: 12px;
    // }
    // end favourites&story&orders styles

    // start cart styles
    // .cart,
    // .breadcrumbs__cart{
    //     .container{
    //         padding: 0 60px;
    //     }
    // }
    // end cart styles
}
@media (max-width: 1120px){

    // start loginweb styles
    // .login__image{
    //     display: none;
    // }
    // .login__content{
    //     width: 100%;
    // }
    // .form {
    //     width: 49%;
    //     display: inline-block;
    //     vertical-align: top;
    //     input{
    //         width: 375px;
    //         margin-bottom: 20px;
    //     }
    // }
    // .login__inner{
    //     padding: 100px 0;
    // }
    // .login .form {
    //     margin-bottom: 0;
    // }
    // .login__text{
    //     width: 375px;
    // }
    // end loginweb styles

    // start personal-info styles
    // .personal-info .container{
    //     padding: 0 60px;
    // }
    // .personal-info__title{
    //     font-size: 30px;
    //     margin-bottom: 29px;
    // }
    // .personal-info__subtitle{
    //     font-size: 22px;
    // }
    // end personal-info styles

    // start favourites&story&orders styles
    // .story .container,
    // .order .container{
    //     padding: 0 58px 0 60px;
    // }
    // .order__content{
    //     margin-left: 0;
    // }
    // end favourites&story&orders styles

    // start shop styles
    // .shop .container{
    //     padding: 0 60px;
    // }
    // end shop styles

    // start product styles
    // .product__info{
    //     max-width: 400px;
    // }
    // end product styles

    // start thank-you styles
    // .thank-you .container{
    //     padding: 0 59px;
    // }
    // end thank-you styles

    // .breadcrumbs .container{
    //     padding: 0 60px;
    // }
    
}