@media (max-width: 1024px){

    // start favourites&story&orders styles
    .favourites .profile__sidebar{
        padding: 0;
    }
    .favourites .container{
        padding: 0 60px;
    }
    .favourites .profile__sidebar {
        min-width: 210px;
    }
    .favourites__content-inner{
        margin-bottom: 21px;
    }
    .favourites__content-title span{
        top: -6px;
        right: -30px;
    }
    .favourites__content-item{
        max-width: 211px;
    }
    .favourites__content-image {
        width: 103px;
        height: 169px;
        margin: 21px auto -43px;
    }
    .favourites__content-top{
        height: 210px;
    }
    .favourites__content-rate{
        padding: 0 16px 14px;
    }
    .favourites__content-bottom{
        padding: 9px 10px 0;
    }
    .favourites__content-price{
        font-size: 27px;
        margin-bottom: 6px;
    }
    .favourites__content-name{
        font-size: 16px;
    }
    .story{
        .profile__sidebar {
            min-width: 211px;
            padding-right: 0;
        }
        .favourites__content-item{
            margin-left: 16px;
        }
    }
    // .order .favourites__content-item{
    //     margin-left: 13px;
    // }
    // .order__content-status.order__content-status--small{
    //     display: inline-block;
    //     margin-bottom: 16px;
    // }
    // .order__content-status.order__content-status--big{
    //     display: none;
    // }
    // .order__content-top,
    // .order__content-summ{
    //     margin-bottom: 18px;
    // }
    // end favourites&story&orders styles

    // start home styles
    // .home{
    //     padding-bottom: 25px;
    // }
    // .home .container{
    //     padding: 0 58px;
    // }
    // .home .favourites__content-more{
    //     display: block;
    // }
    // .useful_tips{
    //     margin-bottom: 40px;
    // }
    // .useful_tips__item{
    //     width: 211px;
    //     margin-bottom: 30px;
    // }
    // .useful_tips__image{
    //     height: 211px;
    // }
    // .useful_tips__text{
    //     font-size: 14px;
    //     line-height: 18px;
    //     padding-left: 7px;
    //     padding-right: 7px;
    // }
    // .useful_tips__rate{
    //     padding: 0 7px;
    // }
    // end home styles

    // start shop styles
    // .shop{
    //     form{
    //         top: 43px;
    //         display: flex;
    //         flex-direction: column;
    //         flex-wrap: wrap;
    //         z-index: 5;
    //         width: 904px;
    //         background-color: #fff;
    //         height: 465px;
    //     }
    //     &__sidebar{
    //         position: relative;
    //         height: 100%;
    //     }
    // }
    // .form__sidebar-item{
    //     width: 30%;
    // }
    // .sidebar-item__type{
    //     order: 1;
    // }
    // .sidebar-item__range{
    //     order: 2;
    // }
    // .sidebar-item__brands{
    //     order: 4;
    // }
    // .sidebar-item__tough{
    //     order: 3;
    // }
    // .form__sidebar-color{
    //     order: 5;
    // }
    // .form__sidebar-arrow{
    //     display: block;
    //     position: absolute;
    //     bottom: 35px;
    //     left: 50%;
    //     display: block;
    //     width: 17px;
    //     height: 10px;
    //     @include bgi;
    //     transform: translateX(-50%);
    //     transform: rotate(180deg);
    //     cursor: pointer;
    // }
    // .shop__content-sort{
    //     img{
    //         display: inline;
    //         margin-right: 24px;
    //         width: 18px;
    //         height: 12px;
    //         @include bgi;
    //         cursor: pointer;
    //     }
    // }
    // .shop__content{
    //     margin-left: 3px;
    // }
    // .shop .favourites__content-item{
    //     margin-left: 18px;
    // }
    // .shop__content-top {
    //     margin-left: 135px;
    // }
    // end shop styles

    // start search styles
    .search__items{
        max-width: auto;
        margin-left: -14px;
        justify-content: center;
    }
    .search .container{
        padding: 0 60px;
    }
    .search .favourites__content-item{
        margin-left: 14px;
    }
    .search .favourites__content-price{
        margin-bottom: 8px;
    }
    .search .favourites__content-item{
        max-width: 211px;
        margin-bottom: 50px;
    }
    .search .favourites__content-top{
        height: 210px;
        padding: 21px 14px 0;
    }
    .search .favourites__content-image{
        width: 103px;
        height: 168px;
    }
    .search .favourites__content-bottom{
        padding: 9px 12px 0;
    }
    .search .icon-heart-o,
    .search .icon-heart{
        img{
            width: 20px;
            height: 16px;
        }
    }
    .search .icon-heart{
        img{
            width: 21px;
        }
    }
    .search .icon-star{
        img{
            width: 17px;
            height: 16px;
            margin: 0 0 0 3px;
        }
    }
    .search .favourites__content-star{
        span{
            font-size: 16px;
            line-height: 19px;
        }
    }
    // end search styles

    // .go-up{
    //     right: 2%;
    // }

}
// @media (min-width: 1020px){

//     // start header styles
//     .header-bottom__link.icon-basket--small{
//         img{
//             width: 28px;
//         }
//     }
//     // end header styles

// }
@media (max-width: 1015px){

    // start header styles
    // .header-bottom__links{
    //     margin-left: 15%;
    // }
    // end header styles

    // start profile styles
    // .profile__content{
    //     flex-wrap: wrap;
    // }
    // .profile__content-item{
    //     width: 80%;
    //     margin-right: 0;
    //     margin-bottom: 40px;
    // }
    // end profile styles

    // start personal-info styles
    // .personal-info__content {
    //     padding: 36px 33px 42px;
    // }
    // end personal-info styles

}
@media (max-width: 995px){

    // start header styles
    // .header-bottom__login {
    //     margin-left: 20px;
    // }
    // end header styles

    // start loginweb styles
    // .form{
    //     width: 100%;
    //     input{
    //         display: block;
    //     }
    // }
    // .form__register{
    //     margin-top: 30px;
    // }
    // .login__inner{
    //     padding: 60px 0;
    // }
    // end loginweb styles

}
// @media (max-width: 905px){

//     // start header styles
//     .bottom__menu-item {
//         margin-left: 28px;
//     }
//     .bottom__menu-item + .bottom__menu-item {
//         margin-left: 22px;
//     }
//     .header-bottom__login {
//         margin-left: 6px;
//     }
//     .header-bottom__links {
//         margin-left: 5%;
//     }
//     // end header styles

// }
@media (max-width: 850px){

    // start footer styles
    // .footer__inner{
    //     div{
    //         width: 100%;
    //         margin-top: 10px;
    //     }
    // }
    // end footer styles

    // start profile styles
    // .profile__content-item{
    //     width: 100%;
    // }
    // end profile styles

    // start personal-info styles
    // .personal-info__text{
    //     font-size: 14px;
    // }
    // .personal-info__inner{
    //     flex-wrap: wrap;
    // }
    // .personal-info__content{
    //     width: 100%;
    //     margin-top: 40px;
    // }
    // .personal-info{
    //     .profile__sidebar-item{
    //         display: inline-block;
    //         width: auto;
    //         margin-bottom: 0;
    //         & + .profile__sidebar-item{
    //             margin-left: 17px;
    //         }
    //     }
    // }
    // .profile__sidebar-link{
    //     margin-top: 30px;
    // }
    // end personal-info styles

}


// ---------------------------------
// ---------------------------------


// @media (min-width: 768px)

@media (max-width: 750px){

    // start header styles
    // .top__menu-item + .top__menu-item {
    //     margin-left: 20px;
    // }
    // .header-bottom .container{
    //     padding: 0 27px;
    // }
    // .icon-moon{
    //     display: none;
    // }
    // .header-bottom__links{
    //     max-width: none;
    //     margin-left: 20px;
    //     width: auto;
    // }
    // end header styles

    // start profile styles
    // .profile__content{
    //     margin-left: 0;
    // }
    // end profile styles

}
@media (max-width: 660px){

    // start header styles
    // .header .header-bottom__login,
    // .header-bottom__menu{
    //     display: none;
    // }
    // .header-bottom__links{
    //     margin-left: 0;
    //     margin-top: 0;
    // }
    // .header-menu__burger{
    //     display: block;
    //     width: 28px;
    //     height: 12px;
    //     position: relative;
    //     margin-right: 20px;
    //     margin-bottom: 7px;
    //     &::before,
    //     &::after{
    //         position: absolute;
    //         right: 0;
    //         background-color: #000;
    //         width: 100%;
    //         height: 3px;
    //         border-radius: 2px;
    //     }
    //     &::before{
    //         top: 0;
    //         content: '';
    //     }
    //     &::after{
    //         bottom: 0;
    //         content: '';
    //     }
    // }
    // .header-bottom__logo{
    //     margin-left: 40px;
    // }
    // .header-bottom__search{
    //     display: none;
    // }
    // end header styles

    // start profile styles
    // .profile{
    //     background-color: #fff;
    //     padding-bottom: 0;
    //     .container{
    //         padding: 0;
    //     }
    // }
    // .profile__sidebar{
    //     display: flex;
    //     align-items: center;
    //     width: 100%;
    //     min-width: 100%;
    //     padding: 0 17px;
    //     margin-bottom: 30px;
    //     overflow-x: scroll;
    //     -ms-overflow-style: none;
    //     overflow: -moz-scrollbars-none;
    //     &-link{
    //         margin: 6px 0 0 20px;
    //         width: auto;
    //         padding-right: 11px;
    //         white-space: nowrap;
    //     }
    // }
    // .profile__sidebar::-webkit-scrollbar { width: 0; }
    // .profile__sidebar-list{
    //     min-width: 600px;
    //     width: 100%;
    // }
    // .profile__sidebar-top,
    // .profile__sidebar-name{
    //     display: none;
    // }
    // .profile__inner{
    //     flex-wrap: wrap;
    // }
    // .profile__sidebar-item{
    //     display: inline-block;
    //     margin-bottom: 0;
    //     & + &{
    //         margin-left: 17px;
    //     }
    // }
    // .profile__content {
    //     width: 100%;
    // }
    // .profile__content-inner{
    //     justify-content: space-between;
    //     padding: 0 10px;
    // }
    // .profile__content-show--big{
    //     display: block;
    // }
    // .profile__content-show--small{
    //     display: none;
    // }
    // .profile__content-item{
    //     margin-bottom: 0;
    //     & + &{
    //         border-top: 5px solid $bg;
    //     }
    // }
    // end profile styles

    // start personal-info styles
    // .personal-info__inner{
    //     overflow-x: hidden;
    // }
    // .personal-info .container {
    //     padding: 0 10px;
    // }
    // .personal-info{
    //     background-color: #fff;
    //     padding-top: 10px;
    //     padding-bottom: 0;
    // }
    // .personal-info__content{
    //     margin-top: 0;
    // }
    // end personal-info styles

}
@media (max-width: 580px){
    // .container{
    //     padding: 0 27px;
    // }

    // start footer styles
    // .footer .container{
    //     padding: 0 27px;
    // }
    // .footer__inner{
    //     div{
    //         font-size: 11px;
    //         line-height: 13px;
    //     }
    // }
    // end footer styles

    // start personal-info styles
    // .personal-info__content{
    //     padding: 0;
    // }
    // .profile__sidebar{
    //     margin-bottom: 10px;
    // }
    // end personal-info styles
}
@media (max-width: 490px){

    // start footer styles
    // .footer__inner{
    //     padding: 30px 0;
    //     div{
    //         font-size: 13px;
    //         line-height: 16px;
    //     }
    // }
    // .footer__contact-us{
    //     order: 2;
    // }
    // end footer styles

    // start loginweb styles
    // .login__inner{
    //     padding-bottom: 0;
    // }
    // end loginweb styles

}
@media (max-width: 440px){

    // start header styles
    // .header-top{
    //     display: none;
    // }
    // .header-bottom .container{
    //     padding: 0 12px;
    // }
    // .header-bottom__inner {
    //     min-height: 61px;
    //     padding: 9px 0;
    //     align-items: flex-end;
    // }
    // .header-bottom__link + .header-bottom__link {
    //     margin-left: 17px;
    // }
    // .icon-search {
    //     width: 13px;
    // }
    .icon-heart,
    .header .icon-heart{
        width: 16px;
    }
    // .icon-basket{
    //     margin-top: -3px;
    //     img{
    //         width: 16px;
    //     }
    //     span{
    //         font-size: 11px;
    //         vertical-align: middle;
    //     }
    // } 
    // .header-menu__burger{
    //     width: 18px;
    //     height: 7px;
    //     &::before,
    //     &::after{
    //         height: 2px;
    //     }
    // }
    // end header styles

    // start loginweb styles
    // .login__text{
    //     width: 100%;
    //     font-size: 13px;
    //     line-height: 21px;
    // }
    // .title{
    //     font-size: 13px;
    //     line-height: 18px;
    //     margin-bottom: 8px;
    // }
    // .form,
    // .personal-info__form{
    //     input,
    //     select{
    //         width: 100%;
    //         height: 28px;
    //         margin-bottom: 7px;
    //         font-size: 11px;
    //         line-height: 13px;
    //         padding: 7px 9px 8px;
    //         &::placeholder{
    //             font-size: 11px;
    //             line-height: 13px;
    //         }
    //     }
    // }
    // .login__link{
    //     font-size: 11px;
    //     line-height: 13px;
    //     margin-left: 17px;
    // }
    // .login__inner{
    //     padding-top: 14px;
    // }
    // end loginweb styles

    // start footer styles
    // .footer__inner{
    //     div{
    //         font-size: 11px;
    //         line-height: 13px;
    //         margin-top: 7px;
    //     }
    // }
    // end footer styles

    // start profile styles
    // .profile{
    //     padding-top: 0;
    // }
    // .profile__sidebar-item.profile__sidebar-item--active{
    //     a{
    //         color: #000;
    //     }
    // }
    // .profile__content-title,
    // .profile__content-title span{
    //     font-size: 13px;
    //     line-height: 18px;
    // }
    // .profile__content-title span{
    //     position: initial;
    //     margin-left: 5px;
    // }
    // .profile__content-show{
    //     color: $grey;
    //     font-weight: 400;
    //     font-size: 13px;
    //     line-height: 18px;
    // }
    // .profile__content-inner{
    //     margin-top: 9px;
    //     margin-bottom: 11px;
    //     padding: 0;
    // }
    // .profile__content-item{
    //     padding: 0 10px 18px;
    // }
    // .profile__content-box{
    //     display: none;
    // }
    // .profile__content-boxes--small{
    //     display: flex;
    // }
    // .profile__content-box--small{
    //     display: block;
    //     width: 88px;
    //     min-height: 105px;
    //     &:focus,
    //     &:active{
    //         .profile__content-image--small{
    //             border-color: $orange;
    //         }
    //         .profile__content-price--small span{
    //             color: $orange;
    //         }
    //     }
    //     .profile__content-price--small{
    //         span{
    //             font-size: 11px;
    //             line-height: 15px;
    //             @include medium;
    //             padding-left: 5px;
    //             margin: 3px 6px 3px 3px;
    //         }
    //         img{
    //             width: 8px;
    //             height: 8px;
    //         }
    //     }
    //     & + &{
    //         margin-left: 18px;
    //     }
    // }
    // .profile__content-image--small{
    //     width: 100%;
    //     height: 90px;
    //     border: 1px solid $grey;
    //     img{
    //         width: 42px;
    //         @include bgi;
    //         margin: 10px 22px;
    //     }
    // }
    // .profile__sidebar{
    //     margin-top: 10px;
    //     margin-bottom: 15px;
    //    a {
    //         font-size: 11px;
    //         line-height: 15px;
    //     } 
    // } 
    // end profile styles

    // start personal-info styles
    // .personal-info__title,
    // .personal-info__subtitle{
    //     font-size: 13px;
    //     margin-bottom: 8px;
    // }
    // .personal-info__subtitle--small{
    //     display: none;
    // }
    // .personal-info__text{
    //     font-size: 11px;
    //     margin-bottom: 7px;
    //     padding-left: 9px;
    // }
    // .personal-info__btn{
    //     margin-right: 5px;
    // }
    // .personal-info select{
    //     background-size: 8px 4px;
    // }
    // .personal-info__flag {
    //     top: -27px;
    //     right: 9px;
    //     width: 18px;
    //     height: 12px;
    // }
    // .personal-info__item+.personal-info__item {
    //     margin-top: 10px;
    // }
    // .profile__sidebar-list{
    //     min-width: 430px;
    //     width: 100%;
    // }
    // end personal-info styles

    // .btn{
    //     font-size: 11px;
    //     line-height: 13px;
    //     padding: 7px 17px 10px;
    //     height: 30px;
    // }
}