@mixin bgi {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin medium {
    font-family: 'Golos-Medium', sans-serif;
    font-weight: 500;
}
@mixin bold {
    font-family: 'Golos-Bold', sans-serif;
    font-weight: 700;
}

$bg: #f6f6f6;
$orange: #F66310;
$grey: #828282;
$blue: #2DB3FF;
$yellow: #FFCB66;
$red: #FF6262;
$green: #56BF45;
$label: #b9b9b9;
$order: #7f7f7f;
$order-bg: #e9e9e9;
$status: #bebebe;
$checkbox: #e3e3e3;
$comment: #f4f4f4;

$white: #fff;
$dark: #2c2c2c;
$black: #000;
$header-dark: #323232;
$link-dark: #575757;
$order-dark: #3a3a3a;
$checkbox-dark: #474747;
