<ng-container *ngIf="mobile">
    Section mobile ,
</ng-container>

<ng-container *ngIf="!mobile">    
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__rights">
                    <span>2021</span>
                    All rights reserved
                </div>
                <div class="footer__policy">
                    <a href="#">Privacy policy</a>
                </div>
                <div class="footer__contact-us">
                    Contact us
                    <a href="mailto:qrmenmjo38h@temporary-mail.net">qrmenmjo38h@temporary-mail.net</a>
                </div>
                <div class="footer__design">
                    Design
                    <a href="#">Ruslan Yaryzhnov</a>
                </div>
            </div>
        </div>
    </footer>
</ng-container>
