@import "../../../scss/vars";

.footer{
    &__inner{
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        line-height: 24px;
        color: $grey;
        padding: 38px 0;
        a{
            color: $blue;
            margin-left: 15px;
        }
    }
    &__rights{
        span{
            margin-right: 30px;
        }
    }
}

@media (max-width: 1530px){
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__design{
        width: 100%;
        margin-top: 18px;
    }
}
@media (max-width: 1266px){
    .footer .container{
        padding: 0 60px;
    }
    .footer__rights{
        width: 40%;
    }
    .footer__contact-us,
    .footer__design{
        margin-top: 14px;
        width: 60%;
    }
    .footer__contact-us{
        order: 1;
        margin-top: 0;
    }
    .footer__design{
        order: 3;
    }
    .footer__policy{
        order: 2;
        width: 40%;
        margin-top: 14px;
       a{
            margin-left: 0; 
        } 
    }
    .footer__inner{
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 850px){
    .footer__inner{
        div{
            width: 100%;
            margin-top: 10px;
        }
    }
}
@media (max-width: 580px){
    .footer .container{
        padding: 0 27px;
    }
}
@media (max-width: 490px){
    .footer__inner{
        padding: 30px 0;
        div{
            font-size: 13px;
            line-height: 16px;
        }
    }
    .footer__contact-us{
        order: 2;
    }
}
@media (max-width: 440px){
    .footer__inner{
        div{
            font-size: 11px;
            line-height: 13px;
            margin-top: 7px;
        }
    }
}