<bread-crumbs></bread-crumbs>
<section class="shop">
    <div class="container">
        <div class="shop__inner">

            <!-- START SHOP SIDEBAR SECTION -->
            <div class="shop__sidebar">
                <div class="shop__sidebar-title">
                    Products
                    <span>32</span>
                </div>
                <div class="shop__content-top">
                    <div class="shop__content-sort">
                        <img src="/assets/icons/sort.svg" alt="" (click)="toggleSidebar()">
                        Sort by
                    </div>
                    <div class="shop__content-sorted">
                        <div class="content-sorted__item sorted__item-date">
                            Date
                        </div>
                        <div class="content-sorted__item sorted__item-popularity content-sorted__item--active">
                            Popularity
                        </div>
                        <div class="content-sorted__item sorted__item-rating">
                            Rating
                        </div>
                        <div class="content-sorted__item sorted__item-min">
                            Price min
                        </div>
                        <div class="content-sorted__item sorted__item-max">
                            Price max
                        </div>
                    </div>
                </div>     
                <shop-sidebar class="shop-sidebarwrapper" [@SidebarAnimation]="{value: sidebarStatus}" ></shop-sidebar>
            </div>
            <!-- END SHOP SIDEBAR SECTION -->

            <div class="shop__content">
                
                <div class="shop__content-items">
                    <div class="shop__content-found">
                        <span>32</span>
                        products found
                    </div>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <a class="favourites__content-like icon-heart-o" href="#">
                                <img src="/assets/icons/like.svg" alt="">
                            </a>
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_8.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <a class="favourites__content-cart icon-cart" href="#">
                                    <img src="/assets/i/cart_dark.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 9.24
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Bond Silver
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_9.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart">
                                    <img src="/assets/icons/like.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 7.67
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Kent Neo 4
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_10.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 10.11
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Karelia Menthol Slims
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_11.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 10.75
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Parliament Silver Blue
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_12.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 5.72
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Marlboro Flavor Note
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_13.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 4.99
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Red&White Filters
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_14.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 10.97
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Camel Filters
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_15.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 6.48
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Dunhill Fine Cut White
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_7.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 6.48
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Dunhill Fine Cut White
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_6.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 6.48
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Dunhill Fine Cut White
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_5.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 6.48
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Dunhill Fine Cut White
                            </div>
                        </div>
                    </a>
                    <a class="favourites__content-item" href="#">
                        <div class="favourites__content-top">
                            <div class="favourites__content-image">
                                <img src="/assets/content/content_4.jpg" alt="">
                            </div>
                            <div class="favourites__content-rate">
                                <div class="favourites__content-star icon-star">
                                    <img src="/assets/icons/star.svg" alt="">
                                    <span>4.6</span>
                                </div>
                                <div class="favourites__content-like icon-heart-o">
                                    <img src="/assets/icons/heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="favourites__content-bottom">
                            <div class="favourites__content-price">
                                $ 6.48
                                <span>per pack</span>
                            </div>
                            <div class="favourites__content-name">
                                Dunhill Fine Cut White
                            </div>
                        </div>
                    </a>
                    <div class="profile__content-boxes--small">
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                        <a class="profile__content-box--small" href="#">
                            <div class="profile__content-image--small">
                                <img src="/assets/content/profile_content.jpg" alt="">
                            </div>
                            <div class="profile__content-bottom--small">
                                <div class="profile__content-price--small">
                                    <span>$ 10.55</span>
                                    <img src="/assets/icons/plus.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="favourites__content-more">
                    <img src="/assets/icons/sigarettes.svg" alt="">
                </div>
                <go-up></go-up>
            </div>
        </div>
    </div>
</section>
