@import "../../../scss/vars";

.shop__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.shop__sidebar{
    width: 100%;
    display: flex;
    &-title{
        font-size: 28px;
        @include medium;
        margin-bottom: 8px;
        position: relative;
        span{
            font-size: 18px;
            line-height: 21px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            vertical-align: super;
        }
    }
}
.shop-sidebarwrapper{
    position: absolute;
    left: 0;
    top: 65px;
    width: 314px;
}
.shop__content{
    width: 100%;
    margin-left: 390px;
    &-top{
        display: flex;
        margin-bottom: 21px;
        margin-left: 268px;
        & > div{
            font-size: 20px;
            @include medium;
        }
    }
    &-sort{
        margin-right: 38px;
        img{
            display: none;
        }
    }
    &-sorted{
        color: $grey;
        display: flex;
    }
    &-found{
        position: absolute;
        left: 20px;
        top: 900px;
        border: 1px solid $orange;
        padding: 20px 34px 25px;
        font-size: 20px;
        color: $grey;
        background-color: var(--bg);
        z-index: 3;
        span{
            @include medium;
            color: var(--label);
        }
    }
    &-items{
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        position: relative;
    }
    .favourites__content-more{
        margin-bottom: 60px;
    }
}
.content-sorted__item{
    cursor: pointer;
    & + &{
        margin-left: 38px;
    }
    &.content-sorted__item--active{
        color: $orange;
    }
}
.sorted__item-date,
.profile__content-boxes--small{
    display: none;
}
.favourites{
    &__content{
        &-item{
            margin-left: 20px;
            margin-bottom: 70px;
            max-width: 375px;
            width: 100%;
            position: relative;
            display: block;
        }
        &-top{
            border: 1px solid $grey;
            height: 375px;
        }
        &-image-wrapper{
            display: block;
            width: 190px;
            height: 305px;
            margin: 37px auto -14px;
        }
        &-image{
            width: inherit;
            height: inherit;
            margin: auto;
            img{
                @include bgi;
                width: inherit;
                height: inherit;
            }
        }
        &-rate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 27px 27px;
            position: relative;
            z-index: 3;
        }
        &-star{
            display: flex;
            align-items: center;
            span{
                margin: 0 8px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
        &-like{
            display: block;
            position: absolute;
            top: 16px;
            right: 27px;
            width: 25px;
            height: 25px;
            z-index: 3;
        }
        &-cart{
            display: block;
            width: 29px;
            height: 23px;
            margin-bottom: 8px;
        }
        &-bottom{
            padding: 15px 18px 0;
        }
        &-price{
            font-size: 30px;
            @include medium;
            margin-bottom: 16px;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
        }
    }
}
.favourites__content-like:hover{
    background-image: url(/assets/icons/cart-like_on.svg);
    .favourites__content-like img{
        display: none;
    }
}
.favourites__content-cart:hover{
    background-image: url(/assets/icons/cart-full.svg);
    .favourites__content-cart img{
        display: none;
    }
}
.favourites__content-more{
    width: 25px;
    margin: 0 auto 25px;
    cursor: pointer;
    img{
        width: inherit;
        @include bgi;
    }
}

@media (max-width: 1366px){
    .favourites__content-item{
        max-width: 276px;
        margin-bottom: 50px;
    }
    .favourites__content-top{
        height: 277px;
    }
    .favourites__content-image-wrapper{
        width: 136px;
        height: 222px;
        margin: 27px auto -34px;
    }
    .favourites__content-rate{
        align-items: flex-end;
    }
    .favourites__content-star{
        display: block;
        span{
            display: block;
            margin: 0;
        }
        img{
            margin: 0 3px;
        }
    }
    .favourites__content-bottom{
        padding-top: 13px;
    }
    .shop-sidebarwrapper{
        width: 240px;
    }
    .shop__content{
        margin-left: 290px;
    }
    .shop__content-top>div{
        font-size: 18px;
    }
    .shop__content-found{
        display: none;
    }
    .shop__content-top{
        margin-left: 183px;
    }
}
@media (max-width: 1120px){
    .shop .container{
        padding: 0 60px;
    }
}
@media (max-width: 1024px){
    .favourites__content-item{
        max-width: 211px;
        margin-left: 18px;
    }
    .favourites__content-image-wrapper{
        width: 103px;
        height: 169px;
        margin: 21px auto -43px;
    }
    .favourites__content-top{
        height: 210px;
    }
    .favourites__content-like{
        top: 14px;
        right: 16px;
    }
    .favourites__content-rate{
        padding: 0 16px 14px;
    }
    .favourites__content-bottom{
        padding: 9px 10px 0;
    }
    .favourites__content-price{
        font-size: 27px;
        margin-bottom: 6px;
    }
    .favourites__content-name{
        font-size: 16px;
    }
    .shop{
        &__sidebar{
            position: relative;
            height: 100%;
        }
    }
    .shop-sidebarwrapper{
        top: 43px;
        z-index: 5;
        width: 904px;
        background-color: var(--bg);
        height: 465px;
    }
    .shop__content-sort{
        img{
            display: inline;
            margin-right: 24px;
            width: 18px;
            height: 12px;
            @include bgi;
            cursor: pointer;
        }
    }
    .shop__content{
        margin-left: 3px;
    }
    .shop__content-top {
        margin-left: 135px;
    }
}
@media (max-width: 990px){
    .shop-sidebarwrapper{
        top: 100px;
        width: 101%;
        height: auto;
    }
    .shop__sidebar{
        flex-wrap: wrap;
    }
    .shop__content-top{
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }
    .shop__content-sort{
        img{
            position: absolute;
            top: 15px;
            right: 0;
            width: 30px;
            height: 20px;
        }
    }
}
@media (max-width: 800px){
    .shop .container{
        padding: 0 20px;
    }
    .shop__sidebar-title,
    .shop__sidebar-title span{
        font-size: 24px;
    }
    .shop__sidebar-title span{
        vertical-align: revert;
        margin-left: 6px;
        font-family: 'Golos-Medium', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $grey;
    }
    .shop__content-sort img{
        top: 5px;
    }
}
@media (max-width: 650px){
    .sorted__item-min,
    .sorted__item-max{
        display: none;
    }
    .sorted__item-date{
        display: block;
        order: 1;
    }
    .sorted__item-rating{
        order: 2;
    }
    .sorted__item-popularity{
        order: 3;
    }
}
@media (max-width: 485px){
    .favourites__content-item{
        max-width: 191px;
    }
}
@media (max-width: 440px){
    .shop .container{
        padding: 0 10px;
    }
    .shop-sidebarwrapper{
        top: 65px;
    }
    .shop__sidebar-title{
        margin-top: 8px;
        margin-bottom: 13px;
    }
    .shop__sidebar-title,
    .shop__sidebar-title span{
        font-size: 14px;
        line-height: 20px;
    }
    .shop__content-sort{
        margin-right: 14px;
        img{
            top: 13px;
            width: 16px;
            height: 11px;
            margin-right: 0;
        }
    }
    .shop__content-top{
        margin-top: 0;
    }
    .shop__content-top > div{
        font-size: 13px;
    }
    .shop__content-sorted{
        margin-top: 1px;
        &  > div{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
    }
    .content-sorted__item{
        & + &{
            margin-left: 14px;
        }
    }
    .favourites__content-item{
        display: none;
    }
    .profile__content-boxes--small{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1px;
    }
    .profile__content-box--small{
        display: block;
        width: 88px;
        min-height: 105px;
        margin-left: 17px;
        margin-bottom: 20px;
        &:focus,
        &:active{
            .profile__content-image--small{
                border-color: $orange;
            }
            .profile__content-price--small span{
                color: $orange;
            }
        }
        .profile__content-price--small{
            span{
                font-size: 11px;
                line-height: 15px;
                @include medium;
                padding-left: 5px;
                margin: 3px 6px 3px 3px;
            }
            img{
                width: 8px;
                height: 8px;
            }
        }
    }
    .profile__content-image--small{
        width: 100%;
        height: 90px;
        border: 1px solid $grey;
        img{
            width: 42px;
            @include bgi;
            margin: 10px 22px;
        }
    }
    .shop__content .favourites__content-more{
        width: 15px;
        margin: 7px auto 0;
        img{
            width: inherit;
        }
    }
}