<div class="home__cigarettes-top">
    <div class="home__cigarettes-title home__title" [ngClass]="{'home__cigarettes-title--off': currentTab != 'cigarettes'}" (click)="changeCurrentProducts('cigarettes')">
        Cigarettes
    </div>
    <div class="home__cigarettes-title home__title" [ngClass]="{'home__cigarettes-title--off': currentTab != 'ths'}" (click)="changeCurrentProducts('ths')">
        Tobacco Heating Systems
    </div>
    <div class="home__cigarettes-title home__title" [ngClass]="{'home__cigarettes-title--off': currentTab != 'sticks'}" (click)="changeCurrentProducts('sticks')">
        Heets
    </div>
</div>
<div class="home__cigarettes-items">
    <div class="story-item__gradient"></div>  


    <div class="favourites__content-item" *ngFor="let product of currentProducts">
        <div class="favourites__content-top">
            <a class="favourites__content-like icon-heart-o" (click)="likeProduct(product)">
                <img src="/assets/icons/like.svg" alt="">
            </a>
            <a class="favourites__content-image-wrapper" href="#" [routerLink]="[product.category.slug, product.slug]">
                <div class="favourites__content-image">
                    <img src="{{ getMainImageSrc(product) }}" alt="">
                </div>    
            </a>

            <div class="favourites__content-rate">
                <a href="#" [routerLink]="[product.category.slug, product.slug]">
                    <div class="favourites__content-star icon-star">
                        <img src="/assets/icons/star.svg" alt="">
                        <span>{{product.rate}}</span>
                    </div>
                </a>
                <a class="favourites__content-cart icon-cart" (click)="addtoCart(product)">
                    <img src="/assets/i/cart_dark.svg" alt="">
                </a>
            </div>
        </div>
        <a href="#" [routerLink]="[product.category.slug, product.slug]">
            <div class="favourites__content-bottom">
                <div class="favourites__content-price">
                    {{product.price | currency}}
                    <span>per pack</span>
                </div>
                <div class="favourites__content-name">
                    {{product.name}}
                </div>
            </div>
        </a>
    </div>

    <div class="favourites__content-item" style="overflow: hidden;" *ngFor="let i of loadingArray">
        <div class="favourites__content-top shine_effect" style="border: none;position: relative;">&nbsp;</div>
        <div class="favourites__content-bottom" style="padding-left: 0;">
            <div class="favourites__content-price shine_effect "  style="overflow: hidden;position: relative;">&nbsp;</div>
            <div class="favourites__content-name shine_effect" style="width: 50%;overflow: hidden;position: relative;">&nbsp;</div>
        </div>
    </div>

    <div class="profile__content-boxes--smallwrapper">
        <div class="profile__content-boxes--small">
            <a class="profile__content-box--small" *ngFor="let product of currentProducts" href="#" [routerLink]="[product.category.seo_cat, product.slug]">
                <div class="profile__content-image--small">
                    <img src="{{ getMainImageSrc(product) }}" alt="">
                </div>
                <div class="profile__content-bottom--small">
                    <div class="profile__content-price--small">
                        <span>{{product.price | currency}}</span>
                        <img src="/assets/icons/plus.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>