<div class="story__content">
    <div class="story__content-gradient story-item__gradient story-item__gradient--left"></div>
    <div class="story__content-gradient story-item__gradient"></div>
    <div class="favourites__content-inner">
        <div class="favourites__content-title">
            My story
            <span>102</span>
        </div>
        <div class="story__content-wrapper">
            <div class="favourites__content-dates">
                <div class="favourites__content-date favourites__content-date--active">
                    2021
                </div>
                <div class="favourites__content-date">
                    2022
                </div>
                <div class="favourites__content-date">
                    2023
                </div>
            </div>
            <div class="favourites__content-agos">
                <div class="favourites__content-date favourites__content-ago">
                    Yesterday
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    Week ago
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    Month ago
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    3 Month ago
                </div>
                <div class="favourites__content-date favourites__content-ago">
                    6 Month ago
                </div>
            </div>
        </div>
    </div>
    <div class="favourites__content-agoswrapper">
        <div class="favourites__content-agos favourites__content-agos--small">
            <div class="favourites__content-date favourites__content-ago">
                Yesterday
            </div>
            <div class="favourites__content-date favourites__content-ago">
                Week ago
            </div>
            <div class="favourites__content-date favourites__content-ago">
                Month ago
            </div>
            <div class="favourites__content-date favourites__content-ago">
                3 Month ago
            </div>
            <div class="favourites__content-date favourites__content-ago">
                6 Month ago
            </div>
        </div>
    </div>
    <div class="story__content-items">
        <div class="story-item__gradient"></div>
        <div class="story__content-title">
            Yesterday
        </div>
        <div class="story__content-box">
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_1.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 9.67
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Classic Red
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_2.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 8.10
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Lucky Strike Red
                    </div>
                </div>
            </a>
            <div class="profile__content-boxes--smallwrapper">
                <div class="profile__content-boxes--small">
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="../images/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="../images/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="../images/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="../images/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="story__content-title">
            Week ago
        </div>
        <div class="story__content-box">
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_4.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 6.88
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Chesterfield Blue
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_5.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 9.41
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        L&M Red Label
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_6.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 10.39
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Temp Filters Export
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_7.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 10.89
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Cosmos King Size
                    </div>
                </div>
            </a>
            <div class="profile__content-boxes--smallwrapper">
                <div class="profile__content-boxes--small">
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="../images/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="../images/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="../images/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="../images/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="../images/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="../images/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="../images/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="../images/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="story__content-title">
            Month ago
        </div>
        <div class="story__content-box">
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_8.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 9.24
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Bond Silver
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_9.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart">
                            <img src="/assets/icons/like.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 7.67
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Kent Neo 4
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_10.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 10.11
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Karelia Menthol Slims
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_11.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 10.75
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Parliament Silver Blue
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_12.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 5.72
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Marlboro Flavor Note
                    </div>
                </div>
            </a>
            <a class="favourites__content-item" href="#">
                <div class="favourites__content-top">
                    <div class="favourites__content-image">
                        <img src="/assets/content/content_13.jpg" alt="">
                    </div>
                    <div class="favourites__content-rate">
                        <div class="favourites__content-star icon-star">
                            <img src="/assets/icons/star.svg" alt="">
                            <span>4.6</span>
                        </div>
                        <div class="favourites__content-like icon-heart-o">
                            <img src="/assets/icons/heart.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="favourites__content-bottom">
                    <div class="favourites__content-price">
                        $ 4.99
                        <span>per pack</span>
                    </div>
                    <div class="favourites__content-name">
                        Red&White Filters
                    </div>
                </div>
            </a>
            <div class="profile__content-boxes--smallwrapper">
                <div class="profile__content-boxes--small">
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="story__content-title">
            3 Month ago
        </div>
        <div class="story__content-box">
            <div class="profile__content-boxes--smallwrapper">
                <div class="profile__content-boxes--small">
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a class="profile__content-box--small" href="#">
                        <div class="profile__content-image--small">
                            <img src="/assets/content/profile_content.jpg" alt="">
                        </div>
                        <div class="profile__content-bottom--small">
                            <div class="profile__content-price--small">
                                <span>$ 10.55</span>
                                <img src="/assets/icons/plus.svg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>