@import "../../../../scss/vars";

.story,
.favourites{
    &__content{
        width: 100%;
        &-inner{
            margin-bottom: 38px;
            display: flex;
            align-items: flex-end;
        }
        &-title{
            font-size: 36px;
            @include medium;
            position: relative;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                vertical-align: super;
            }
        }
        &-dates{
            margin-left: 50px;
            margin-bottom: 4px;
        }
        &-date{
            display: inline-block;
            margin-left: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 22px;
            color: $grey;
            cursor: pointer;
        }
        &-items,
        .story__content-box{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-left: -20px;
        }
        .story__content-items{
            margin-left: 0;
        }
        &-item{
            margin-left: 20px;
            margin-bottom: 70px;
            max-width: 375px;
            width: 100%;
            position: relative;
            display: block;
        }
        &-top{
            border: 1px solid $grey;
            height: 375px;
        }
        &-image{
            width: 190px;
            height: 305px;
            margin: 37px auto -14px;
            img{
                @include bgi;
                width: inherit;
                height: inherit;
            }
        }
        &-rate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 27px 27px;
        }
        &-star{
            display: flex;
            align-items: center;
            span{
                margin: 0 8px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
        &-bottom{
            padding: 15px 18px 0;
        }
        &-price{
            font-size: 30px;
            @include medium;
            margin-bottom: 16px;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
        }
    }
}
.favourites__content-date.favourites__content-date--active{
    color: var(--label);
}
.story__content-wrapper{
    display: flex;
}
.story__content-title{
    font-size: 24px;
    @include medium;
    margin-bottom: 21px;
}
.favourites__content-agos{
    margin: 0 0 0 40px;
}
.profile__content-boxes--small,
.story-item__gradient,
.favourites__content-agos--small{
    display: none;
}

@media (max-width: 1730px){
    .story__content-wrapper{
        display: block;
    }
    .favourites__content-inner{
        align-items: center;
    }
    .favourites__content-agos {
        margin-left: 50px;
    }
}
@media (max-width: 1460px){
    .favourites__content-date{
        font-size: 20px;
    }
    .favourites__content-title{
        font-size: 30px;
        min-width: 130px;
        span{
            font-size: 16px;
        }
    }
    .favourites__content-inner{
        margin-left: 10px;
    }
    .story__content-title{
        font-size: 22px;
    }
}
@media (max-width: 1366px){
    .favourites__content-item{
        max-width: 276px;
        margin-bottom: 50px;
    }
    .favourites__content-top{
        height: 277px;
    }
    .favourites__content-image{
        width: 136px;
        height: 222px;
        margin: 27px auto -34px;
    }
    .favourites__content-rate{
        align-items: flex-end;
    }
    .favourites__content-star{
        display: block;
        span{
            display: block;
            margin: 0;
        }
        img{
            margin: 0 3px;
        }
    }
    .favourites__content-bottom{
        padding-top: 13px;
    }
}
@media (max-width: 1280px){
    .favourites__content-inner{
        flex-wrap: wrap;
        margin: 0 0 14px 0;
    }
    .story__content-wrapper{
        width: 100%;
    }
    .favourites__content-title{
        min-width: auto;
        margin-bottom: 13px;
    }
    .favourites__content-dates,
    .favourites__content-agos,
    .favourites__content-date,
    .favourites__content-ago{
        margin-left: 0;
    }
    .favourites__content-dates{
        margin-bottom: 10px;
    }
    .favourites__content-date + .favourites__content-date{
        margin-left: 10px;
    }
    .favourites__content-ago + .favourites__content-ago{
        margin-left: 20px;
    }
}
@media (max-width: 1024px){
    .favourites__content-inner{
        margin-bottom: 21px;
    }
    .favourites__content-item{
        max-width: 211px;
        margin-left: 14px;
    }
    .favourites__content-image {
        width: 103px;
        height: 169px;
        margin: 21px auto -43px;
    }
    .favourites__content-top{
        height: 210px;
    }
    .favourites__content-rate{
        padding: 0 16px 14px;
    }
    .favourites__content-bottom{
        padding: 9px 10px 0;
    }
    .favourites__content-price{
        font-size: 27px;
        margin-bottom: 6px;
    }
    .favourites__content-name{
        font-size: 16px;
    }
}
@media (max-width: 800px){
    .favourites__content-title,
    .favourites__content-title span{
        font-size: 20px;
    }
    .favourites__content-title span{
        vertical-align: revert;
        margin-left: 6px;
        font-family: 'Golos-Medium', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $grey;
    }
    .favourites__content-dates{
        margin-bottom: 0;
        margin-left: 0;
    }
    .favourites__content-date{
        font-size: 14px;
        & + &{
            margin-left: 10px;
        }
    }
    .favourites__content-item{
        margin-left: 10px;
        max-width: 200px;
    }
    .story__content-title{
        font-size: 16px;
    }
}
@media (max-width: 660px){
    .story__content{
        padding: 0 10px;
    }
    .story__content .story__content-box{
        margin-left: -10px;
    }
}
@media (max-width: 440px){
    .story__content{
        position: relative;
    }
    .story__content-items{
        margin-right: -10px;
        position: relative;
    }
    .favourites__content-inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .story__content-wrapper{
        width: auto;
    }
    .favourites__content-title,
    .favourites__content-title span{
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
    }
    .favourites__content-date,
    .story__content-title{
        font-size: 11px;
    }
    .story__content-title{
        margin-bottom: 8px;
    }
    .favourites__content-item{
        display: none;
    }
    .favourites__content-agos{
        display: none;
    }
    .favourites__content-agoswrapper{
        position: relative;
        min-width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar { width: 0; }
    }
    .favourites__content-agos.favourites__content-agos--small{
        display: block;
        min-width: max-content;
        width: max-content;
        margin-bottom: 8px;
        white-space: nowrap;
    }
    .story__content .story__content-box{
        margin-left: 0;
    }
    .profile__content-boxes--smallwrapper{
        width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        // &::-webkit-scrollbar { width: 0; }
    }
    .profile__content-boxes--small{
        width: max-content;
        min-width: max-content;
        display: flex;
        margin-left: -18px;
    }
    .profile__content-box--small{
        display: block;
        width: 88px;
        min-height: 105px;
        margin-left: 18px;
        margin-bottom: 18px;
        &:focus,
        &:active{
            .profile__content-image--small{
                border-color: $orange;
            }
            .profile__content-price--small span{
                color: $orange;
            }
        }
        .profile__content-price--small{
            span{
                font-size: 11px;
                line-height: 15px;
                @include medium;
                padding-left: 5px;
                margin: 3px 6px 3px 3px;
            }
            img{
                width: 8px;
                height: 8px;
            }
        }
    }
    .profile__content-image--small{
        width: 100%;
        height: 90px;
        border: 1px solid $grey;
        img{
            width: 42px;
            @include bgi;
            margin: 10px 22px;
        }
    }
    .story-item__gradient{
        display: block;
        top: 0;
        bottom: 0;
        position: absolute;
        right: -2px;
        z-index: 3;
        width: 100px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
    .story__content-gradient.story-item__gradient{
        top: 25px;
        bottom: auto;
        width: 50px;
        height: 25px;
    }
    .story__content-gradient.story-item__gradient--left{
        display: none;
        width: 25px;
        left: 9px;
        right: auto;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
    }
}